
section#alert {
  position: fixed;
  z-index: 13;
  top: -48px;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(255, 255, 255, .95);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2);
  padding: 12px;
  color: #666;
  font-size: 15px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: top .3s linear, box-shadow .3s linear;
  -webkit-transition: top .3s linear, box-shadow .3s linear;
  -moz-transition: top .3s linear, box-shadow .3s linear;

  button.alert-close {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
    right: 30px;
    position: absolute;
    top: 6px;
    color: #888;

    &:hover {
      color: #444;
    }
  }
}

section#alert.active {
  top: 0;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .1);
}

section#alert.error {
  background-color: rgba(242, 156, 33, .69);
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(242, 156, 33, .2), 0 1px 2px rgba(242, 156, 33, .1);
}

section#alert.success {
  background: rgba(41, 184, 235, .68);
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(41, 184, 235, .2), 0 1px 2px rgba(41, 184, 235, .1);
}

