div[ ng-app="App" ng-controller="Ctrl"]
	= render 'ts_metro_theme/templates/interface'
	= render 'ts_metro_theme/templates/interface/header'
	= render 'ts_metro_theme/templates/interface/chapter_tests'
