div[ ng-app="App" ng-controller="Ctrl"]
  = render 'ts_metro_theme/templates/interface'

	flip-tile status="status" heading="Test 0" message="This test will unlock after" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}" is-live="true" front-countdown-init="countdown" front-message="'dsadad dsadasd dsadsada'" back-countdown-init="countdown" front-countdown-trigger="test.fn" back-countdown-trigger="test.fn" ng-init="countdown = 10000; status = 'locked'"

  flip-tile status="status2" heading="Test 0" message="This test will unlock after" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}" is-live="true" front-countdown-init="countdown" front-message="'dsadad dsadasd dsadsada'" back-countdown-init="countdown" front-countdown-trigger="test.fn" back-countdown-trigger="test.fn" ng-init="countdown = 10000; status2 = 'solution'"

  flip-tile status="status3" heading="Mini Test" message="This test will unlock after" is-live="true" front-countdown-init="countdown3" front-message="'dsadad dsadasd dsadsada'" back-countdown-init="countdown4" front-countdown-trigger="test.fn('front finished')" back-countdown-trigger="test.fn('back finished')" ng-init="countdown3 = 100; countdown4 = 400; status3 = 'solution'"

  span ng-init='attempts2 = [{label: 1, result: [45,20,35]}, {label: 2, result: [40,25,35]}, {label: 3, result: [35,30,35]}, {label: 4, result: [45,30,25]}, {label: 5, result: [15,30,55]}, {label: 6, result: [40,30,30]}, {label: 7, result: [45,20,35]}, {label: 8, result: [45,20,35]}, {label: 9, result: [45,20,35]}, {label: 10, result: [45,20,35]}, {label: 11, result: [45,20,35]}, {label: 12, result: [45,20,35]}, {label: 13, result: [45,20,35]}, {label: 14, result: [45,20,35]}, {label: 15, result: [45,20,35]}, {label: 16, result: [45,20,35]}]'
  breakdown daily="true" attempts="attempts2" style="width: 100%"
  button ng-click="helpVisible = !helpVisible" ng-init="helpVisible = false" Show Help
  help visible="helpVisible"

  // For help elements
  h1 Directive: Flag Plot

  flag-plot user="10" peer-fast="20" peer-slow="30" flag="50" prediction="12,000" help-el="true" help-pos="top" help-class="boo" help-msg="Do this, Do that."

  unlock-jee count="0"
  unlock-jee count="4"

  h1[intro-el intro-pos="bottom" intro-text="sample text"] Alert notification:
  button ng-click="ui.showAlert('Helloh world')"
    | Click!
  section#alert ng-class="ui.showAlertClass"
    span.msg
      | {{ ui.showAlertMsg }}
    button.alert-close ng-click="ui.showAlertClass = ''" x


  h1 Footer

  footer
    .container
      span &copy; 2014 Indiavidual Learning Pvt. Ltd.

  hr

  h1 Overlay:
  button ng-click="ui.showOverlay(); $event.stopPropagation();" help-el="true" help-msg="Yeah right"
    | Click!
  section.overlay ng-class="ui.showOverlayClass" ng-click="ui.hideOverlay(); $event.stopPropagation();"
    .overlay-container.badge-container ng-click="ui.showOverlay(); $event.stopPropagation();"
  hr

  h1 Typeahead
  .container-fluid
    h4 Static arrays
    pre[ng-non-bindable]
      |
        p Model: {{selected | json}}
        input.form-control ng-model="selected" type="text" typeahead="state for state in ['Assam', 'Maharashtra'] | filter:$viewValue | limitTo:8"
    p Model: {{selected | json}}
    input.form-control ng-model="selected" type="text" typeahead="state for state in ['Assam', 'Maharashtra'] | filter:$viewValue | limitTo:8"
  hr

  h1 Datepicker
  div
    pre[ng-non-bindable]
      |
        h4 Inline
        datepicker min="minDate" show-weeks="false" ng-model="dt"
        h4 Input
        div style="height: 125px; display:block;"
          input type="text" show-weeks="false" ng-model="dt" datepicker-popup="dd-MMMM-yyyy" is-open="opened" max="'2015-06-22'" min="2000-01-01"
        p
          | Selected date:  {{ dt | date:'fullDate' }}
    h4 Inline
    div style="height: 125px; display:block;"
      datepicker min="minDate" show-weeks="false" ng-model="dt"
    h4 Input
    input type="text" show-weeks="false" ng-model="dt" datepicker-popup="dd-MMMM-yyyy" is-open="opened" max="'2015-06-22'" min="2000-01-01"
    p
      | Selected date:  {{ dt | date:'fullDate' }}
  hr

  = render 'ts_metro_theme/templates/interface'
  h1 Directives
  p Include this line in the template and add TsMetroTheme.interface as an angular module dependency.
  pre
    |= render 'ts_metro_theme/templates/interface'
  hr

  h1 Directive: test-summary
  pre
    | test-summary type="physics" score="85" coverage="102/120"
      test-summary type="chemistry" score="77" coverage="100/120"
      test-summary type="maths" score="85" coverage="40/120"

  test-summary type="physics" score="85" coverage="102/120"
  test-summary type="chemistry" score="77" coverage="100/120"
  test-summary type="maths" score="85" coverage="40/120"

  h1 Directive: section-summary
  pre
    |
      section-summary section="Physics" stats="{Physics:{score: '10 %', marks: '10/100', embibium: 6, wastedAttempts: 4, timeTrolls: 3, nonAttempts: 22, right: 23, wrong: 40 }}"

  section-summary section="Physics" stats="{Physics:{score: '10 %', marks: '10/100', embibium: 6, wastedAttempts: 4, timeTrolls: 3, nonAttempts: 22, right: 23, wrong: 40 }, Chemistry:{score: '10 %', marks: '10/100', embibium: 6, wastedAttempts: 4, timeTrolls: 3, nonAttempts: 22 }, Mathematics:{score: '10 %', marks: '10/100', embibium: 6, wastedAttempts: 4, timeTrolls: 3, nonAttempts: 22 }}"


  h1 Directive: referral
  p Slim:
  pre
    |
      referral-summary type="invited" crystals-per-type="10" number="50"
      referral-summary type="joined" crystals-per-type="20" number="20"
      referral-summary type="bought" crystals-per-type="100" number="10"

  referral-summary type="invited" crystals-per-type="10" number="50"
  referral-summary type="joined" crystals-per-type="20" number="20"
  referral-summary type="bought" crystals-per-type="100" number="10"
  hr

  h1 Directive: stat
  p Slim:
  pre
    | stat type="perfect" count="3"
      stat type="strong" count="3"
      stat type="overtime" count="3"
      stat type="wasted" count="3"
  stat type="perfect" count="3"
  stat type="strong" count="3"
  stat type="overtime" count="3"
  stat type="wasted" count="3"
  hr

  h1 Directive: master-tile
  p Slim:
  pre
    | master-tile title="Click to unlock" status="'locked'" heading="JEE (Main)"
  master-tile title="Click to unlock" status="'locked'" heading="JEE (Main)"
  hr
