div.main-container[ ng-app="App" ng-controller="Ctrl"]
  = render "ts_metro_theme/templates/interface"
  ui-view.view-container

  script type="text/ng-template" id="profile-i.html"
    = render "ts_metro_theme/templates/interface/profile"
  script type="text/ng-template" id="profile-ii.html"
    = render "ts_metro_theme/templates/interface/profile_edit"
  script type="text/ng-template" id="feed.html"
    = render "ts_metro_theme/templates/interface/feedback"
  script type="text/ng-template" id="mainpage.html"
    = render "ts_metro_theme/templates/interface/test_series"
  script type="text/ng-template" id="default.html"
    h1 Oh. Hai.
    ol
      li
        a href="prof" Profile 1
      li
        a href="prof_" Profile 2
      li
        a href="feed" Feed
      li
        a href="main" Main
