div.main-container[ ng-app="App" ng-controller="Ctrl"]
  = render 'ts_metro_theme/templates/test'
  = render "ts_metro_theme/templates/test/header"
  ui-view.view-container
  //= render "ts_metro_theme/templates/test/footer"

  script type="text/ng-template" id="login.html"
    = render "ts_metro_theme/templates/test/login"
  script type="text/ng-template" id="instructions.html"
    = render "ts_metro_theme/templates/test/instructions"
  script type="text/ng-template" id="start.html"
    = render "ts_metro_theme/templates/test/start"
  script type="text/ng-template" id="mock.html"
    = render "ts_metro_theme/templates/test/mock"
  script type="text/ng-template" id="exit.html"
    section.lhs
      = render "ts_metro_theme/templates/test/endscreen"
    section.rhs
      img.candi-img src=image_path("ts_metro_theme/test/NewCandidateImage.jpg")

  script type="text/ng-template" id="wrapper-stuff.html"
    section.lhs
      h1 Sample Pages
      ul
        li
          a [ui-sref="login"] Login page
        li
          a [ui-sref="instructions"] Instructions page
        li
          a [ui-sref="start"] Start page
        li
          a [ui-sref="mock"] Mock page

      h1 Html
      p We recommend using something like
      pre
        |  = render "ts_metro_theme/templates/test/header"
           ui-view.view-container
           = render "ts_metro_theme/templates/test/footer"

      h1 Directives
      p Include this line in the template and add TsMetroTheme.test as an angular module dependency.
      pre
        |= render 'ts_metro_theme/templates/test'

      h1 Directive: question-button:
      pre
        | question-button type="created" value="1"
          question-button type="visited" value="1"
          question-button type="answered" value="1"
          question-button type="review" value="1"
          question-button type="review_answered" value="1"
          question-button type="finished" value="1"
          question-button type="discarded" value="1"
          question-button type="not_visited" value="1"
          question-button type="not_answered" value="1"
          question-button

      question-button type="created" value="1"
      question-button type="visited" value="1"
      question-button type="answered" value="1"
      question-button type="review" value="1"
      question-button type="review_answered" value="1"
      question-button type="finished" value="1"
      question-button type="discarded" value="1"
      question-button type="not_visited" value="1"
      question-button type="not_answered" value="1"
      question-button
      .clearfix
      hr

      h1 Directive: section-button
      pre
        |= section-button name="Physics" class="active" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
         = section-button name="Chemistry" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
         = section-button name="Maths" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"

      section-button name="Physics" class="active" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
      section-button name="Chemistry" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
      section-button name="Maths" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
      hr

      h1 Directive: instructions
      pre
        |= instructions type="other"
          h1 Heading
         = instructions type="general"

      instructions type="other"
        h1 Heading
      instructions type="general"
      hr

