div[ ng-app='App' ng-controller='Ctrl']
  = render 'ts_metro_theme/templates/interface'
  h1 How Did You Perform Across All Your Mock Tests?
  span ng-init="items = [ { color: '#a55aff',label: 'Physics',points: [ {label: 'Test 1', value: 340},{ label: 'Test 2', value: 300}, {label: 'Test 3', value: 30}, {label: 'Test 4', value: 320}, {label: 'Test 5', value: 230}, {label: 'Test 6', value: 220}, {label: 'Test 7', value: 210}, {label: 'Test 8', value: 200}, {label: 'Test 9', value: 140}, {label: 'Test 10', value: 10}, {label: 'Test 11', value: 20}, {label: 'Test 12', value: 50}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 130}, { test:'Test 15', value: 70} ]}, { color: '#ff457d',label: 'Chemistry',points: [ {label: 'Test 1', value: 320},{ test: 'Test 2', value: 300}, {label: 'Test 3', value: 230}, {label: 'Test 4', value: 30}, {label: 'Test 5', value: 330}, {label: 'Test 6', value: 230}, {label: 'Test 7', value: 280}, {label: 'Test 8', value: 20}, {label: 'Test 9', value: 14}, {label: 'Test 10', value: 100}, {label: 'Test 11', value: 210}, {label: 'Test 12', value: 150}, {label: 'Test 13', value: 135}, {label: 'Test 14', value: 13}, { test:'Test 15', value: 170} ] }, { color: '#46d8de',label: 'Mathematics',points: [ {label: 'Test 1', value: 30},{ test: 'Test 2', value: 50}, {label: 'Test 3', value: 20}, {label: 'Test 4', value: 310}, {label: 'Test 5', value: 310}, {label: 'Test 6', value: 230}, {label: 'Test 7', value: 230}, {label: 'Test 8', value: 230}, {label: 'Test 9', value: 143}, {label: 'Test 10', value: 10}, {label: 'Test 11', value: 240}, {label: 'Test 12', value: 112}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 130}, { test:'Test 15', value: 10} ] }, { color: '#4d4d4f', label: 'Unattempted',points: [ {label: 'Test 1', value: 230},{ test: 'Test 2', value: 310}, {label: 'Test 3', value: 30}, {label: 'Test 4', value: 310}, {label: 'Test 5', value:230}, {label: 'Test 6', value: 20}, {label: 'Test 7', value: 280}, {label: 'Test 8', value: 40}, {label: 'Test 9', value: 104}, {label: 'Test 10', value: 300}, {label: 'Test 11', value: 200}, {label: 'Test 12', value: 50}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 133}, { test:'Test 15', value: 179} ] }]"
  test-on-test attempts='items'
  h1 Breakdown of your Performance
  breakdown daily="true" attempts="attempts2" ng-init="attempts2 = [{label: 1, result: [45,20,35]}, {label: 2, result: [40,25,35]}, {label: 3, result: [35,30,35]}, {label: 4, result: [45,30,25]}, {label: 5, result: [15,30,55]}, {label: 6, result: [40,30,30]}, {label: 7, result: [45,20,35]}, {label: 8, result: [45,20,35]}, {label: 9, result: [45,20,35]}, {label: 10, result: [45,20,35]}, {label: 11, result: [45,20,35]}, {label: 12, result: [45,20,35]}, {label: 13, result: [45,20,35]}, {label: 14, result: [45,20,35]}, {label: 15, result: [45,20,35]}, {label: 16, result: [45,20,35]}]" style="width: 100%"
  h1 How did you manage time accross subjects?
  span ng-init="items2 = [ { color: '#a55aff',label: 'Physics',points: [ {label: 'Test 1', value: 34},{ label: 'Test 2', value: 30}, {label: 'Test 3', value: 30}, {label: 'Test 4', value: 20}, {label: 'Test 5', value: 30}, {label: 'Test 6', value: 22}, {label: 'Test 7', value: 21}, {label: 'Test 8', value: 20}, {label: 'Test 9', value: 14}, {label: 'Test 10', value: 10}, {label: 'Test 11', value: 20}, {label: 'Test 12', value: 50}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 30}, { test:'Test 15', value: 70} ]}, { color: '#ff457d',label: 'Chemistry',points: [ {label: 'Test 1', value: 32},{ test: 'Test 2', value: 30}, {label: 'Test 3', value: 23}, {label: 'Test 4', value: 30}, {label: 'Test 5', value: 33}, {label: 'Test 6', value: 23}, {label: 'Test 7', value: 28}, {label: 'Test 8', value: 20}, {label: 'Test 9', value: 14}, {label: 'Test 10', value: 10}, {label: 'Test 11', value: 21}, {label: 'Test 12', value: 15}, {label: 'Test 13', value: 35}, {label: 'Test 14', value: 13}, { test:'Test 15', value: 70} ] }, { color: '#46d8de',label: 'Mathematics',points: [ {label: 'Test 1', value: 30},{ test: 'Test 2', value: 50}, {label: 'Test 3', value: 20}, {label: 'Test 4', value: 31}, {label: 'Test 5', value: 31}, {label: 'Test 6', value: 23}, {label: 'Test 7', value: 27}, {label: 'Test 8', value: 30}, {label: 'Test 9', value: 43}, {label: 'Test 10', value: 10}, {label: 'Test 11', value: 40}, {label: 'Test 12', value: 12}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 30}, { test:'Test 15', value: 10} ] }, { color: '#4d4d4f', label: 'Unattempted',points: [ {label: 'Test 1', value: 30},{ test: 'Test 2', value: 31}, {label: 'Test 3', value: 30}, {label: 'Test 4', value: 31}, {label: 'Test 5', value:23}, {label: 'Test 6', value: 20}, {label: 'Test 7', value: 28}, {label: 'Test 8', value: 40}, {label: 'Test 9', value: 10}, {label: 'Test 10', value: 30}, {label: 'Test 11', value: 20}, {label: 'Test 12', value: 50}, {label: 'Test 13', value: 15}, {label: 'Test 14', value: 13}, { test:'Test 15', value: 79} ] }]"
  test-on-test attempts='items2'