section.system-instructions
  .system-header
    h1 System Instructions
    .language-option
      | View In:
      select
        option
          | English
    p Please read the instructions carefully
  .instructions-wrapper
    instructions type="general"
    .other-header
      h1 Other Important Instructions
      .language-option
        | View In:
        select
          option
            | English
    instructions type="other"
  .system-footer
    button.btn Back
