section.end-details
  h4 Exam Summary
  table border="1" cellspacing="0" cellpadding="5"
    thead
      th width="30%" Section Name
      th width="12%" No. of Questions
      th width="12%" Answered
      th width="12%" Not Answered
      th width="12%" Marked for Review
      th width="12%" Not Visited
    tbody
      tr
        td Physics
        td 30
        td 0
        td 1
        td 0
        td 29
      tr
        td Chemistry
        td 30
        td 0
        td 1
        td 0
        td 29
      tr
        td Mathematics
        td 30
        td 0
        td 1
        td 0
        td 29
    tfoot
      tr
        td Total
        td 90
        td 0
        td 3
        td 0
        td 87

  button.btn Next