section.lhs.instructions
  instructions exam="exam" ng-init="exam = 'BITSAT'"
  .footer.large
    label for="check" The computer provided to me is in proper working condition. I have read and understood the instructions given above.
    br
    a.large ui-sref="mock" I am ready to begin
section.rhs
  img.candi-img src=image_path("ts_metro_theme/test/NewCandidateImage.jpg")

// Profile pic upload overlay add class active to view

section.overlay
  .overlay-container
    .left
      i.fa.fa-user
    .right
      h4 Upload your profile pic to make your JEE Test experience Better
      input.hidden type="file"
      button.upload Upload Picture
      button.skip Skip
  button.overlay-close x
