.format-education
  | You are now using the exact interface for the JEE Mains 2014 online exam.
  br
  | Hit 'Sign in' and follow instructions to begin.
#login-box
  .login-header
    h1
      | Login
  .login-body
    = form_for('', as: :user, url: '/test', html: {class:  "login-form"} ) do |f|
      .row
        label for="roll_number" Roll No :
        = f.text_field :roll_number, placeholder: "", required: true
        span.help-inline
          img src=image_path("ts_metro_theme/test/keyboard.png")

      .row
        label for="password" Password :
        = f.password_field :password, placeholder: "", required: true
        span.help-inline
          img src=image_path("ts_metro_theme/test/keyboard.png")

  .login-footer
    button [ui-sref="instructions"]
      | Sign in