section.mock-wrapper
  section.lhs
    section.subject-tabs ng-if="ui.view != 'endscreen'"
        section-button name="Physics" class="active" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
        section-button name="Chemistry" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
        section-button name="Maths" stats="{ answered: '1', notAnswered: '12', marked: '5', notVisited: '22' }"
    div ng-init="ui.view = 'question'"
    div.question-wrapper.full-height ng-if="ui.view == 'question'"
      = render "ts_metro_theme/templates/test/question"
    div.full-height ng-if="ui.view == 'profile'"
      = render "ts_metro_theme/templates/test/profile"
    div.full-height ng-if="ui.view == 'combined_instructions'"
      = render "ts_metro_theme/templates/test/combined_instructions"
    div.full-height ng-if="ui.view == 'paper'"
      = render "ts_metro_theme/templates/test/paper"
    div.full-height ng-if="ui.view == 'endscreen'"
      = render "ts_metro_theme/templates/test/endscreen"
  section.rhs
    = render "ts_metro_theme/templates/test/panel"
