img.end-img src=image_path("ts_metro_theme/test/NewCandidateImage.jpg") ng-if="ui.view == 'endscreen'"
.control_panel ng-if="ui.view != 'endscreen'"
  span.q-palette Question overview :
  nav.palette
    ul
      li ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]"
        button.not_visited ng-click="ui.view='question'"
          | {{n}}
  .fixed-bottom
    br
    ul.legend
      li
        /question-button type="answered"
        button.answered.small
        span Attempted
      li
        /question-button type="not_answered"
        button.not_answered.small
        span Not Attempted
      li
        /question-button type="review"
        button.review.small
        	i.fa.fa-check
        span To be reviewed
      li
        /question-button type="not_visited"
        button.not_visited.small
        span Not viewed yet
    br
    br
    br
    div.actions
      button ng-click="ui.view = 'profile'" Profile
      button ng-click="ui.view = 'combined_instructions'" Instructions
      button ng-click="ui.view = 'paper'" Questions
      button [ng-click="ui.view = 'endscreen'"] Finish