.paper-content
  h1 Section: Physics
  ul
    li ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]"
      span.question_number Q {{n}})
      .question-body
        p mathjax-bind="'If <math> <mrow> <mi>c</mi> <mo>&ne;</mo> <mn>0 </mn> </mrow> </math> and the equation <math> <mrow> <mfrac> <mrow> <mi></mi><mi></mi><mi>p</mi><mo>⁡</mo> </mrow> <mrow> <mn>2</mn> <mi>x</mi> </mrow> </mfrac> <mo>=</mo> <mfrac> <mrow> <mi>a</mi> </mrow> <mrow> <mi>x&nbsp;</mi> <mo>+&nbsp;</mo> <mi>c</mi> </mrow> </mfrac> <mo>+</mo> <mfrac> <mrow> <mi>b</mi> </mrow> <mrow> <mi>x</mi>&nbsp; <mo>-</mo>&nbsp; <mi>c</mi>&nbsp; </mrow></mfrac></mrow></math> has two equal roots, then p can be (or to put it in so many other words,  why did the chicken cross the road, eh? eh?'"
        p.question_type 
          | Question Type: 
          strong Multiple Choice Question

  h1 Section: Chemistry
  ul
    li ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]"
      span.question_number Q {{n}})
      .question-body
        p mathjax-bind="'Why did the chicken cross the road?'"
        p.question_type 
          | Question Type: 
          strong Multiple Choice Question

  h1 Section: Mathematics
  ul
    li ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]"
      span.question_number Q {{n}})
      .question-body
        p mathjax-bind="n"
        p.question_type 
          | Question Type: 
          strong Multiple Choice Question;

.paper-footer
  button ui-sref="question" Back

