section.profile-details
  h4 Profile Details
  dl
    dt Roll No
    dd 111111
    dt Name
    dd Candidate
    dt Date of Birth (DD-MM-YYY)
    dd 22-05-1988
    dt Email ID
    dd somebody@gmail.com
    dt Contact No
    dd 9999999999
  button.btn Back