.question-header
  span
    | Question no. 1
    span.question-type-text Multiple Choice Question
.question-body
  p mathjax-bind="'If <math> <mrow> <mi>c</mi> <mo>&ne;</mo> <mn>0 </mn> </mrow> </math> and the equation <math> <mrow> <mfrac> <mrow> <mi></mi><mi></mi><mi>p</mi><mo>⁡</mo> </mrow> <mrow> <mn>2</mn> <mi>x</mi> </mrow> </mfrac> <mo>=</mo> <mfrac> <mrow> <mi>a</mi> </mrow> <mrow> <mi>x&nbsp;</mi> <mo>+&nbsp;</mo> <mi>c</mi> </mrow> </mfrac> <mo>+</mo> <mfrac> <mrow> <mi>b</mi> </mrow> <mrow> <mi>x</mi>&nbsp; <mo>-</mo>&nbsp; <mi>c</mi>&nbsp; </mrow></mfrac></mrow></math> has two equal roots, then p can be (or to put it in so many other words,  why did the chicken cross the road, eh? eh?'"
  .answers
    ul
      li ng-repeat="answer in ['a + b', 'a - b', 'b - c' ]"
        input type="radio"
        p mathjax-bind="answer"

.actions.clearfix
  .left
     button.save Save
     button Review later
     button Clear selection



