section.lhs ng-init="testName = 'Test 1 B'"
  .header
    .language-option
      | View In:
      select
        option
          | English
  instructions type="other" exam="exam" name="testName" ng-init="exam = 'JEE Advanced'"
  .footer.large
    a ui-sref="instructions" << Previous
    p
      | Choose your default language
      select
        option
          | English
    p.important
      | Please note all questions will appear in your default language. This language can be changed for a particular question later on
    input type="checkbox" id="check"
    label for="check" The computer provided to me is in proper working condition. I have read and understood the instructions given above.
    br
    a.large ui-sref="mock" I am ready to begin
section.rhs
  img src=image_path("ts_metro_theme/test/NewCandidateImage.jpg")
