// Brand Colors

$brand-color-blue     : #29b8eb;
$brand-color-dark-blue  : #0d70b5;
$brand-color-red    : #f22133;
$brand-color-yellow   : #fbfdaa;
$brand-color-voilet   : #94268f;
$brand-color-green    : #55a417;

// Flat Colors

$flat-color-carrot  : #e67e22;

// Font Weights

$ultra-thin : 300;

//******** Colors **********

// Grays

$white: #fff;
$white-smoke: #e6eef0;
$gray-smoke: #e6e7e8;
$gray: #95a8b0;
$carbon: #4d4d4f;

// Blues

$light-blue: #bef5ff;
$blue: #25b5e9;
$dark-blue: #166b94;

// Reds

$light-red: #fdbeb6;
$red: #f15f54;
$dark-red: #b1443b;

// Greens

$light-green: #bcf4d2;
$green: #29d366;
$dark-green: #008d57;

// Yellows

$light-yellow: #ffe9ad;
$yellow: #ffcf4a;
$dark-yellow: #ff9500;

// Voilets

$light-voilet: #dcaaff;
$voilet: #a55aff;
$dark-voilet: #793dcc;

// Pinks

$light-pink: #ff8dad;
$pink: #ff457d;
$dark-pink: #c23a6e;

// Turquoise

$light-turquoise: #92edea;
$turquoise: #46d8de;
$dark-turquoise: #46bac8;

@mixin transition($tran) {
  -webkit-transition: $tran;
  -moz-transition: $tran;
  -ms-transition: $tran;
  -o-transition: $tran;
  transition: $tran;
}

@mixin transform($tran) {
  -webkit-transform: $tran;
  -moz-transform: $tran;
  -ms-transform: $tran;
  -o-transform: $tran;
  transform: $tran;
}
