// csslint bulletproof-font-face: false
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), asset-url("ts_metro_theme/opensans-400.woff") format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), asset-url("ts_metro_theme/opensans-300.woff") format('woff');
}

@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter'), local('ArchitectsDaughter'), asset-url("ts_metro_theme/architects-daughter-400.woff") format('woff');
}