// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false

//
// General styles
//

@import '../base';

html {
  height: 100%;
  min-height: 600px;
}

body {
  font-family: 'Open sans','Quicksand',Helvetica;
  position: relative;
  margin: 0;
  min-width: 980px;
  font-weight: 300;
  min-height: 100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.hidden {
  display: none !important;
}

//
// Header
//

header {
  height: 64px;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  z-index: 3;
  padding: 0;
  width: 100%;
  top: 0;
  right: 0;
  min-width: 750px;
  box-shadow: 0 3px 2px rgba(70, 70, 70, 0.20);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.heading-container {
  max-width: 960px;
  margin: 0 auto;
  height:inherit;
}

.logo-holder {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 108px;
  max-height: 50px;
  margin: 15px 0 0;
}

nav.header-menu {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
  text-align: center;
}

.login-holder {
  width: 50%;
  margin-left: -5px;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}

.login-holder form div {
  display: inline;
}

nav.header-menu a {
  color: #aaa;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  margin: 0 5px;
}

//
// Login Form
//

.login-holder a,
.login-holder button {
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #29B8EB;
  border: 2px solid #29B8EB;
  display: inline-block;
  width: 118px;
  text-align: center;
}

.header-signup-button {
  color: #fff !important;
  margin-top: 10px;
  background-color: #29b8eb;
  border-radius: 2px;
  &:hover{
    background-color: darken($brand-color-blue,8%);
    border: 2px solid darken($brand-color-blue,8%);
  }
}

.login-holder i {
  margin-right: 10px;
}

.testi-link {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 1px solid yellow;
  color: yellow;
  font-weight: 300;
  margin-right: 10px;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 17px;

  &:hover {
    border-color: #fff;
    background-color: #fff;
    color: $brand-color-blue;
  }
}

.above-fold {
  //min-height: 500px;
  //background: url('../images/benches.jpg');
  //background-size: cover;
  position: relative;
  background-color: #29B8EB;
  padding-top: 60px;
  padding-bottom: 20px;
}

.above-fold-details {
  display: inline-block;
  width: 56%;
  margin-left: 1%;
  height: 100%;
  vertical-align: top;
}

.above-fold-form {
  display: inline-block;
  width: 42%;
  //height: 100%;
  margin-left: -5px;
  vertical-align: top;
  position:relative;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-5%) rotate(-5deg);
    transform: translateX(-5%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(4%) rotate(3deg);
    transform: translateX(4%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-3%) rotate(-3deg);
    transform: translateX(-3%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(2%) rotate(2deg);
    transform: translateX(2%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-1%) rotate(-1deg);
    transform: translateX(-1%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-5%) rotate(-5deg);
    -ms-transform: translateX(-5%) rotate(-5deg);
    transform: translateX(-5%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(4%) rotate(3deg);
    -ms-transform: translateX(4%) rotate(3deg);
    transform: translateX(4%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-3%) rotate(-3deg);
    -ms-transform: translateX(-3%) rotate(-3deg);
    transform: translateX(-3%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(2%) rotate(2deg);
    -ms-transform: translateX(2%) rotate(2deg);
    transform: translateX(2%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-1%) rotate(-1deg);
    -ms-transform: translateX(-1%) rotate(-1deg);
    transform: translateX(-1%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

.above-fold-form p.error,
.above-fold-form p.alert {
  margin: 5px 0;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  background: #ffcc6e;
  padding: 4px 10px;
  text-align: center;
  border-radius: 1px;
  width: 90%;
  margin: 5px auto;
}

.intro {
  max-width: 980px;
  margin: 0 auto;
  height: 100%;
  //position: relative;
  color: #fff;
  // /z-index: 2;
  padding-top: 30px;
}

h3.above-fold-details-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.above-fold-details-heading span {
  display: inline-block;
}

.above-fold-details-heading small {
  margin: 4px 0;
  display: inline-block;
}

.above-fold-details-feature a.feature {
  display: block;
}

.above-fold-details-feature .feature .feature-icon {
  display: inline-block;
  vertical-align: top;
  width: 12%;
  text-align: right;
}

.above-fold-details-feature .feature .feature-icon i {
  padding: 15px;
  font-size: 30px;
  border-radius: 32px;
  border: 2px solid #fff;
  margin: 20px;
  background: transparent;
  margin-left: 0;
  margin-top: 35px;
  cursor: pointer;
  -webkit-transition: .1s all lineear;
  -moz-transition: .1s all linear;
  -o-transition: .1s all linear;
  -ms-transition: .1s all linear;
  transition: .1s all linear;
}

.signin-button:hover,
.login-button:hover {
  background-color: #29b8eb;
  color: #fff;
}

.signin-button {
  background: transparent;
}

.login-button {
  display: none;
  margin-right:10px;
}

.above-fold-details-feature .feature-details {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  line-height: 150%;

  ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    font-size: 17px;
    letter-spacing: 0.05em;

    li {
      margin: 8px 0px;

      i {
        margin-right: 8px;
      }
    }
  }
}

a {
  color: #fff;
}

// Add class when overlay is active

body.blurred section:not(.overlay),
body.blurred header,
body.blurred footer {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  //filter: image-url("ts_metro_theme/blur.svg#blur");
}

.feature-heading {
  margin-bottom: 0;
  font-weight: 300;
  margin-top: 5px;
}

.above-fold-details-feature .feature .feature-details p {
  margin-top: 7px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  word-spacing: 0.06em;
}

.above-fold-form form {
  background: #000;
  background: rgba(0, 0, 0, .36);
  width: 100%;
  border-radius: 3px;
  padding-bottom: 10px;
}

.above-fold-form form h4 {
  padding: 10px;
  margin: 0 6px;
  font-weight: 300;
  letter-spacing: 0.04em;
}

.above-fold-form fieldset {
  border: 0;
  padding: .35em .625em;
  text-align:center;
}

.above-fold-form.above-fold-form--rank-predictor fieldset {
  padding: .3em .625em !important;
}

.above-fold-form fieldset input[type="text"],
.above-fold-form fieldset input[type="password"],
.above-fold-form fieldset input[type="email"],
.above-fold-form fieldset select {
  width: 47%;
  padding: 10px;
  border-radius: 2px;
  margin: 0 5px;
  border: 3px solid transparent;
  font-size: 13px;
  color: #666;
}

.above-fold-form fieldset select {
  -webkit-appearance: none;
  width: 100%;
  height: 45px;
  margin: 0;
}

@-moz-document url-prefix(){
  .above-fold-form fieldset select { width: 110%; }
}

.select-arrow {
  position: absolute;
  color: #444;
  top: 9px;
  right: 10px
}

.above-fold-form fieldset input:focus,
.above-fold-form fieldset select:focus {
  outline: 0;
}

p.error,
p.alert,
p.notice {
  display: block;
  color: yellow;
  font-size: 14px;
  margin: 5px 0;
}

p.notice {
  color: #f29c21
}

p.inline-error {
  display: inline;
  color: #e74c3c;
  margin-right: -20px;
  font-size: 13px;
}

.above-fold-form fieldset input.error {
  border: 3px solid #ffcc6e;
}

.above-fold-form input.error-outline {
  outline: 2px solid #e74c3c;
}

.above-fold-form fieldset input[type=checkbox] {
  margin-right: 3px;
  -webkit-appearance: none;
}

.above-fold-form fieldset .form-submit {
  background-color: #FBC02D;
  color: #555;
  width: 377px;
  font-size: 17px;
  font-weight: 400;
  border: 0px;
  padding: 13px;
  border-radius: 2px;
}

.above-fold-form fieldset .form-submit:hover,
.above-fold-form fieldset .form-submit:focus {
  background-color: darken(#ebb300,4%);
}

.above-fold-form fieldset .form-email {
  width: 97% !important;
}

.above-fold-form fieldset.terms {
  font-size: 12px;
  text-align:left;
  padding-left: 15px;
}

section.about {
  //position: relative;
  box-shadow: 0 3px 2px rgba(70, 70, 70, 0.2);
  //z-index: 2;
}

section.about .container {
  width: 960px;
  padding: 20px 0;
  margin: 0 auto;
  //z-index: 1;
}

section.about h4 {
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin: 25px 0;
}

nav.about-menu {
  text-align: center;
}

nav.about-menu a {
  margin: 0 5px;
  padding: 10px 15px;
}

.team-members-container {
  height: 142px;
  margin-top: 30px;
  overflow: hidden;
}

.faculty-wrapper {
  width: 847px;
  height: 150px;
  overflow: hidden;
  margin: 0 21px;
}

ul.team-members {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  text-decoration: none;
  height: inherit;

  > li {
    float: left;
    margin: 10px 10px 0 0;
    height: 150px;
    line-height: 22px;
    cursor: pointer;

    span.play-video-action {
      display: block;
      position: absolute;
      height: inherit;
      top: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
      filter: Alpha(opacity=0);
      background-color: rgba(41, 184, 235, 0.37);
      transition: .2s all linear;
      -webkit-transition: .2s all linear;
      -moz-transition: .2s all linear;
      -ms-transition: .2s all linear;
      -o-transition: .2s all linear;

      i {
        width: 100%;
        color: #fff;
        font-size: 40px;
        padding: 44px 0 21px;
      }

      span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 5px 0;
        background: #29b8eb;
        color: #fff;
        font-size: 14px;
      }
    }
  }

  > li.text {
    width: 310px;
    padding: 10px;
    background-color: #29b8eb;
    color: #fff;
    p {
      margin: 0;
      font-size: 17px;
    }
  }

  > li.teaching {
    background-color: #29b8eb;
    color: #fff;
    width: 470px;
    padding: 10px;
    height: 310px;
  }

  > li.teaching span,
  > li.text span {
    display: block;
    font-size: 13px;
  }

  > li.text ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    vertical-align: top;
    margin-right: 64px;
    margin-top: 5px;
  }

  > li.text.alumni ul {
    margin-right: 12px;
  }

  > li.teaching ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    vertical-align: top;
    margin-right: 88px;
    margin-top: 5px;
  }

  &:last-child a img {
    border-right-width: 1px;
  }

  a {
    position: relative;
    display: inline-block;
    height: inherit;

    &.hover{
      span.play-video-action {
        opacity: 1;
        filter: Alpha(opacity=100);
      }
    }

  }

}

.Abhishek-Jain, .Sanjay, .Hemant, .Bahety, .Sunil, .Rakesh, .Amrit, .Sawai, .nipun, .girish, .atish, .Seth, .Kori, .MNSingh, .Prashant, .Devendra, .Harshal, .Ranveer{
  background: image-url('ts_metro_theme/professors.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 0;
}

.Abhishek-Jain { background-position: -1px -1px ; }
.Sanjay { background-position: -150px 0; }
.Hemant { background-position: -300px 0; }
.Bahety { background-position: -450px 0; }
.Sunil { background-position: -600px 0; }
.Rakesh { background-position: -750px 0; }
.Amrit { background-position: 0 -150px ; }
.Sawai { background-position: -150px -150px ; }
.nipun { background-position: -300px -150px ; }
.girish { background-position: -450px -150px ; }
.atish { background-position: -600px -150px ; }
.Seth { background-position: -750px -150px ; }
.Kori { background-position: -300px -300px ; }
.MNSingh { background-position: 0 -300px ; }
.Prashant { background-position: -150px -300px ; }
.Devendra { background-position: -600px -300px ; }
.Harshal { background-position: -450px -300px ; }
.Ranveer { background-position: -750px -300px ; }

.float-r {
  float: right;
}

section.faculty-details {
  margin-top: 40px;
}

section.faculty-details article {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin-left: -5px;
}

section.faculty-details article.faculty-message {
  width: 25%;
}

section.faculty-details article.faculty-locations {
  margin-left: 3%;
}

section.faculty-details article h4 {
  margin-bottom: 10px;
}

section.faculty-details article p {
  width: 80%;
  text-align: justify;
  font-size: 13px;
  line-height: 180%;
  margin-top: 0;
  color: #888;
}


section.faculty-details article ul {
  padding-left: 0;
  font-size: 13px;
  margin-top: 0;
  color: #888;
}

section.faculty-details article li {
  list-style: none;
  margin: 10px 0;
}

footer {
  position: absolute;
  background: #222;
  color: #666;
  width: 100%;
  bottom: 0px;
}

.footer-signup-button {
  border: 0;
  padding: 7px 16px;
  color: #fff;
  margin-left: 10px;
  background-color: #2ecc71;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1px;
  -webkit-transition: .3s background-color ease;
  -moz-transition: .3s background-color ease;
  -ms-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;
}

.footer-container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
  font-size: 13px;
  text-align: center;
}

.footer-container .social-icons {
  text-align: center;
  display: inline;
  a {
    color: #888;
    &:hover {
      color: $brand-color-blue;
    }
  }
}

.footer-container p.copyright {
  display: inline;
  color: #888;
}

.footer-container .social-icons i {
  font-size: 16px;
  margin: 0 8px;
}

form.login-form {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  position:relative
}

.invisible {
  visibility: hidden !important;
}


.visible {
  visibility: visible !important;
}

form.login-form input {
  width: 33%;
  padding: 11px;
  border-radius: 2px;
  background: transparent;
  margin: 0 4px;
  border: 0;
  font-size: 13px;
  border: 2px solid #29b8eb;
}

form.login-form input.error {
  border: 2px solid #e74c3c;
}


form.login-form input:focus {
  outline: none;
}

blockquote {
  text-align: center;
  font-style: italic;
  margin: 40px 0 0;
}

footer .footer-nav {
  display: inline;
  margin:0px 80px;
}

footer .footer-nav a {
  text-decoration: none;
  color: #888;
  margin-left: 15px;
  &:hover {
    color: $brand-color-blue;
  }
}

.down-arrow,
.up-arrow {
  position: fixed;
  right: 45px;
  bottom: 0px;
  width: 45px;
  line-height: 45px;
  height: 45px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: .2s background-color ease;
  -moz-transition: .2s background-color ease;
  -ms-transition: .2s background-color ease;
  -o-transition: .2s background-color ease;
  transition: .2s background-color ease;

  &:hover {
    background-color: rgba(0,0,0,0.5);
  }
}

article.feature ul li {
  margin: 5px 0;
}

section.ultimate-test-series {
  background: image-url("ts_metro_theme/1.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

  .footer-msg {
    position: relative;
    top: 100%;
    padding: 10px 20px;
    color: #fff;
    background-color: #29b8eb;
    display: inline-block;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);

    h4 {
      font-weight: 300;
      margin: 5px 0;
      font-size: 22px;
    }

    i {
      margin-right: 5px;
    }

    ul {
      margin: 10px 0;
      padding: 0;
      list-style: none;

      li {
        margin: 5px 0;
      }
    }
  }
}

section.teachers {
  margin-top: 35px;
	background-color: #f7f7f7;
}

section.testi-header {
  position: relative;
  height: 240px;
  background-size: cover;
  background-image: image-url("ts_metro_theme/colage.jpg");
  .overlay-c {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.3);
  }
}

section#testimonial {
  position: relative;
  //z-index: 3;
  padding-bottom: 93px;
  text-transform: none;
  box-shadow: 0 -3px 2px rgba(70, 70, 70, 0.2);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  aside {
    position: absolute;
    left: 885px;
    right: 0px;
    top: 0;
    height: 100%;
    //width: calc(100% - 888px);
    height:100%;
    background-color: #fafafa;
    color: #444;
    overflow:hidden;
  }

  nav.students {
    width: 108px;
    display:inline-block;
    vertical-align:top;
    position: absolute;
    a {
      display: inline-block;
      position: relative;
      width: 108px;
      height: 72px;
      float: left;
      cursor: pointer;
      box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-transition: .3s all linear;
      -moz-transition: .3s all linear;
      -o-transition: .3s all linear;
      -ms-transition: .3s all linear;
      transition: .3s all linear;
      -webkit-filter:  grayscale(1);
      -moz-filter: grayscale(1);
      -ms-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray;

      span.inactive-img-overlay {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        opacity: 1;
        filter: Alpha(opacity=100);
        -webkit-filter: grayscale(0%);
        -webkit-transition: .3s all linear;
        -moz-transition: .3s all linear;
        -o-transition: .3s all linear;
        -ms-transition: .3s all linear;
        transition: .3s all linear;
      }
    }
    a.active,
    a:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      border-right: 1px solid #29B8EB;
      span.inactive-img-overlay {
        opacity: 0;
        filter: Alpha(opacity=0);
      }
    }
  }
}

section#student-info {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  padding-left: 128px;
  height: 500px;
  overflow: auto;
  line-height: 18px;
  h4 {
    margin-bottom:0px;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
  }

  span.rank,
  span.city {
    display: block;
    font-size: 14px;
    color: #666;
  }

  p.question {
    font-size: 12px;
    color: #888;
    font-weight: 400;
    margin-bottom: 3px;
    text-transform: uppercase;
  }

  p.answer {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  p.testi {
    font-size: 15px;
  }
}

section#active-testimonial {
  width: 888px;
  position: relative;
  height: 100%;

  iframe:hover {
    cursor: pointer !important;
  }

  > img{
    width: 70%;
  }

  figure {

    position: relative;
    height:100%;
    img {
      width: 100%;
      height: 100%;
    }
    .play-btn{
      position: absolute;
      width: 80px;
      height: 80px;
      top: 250px;
      left: 50%;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 46px;
      color: #fff;
      text-align: center;
      -webkit-transition:0.2s all linear;
      -moz-transition:0.2s all linear;
      -o-transition:0.2s all linear;
      -ms-transition:0.2s all linear;
      transition:0.2s all linear;
      i{
        font-size: 38px;
        margin-left: 10px;
      }
      &:hover{
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -o-transform:scale(1.05);
        -ms-transform:scale(1.05);
        transform:scale(1.05);
      }

    }
  }
  video{
    width: 100%;
    height: 100%;
    background: #fff;
    background-size: cover;
  }
}

figure {
  margin: 0 !important;
}

section#login form#new_user {
  display: inline-block;
}

section#login,
section#reset-password {
  h6 {
    font-size: 20px;
    margin: 10px;
    font-weight: 100;
    margin-top: 0;
  }
  form {
    input {
      display: block;
      padding: 11px 22px 11px 11px;
      margin: 10px 0 0 0;
      font-weight: 100;
      width: 226px;
      font-size: 14px;
      color: #444;
    }

    input[type="checkbox"] {
      width: auto;
      padding: 5px;
      margin: 4px 4px 4px 0px;
      display: inline-block;
      -webkit-appearance: none;
    }

    label {
      display: inline-block;
      width: 206px;
      font-size: 13px;
      text-align: left;
    }

    button.signin-button {
      display: block;
      width: 226px;
      margin-top: 4px;
      border: 2px solid #fff;
      color: #fff;
      padding: 10px 0;
      i {
        margin-right:10px;
      }
    }
    button.signin-button:hover {
      background:#fff;
      color:#000;
    }
    a.forgot-password-tooltip {
      font-size: 12px;
      text-align: right;
      display: inline-block;
      text-decoration: none;
      float: right;
      margin-bottom: 7px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section.revision-rocket {
  background-image: image-url("ts_metro_theme/2.png");
  background-size: cover;
  background-attachment: fixed;
  //z-index: 3;
  box-shadow: 0 -3px 2px rgba(70, 70, 70, 0.2);
}

.fixed-back{
  height: 560px;

  .container {
    width: 962px;
    margin: 0 auto;
    position: relative;
    top: 140px;
    color: #fff;

    h4 {
      display: inline-block;
      padding: 5px 10px;
      font-weight: 300;
      font-size: 20px;
      background-color: $brand-color-blue;
    }

    span {
      display: inline-block;
      padding: 5px 10px;
      margin: 3px 0;
      background-color: $brand-color-blue;
    }
  }
}

.fixed-back:nth-child(odd) div.container {
  text-align: right;
}

section.overlay {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  text-align: center;
  background: rgba(0, 0, 0, .65);
  z-index: 33;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;

  .overlay-container {
    position: relative;
    top: 125px;
    color: #fff;
    opacity: 0.4;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    h4 {
      font-weight: 300;
    }
  }
}

section.overlay.active {
  visibility: visible;
  opacity: 1;

  .overlay-container {
    opacity: 1;
  }
}

section#login {
  .overlay-container {
    width: 268px;
    padding: 20px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.1);
  }
}

section.overlay button.overlay-close-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 26px;
  text-align:center;
  font-weight: $ultra-thin;
}

.landing-video.animate-drop {
  top: 150px !important;
}

section.overlay .overlay-close {
  background-color: transparent;
  border: 0;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 26px;
  font-weight: $ultra-thin;
}

section#video-overlay {
  position: fixed !important;
  top: 0 !important;
}

section.overlay {

  p.error {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
  }

  input.forgot-password-email {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 300;
    padding: 14px;
    width: 280px;
  }
}

.signup-marker {
  font-family: 'Architects Daughter';
  position: absolute;
  left: 23px;
  top: 102%;

  img {
    width: 30px;
    margin-left: 11px;
    -webkit-transform: rotateX(180deg) rotateZ(56deg);
    -moz-transform: rotateX(180deg) rotateZ(56deg);
    -ms-transform: rotateX(180deg) rotateZ(56deg);
    -o-transform: rotateX(180deg) rotateZ(56deg);
    transform: rotateX(180deg) rotateZ(56deg);
  }
}

ul.pricing-table {
  display: none;
  list-style: none;
  padding-left: 0;
  width: 500px;

  &.active { display: block; }
  li {
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 1px;

    .left,
    .right {
      float: left;
    }

    .left {
      width: 80%;
      padding: 10px 0 10px 15px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-right: 0;

      span {
        display: block;
      }

      span.item {
        font-size: 24px;
      }

      span.pitch {
        font-size: 12px;
      }
    }

    .right {
      width: 20%;
      text-align: center;
      line-height: 68px;
      background-color: #fbfdaa;
      color: $brand-color-blue;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-left: #fbfdaa;

      .price {
        font-weight: 400;

        i {
          margin-right: 5px;
        }
      }
    }

    &:hover {
      .left,
      .right {
        border-color: #fbfdaa;
      }
    }
  }
}

input.forgot-password-email::-moz-placeholder { color:#fff; }
input.forgot-password-email::-webkit-input-placeholder { color:#fff; }
input.forgot-password-email::-o-placeholder { color:#fff; }
input.forgot-password-email::-ms-input-placeholder { color:#fff; }

section.overlay button.send {
  padding: 15px 21px;
  border: 0;
  background: #fff;
  font-weight: 300;
  margin-top: 1px;
}

section.overlay .overlay-container input.forgot-password-email:focus {
  outline: 0;
}

.prof {
  min-height: 145px;
  min-width: 145px;
  max-height: 150px;
  max-width: 150px;
}

div.play-video-action {
  display: none;
}

i.forgot-password-icon {
  position: absolute;
  top: 15px;
  right: 127px;
  cursor:pointer;
  color: #29B8EB;
}

i.forgot-password-icon:hover + span.forgot-password-tooltip {
  display:inline-block;
}

span.forgot-password-tooltip {
  display:none;
  position: absolute;
  font-size: 10px;
  background: #29B8EB;
  color: #fff;
  padding: 2px 8px;
  top: 33px;
  right: 91px;
}

span.forgot-password-tooltip:before {
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border-bottom:3px solid #29B8EB;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
  top:-3px;
  left:46%;
}

input#user_password {
  padding:11px 22px 11px 11px;
}

button,
input,
.btn {
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.field_with_errors {
  display: inline;
}


ul.dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  color: #888;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  margin-top: -2px;

  li {
    padding: 5px 14px;
    cursor: pointer;

    a {
        color: #444;
        text-decoration: none;
    }

    &:hover {
      background-color: $brand-color-blue;

      a {
        color: #fff;
      }
    }
  }
  li.active {
    background-color: $brand-color-blue;

    a {
      color: #fff;
    }
  }
}

.typeahead {
  position: relative;
  display: inline-block;
  margin: 0 4px 0 1px;
  width: 183px;
  vertical-align: bottom;
  border-radius: 2px;
  z-index: 2;

  input {
    width: 100% !important;
    margin: 0 !important;
  }
}

.select-box {
  position: relative;
  display: inline-block;
  margin: 0 4px 0 1px;
  width: 183px;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 2px;
  z-index: 1;
}

button:focus {
  outline: none;
}


.footer-note {
  text-align: center;
  padding: 20px 12px;
  background-color: #272727;
  color: #bbb;

  p {
    margin: 0;
  }

  a {
    border: 0;
    padding: 7px 16px;
    color: #fff;
    margin-left: 10px;
    background-color: #2ecc71;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1px;
    -webkit-transition: .3s background-color ease;
    -moz-transition: .3s background-color ease;
    -ms-transition: .3s background-color ease;
    -o-transition: .3s background-color ease;
    transition: .3s background-color ease;

    &:hover {
      background-color: darken(#2ecc71,5%);
    }
  }
}

label a {
  text-decoration: none;
  border-bottom:1px dotted rgba(255, 255, 255, 0.33);

  &:hover {
    text-decoration: none;
    border-color: rgba(255, 255, 255, 1);
  }
}

input[type=checkbox] {
  font-size: 13px;
  position: relative;
  border: 1px solid #262626;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background: #fff;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.1),
                      inset 0 0 1px rgba(255,255,255, 0.4);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=checkbox]:active {
  background: #fff;
}

input[type=checkbox]:checked::after {
  position: absolute;
  content: '';
  left: 15%;
  top: -10%;
  height: 40%;
  width: 90%;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
  -webkit-transform: rotate(-45deg);
}

section.pricing {
  padding-bottom: 130px;
}

.s-1-thumb, .s-2-thumb, .s-3-thumb, .s-4-thumb, .s-5-thumb, .s-6-thumb, .s-7-thumb{
  background: image-url('ts_metro_theme/students.jpg') no-repeat;
  width: 108px;
  height: 72px;
}

.s-1-thumb { background-position: 0 0; }

.s-2-thumb { background-position: -108px 0; }

.s-3-thumb { background-position: -216px 0; }

.s-4-thumb { background-position: -324px 0; }

.s-5-thumb { background-position: -432px 0; }

.s-6-thumb { background-position: -540px 0; }

.s-7-thumb { background-position: -648px 0; }


.fat-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 90px;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  border: 3px solid #fff;
  border-radius: 47px;
  cursor: pointer;
  font-size: 45px;
  padding-left: 8px;
  width: 80px;
  height: 80px;
  line-height: 76px !important;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.31);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &:hover {
    background-color: rgba(0,0,0,0.3);
  }
}

.coming-soon-signup {
  background-color: #29B8EB;
  color: #fff !important;
  margin-top: 10px;
}

h3.coming-soon-landing-rank-predictor {
  text-align: center;
  font-size: 40px;
}

h3.coming-soon-landing {
  text-align: center;
  font-size: 32px;
}

.coming-soon-container {
  display: inline-block;
  width: 58%;
  vertical-align: top;
}

span.wish {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  margin: -14px 0 0 10px;
  font-size: 21px;
  color: rgb(40, 183, 234);
}

section.feedback-video {

  video {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
}

section.feedback-video {
  position: relative;
  height: 450px;
  overflow: hidden;
  border: 3px solid #ddd;
  border-left: 0;
  border-right: 0;
}

h4.how-it-works {
  font-weight: 100;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

.pointer--with-marker {
  font-size: 19px;

  img {
    width: 50px;
    margin-left: 5px;
  }
}

.dashed-btn {
  width: 435px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 0);
  border: 2px dashed rgb(255, 255, 0);

  &:hover {
    border-style: solid;
    //background-color: yellow;
    //color: $brand-color-blue;
  }
}

.pointer {
  margin: 15px 0;
}

.pointer--big-margin {
  margin: 60px 20px;
  text-align: right;
}

input.marks {
  width: 118px !important;
}

.intro--rank-predictor {
  padding-top: 20px;
  padding-bottom: 20px;
}

.above-fold-details-heading--rank-predictor {
  margin-top: 40px !important;
}



.fancybox-button {
  visibility: hidden;
  width: 0;
  height: 0;

  img {
    width: 0;
    height: 0;
  }
}

section.key-overlay {
  position: fixed;
  top: 0;

  .overlay-container {
    top: 10px;
    width: 95%;
    height: 95%;
  }

  img {
    width: auto;
    height: 100%;
  }

  ul {
    width: 100%;

    li {
      display: none;

      &.active {
        display: inline-block;
      }
    }
  }

  ul,
  li {
    height: 100%;
  }

  i.fa-chevron-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 40px;
  }

  i.fa-chevron-right {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 40px;
  }
}

.testi-link--right {
  width: 143px;
  text-align: center;
  margin-left: 175px;
}

section.stat {
  padding-bottom: 20px;
  height: 700px;
}

.row {
  width: 980px;
  margin: 0 auto;
}

.small-3 {
  float: left;
  width: 25%;
}

.small-push-1 {
  margin-left: 8%;
}

.stat__long-stat-icon,
.stat__long-stat {
  font-size: 72px;
}

.stat__long-stat-icon {
  color: #0d70b5;
}

.stat__long-stat {
  color: #444;
}

.stat__heading {
  float: left;
  width: 70%;
  padding: 20px;
  background-color: #ddd;
  color: #444;
  font-size: 24px;
}

.stat__value {
  float: left;
  width: 30%;
  padding: 20px;
  color: #fff;
  background-color: #29b8eb;
  font-size: 24px;
}

.stat__long-stat-title {
  display: block;
  margin: 10px 0;
  height: 40px;
}

.stat__hint-icon {
  font-size: 48px;
  margin: 10px 0;
  color: #0d70b5;
}

.stat__hint-desc {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

/* cloud styles */
.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

.jqcloud span.w10 { font-size: 550%; }
.jqcloud span.w9 { font-size: 500%; }
.jqcloud span.w8 { font-size: 450%; }
.jqcloud span.w7 { font-size: 400%; }
.jqcloud span.w6 { font-size: 350%; }
.jqcloud span.w5 { font-size: 300%; }
.jqcloud span.w4 { font-size: 250%; }
.jqcloud span.w3 { font-size: 200%; }
.jqcloud span.w2 { font-size: 150%; }
.jqcloud span.w1 { font-size: 100%; }

.jqcloud { color: #fafafa; }
.jqcloud a { color: inherit; }

.jqcloud {
  overflow: hidden;
  position: relative;
}

.jqcloud span { padding: 0; }



.fluid-gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 10px;
  height: 1822px;
}

.fluid-gallery--landing {
  overflow: hidden;
}

.fluid-gallery__item-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.fluid-gallery__item {
  position: relative;
  float: left;
  border: 1px solid #eee;
  overflow: hidden;
  height: 300px;


  &:hover {
    .fluid-gallery__item_overlay {
      visibility: visible;
      background-color: rgba(46, 204, 113, 0.7);
    }

  }

  &:nth-child(6n+1) .fluid-gallery__user { background-color: rgba(155, 89, 182, 1); }
  &:nth-child(6n+2) .fluid-gallery__user { background-color: rgba(26, 188, 156, 1); }
  &:nth-child(6n+3) .fluid-gallery__user { background-color: rgba(46, 204, 113, 1); }
  &:nth-child(6n+4) .fluid-gallery__user { background-color: rgba(52, 152, 219, 1); }
  &:nth-child(6n+5) .fluid-gallery__user { background-color: rgba(231, 76, 60, 1); }
  &:nth-child(6n+6) .fluid-gallery__user { background-color: rgba(52, 73, 94, 1); }
}

.fluid-gallery__target-score {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: yellow;
  color: #444;
}

.fluid-gallery__icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid #fff;
  line-height: 50px;
  text-align: center;

  &:hover {
    color: rgba(46, 204, 113, 1);
    background-color: #fff;
  }
}

.fluid-gallery__user {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: right;
  line-height: 22px;
  color: #fff;
  z-index: 0;
}

.fluid-gallery__item {
  width: 32%;
  margin: 1% 0 0 1%;

  &.large {
    width: 98%;
    height: 550px;
  }
}

.fluid-gallery__testi {
  display: inline-block;
  width: 650px;
  font-weight: 400;
  font-size: 27px;
  position: absolute;
  left: 60px;
  top: 60px;
  color: $brand-color-blue;
}

.tab-nav__pricing {
  width: 500px;
  margin-top: 10px;
  border-bottom: 1px solid #fff;
  button {
    background: #29B8EB;
    border: 0;
    outline: 0;
    width: 150px;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ddd;
    border-bottom: 0;

    &.active {
      border-color: #fff;
      position: relative;
      top: 1px;
    }
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/********************************************
  Pricing section
*******************************************/

.pricing__nav {
  font-size: 32px;
}

.pricing__nav-link {
  display: inline-block;
  width: 250px;
  padding: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 8px 8px 0 0;
}

.pricing__nav-link--active,
.pricing__nav-link:hover,
.pricing__tables-div {
  background-color: #f5f5f5;
}

.pricing__card {
  display: inline-block;
  vertical-align: top;
  width: 310px;
  min-height: 860px;
  margin: 40px 10px;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

.pricing__card-header {
  padding: 20px;
  height: 81px;
  background: #29d366;
  color: #fff;
  text-align: center;
}

.pricing__card-title {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 100;
  line-height: 40px;
}

.pricing__card-price {
  text-align: center;
  padding: 20px;
  font-size: 36px;
}

.pricing__card-year {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #888;
  font-weight: bold;

  &.pricing__card-year--active { color: #444; }
}

.pricing__card-features {
  padding: 15px;
  text-align: left;
  border-top: 1px solid #ddd;
}

.pricing__card-feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.pricing__card-feature {
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  line-height: 21px;
}

.pricing__card-buy {
  padding: 15px;
  margin: 20px auto;
  display: block;
  width: 200px;
  background: $blue;
  color: #fff;
  border-radius: 34px;
  border: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
}


.row__pricing {
  display: none;
  &.row__pricing--active { display: block; }
}

.pricing__discount {
  display: none;
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #888;

  &.pricing__discount--active { display: block; }
}

.pricing__accordion {
  width: 960px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.pricing__accordion-header {
  background: #29B8EB;
  color: #fff;
  padding: 22px 20px;
  cursor: pointer;
  font-size: 22px;
  border-top: 1px solid #eee;

  i { float: right; }
  &.active + .pricing__accordion-content { max-height: 800px; }
}

.pricing__accordion-content {
  max-height: 0;
  overflow: hidden;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  @include transition(0.3s linear all);
}

.pricing__inner-accordion-header {
  background: #bef5ff;
  color: $blue;
  padding: 12px 20px;
  cursor: pointer;

  i { float: right; }
}

.active + .pricing__inner-accordion-content { max-height: 250px; }

.pricing__inner-accordion-content {
  max-height: 0;
  overflow: auto;
  @include transition(0.3s linear all);
}

.row__pricing {
  width: 1200px;
  text-align: center;
}
.active > i.fa-plus,
.active > i.fa-sort-up {
  display: none !important;
}

.active > i.fa-minus,
.active > i.fa-sort-down {
  display: block !important;
}

.pricing__accordion {

  i.fa-plus,
  i.fa-sort-up {
    display: block;
  }

  i.fa-minus,
  i.fa-sort-down {
    display: none;
  }

  .pricing__card-buy {
    margin: 10px auto;
    font-size: 13px;
    width: 100px;
    padding: 10px;
  }

  table {
    width: 100%;
    background: #fff;

    th {
      padding: 15px;
      text-align: left;
      font-size: 12px;
      font-weight: 600;
      color: #888;
    }

    tr:hover td {
      background: #fafafa;
    }

    td {
      padding: 15px;
     -webkit-transition: .2s ease background;
     -moz-transition: .2s ease background;
     -ms-transition: .2s ease background;
     -o-transition: .2s ease background;
     transition: .2s ease background;
    }
  }
}

.block { display: block; }

.pricing__validity {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
}

.pricing__extras {
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
  color: #29b8eb;
  text-transform: capitalize;
  font-weight: bold;
}

.pricing__description {
  font-size: 14px;
  color: #888;
  line-height: 17px;
}


/************************
  Ranker stat styles
*************************/

.ranker-stats {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    width: 33%;
    float: left;
    height: 200px;
    border: 1px solid #eee;

    p {
      margin: 0;
      padding: 26px 30px;
      color: #fff;
      text-align: justify;
      border-color: #29b8eb;
      font-size: 18px;
    }

    img {
      height: 100%;
    }
  }

  li.ranker-stats__ranker--featured {
    display: inline-block;
    width: 66%;
    float: left;
    height: 400px;

    img {
      height: 100%;
    }
  }
}

.toppers__container {
  width: 980px;
  margin: 0 auto;
}

.toppers__heading {
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin: 25px 0;
}

.toppers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toppers__topper {
	position: relative;
  display: inline-block;
  float: left;
  height: 200px;
  width: 30%;
  border: 1px solid #eee;
  margin: 5px;
  overflow: hidden;

  &.toppers__topper--large {
    height: 410px;
    width: 61%;
  }
}

.toppers__topper-img {
  height: 100%;
}

.topper__content {
	background: #29b8eb;
	color: #fff;
	padding: 20px;
	font-size: 20px;
	text-align: justify;
}

.topper__credits {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	text-align: right;
	color: #fff;
}

.topper__air {
	font-size: 18px;
	font-weight: 400;
}