section#practice
  nav.practice-nav
    button
      | < Previous
    .empty-space
    button
      | Next >
  section#practice-question
    p.question-holder
      |  At what point of a projectile motion acceleration and velocity are perpendicular to each other ? 
    ul.question-options
      li
        input.choice [name="answer" type="radio" id="a"]
        i.choice
          | A
        label for="a"
          |  At the point of projection 
        span.correct
          | Correct
        span.wrong
          | Wrong
      li
        input.choice [name="answer" type="radio" id="b"]
        i.choice
          | B
        label for="b"
          |  At the top most point 
        span.correct
          | Correct
        span.wrong
          | Wrong
      li
        input.choice [name="answer" type="radio" id="c"]
        i.choice
          | C
        label for="c"
          |  At the point of drop 
        span.correct
          | Correct
        span.wrong
          | Wrong
      li
        input.choice [name="answer" type="radio" id="d"]
        i.choice
          | D
        label for="d"
          |  Anywhere in between the point of projection and top most point 
        span.correct
          | Correct
        span.wrong
          | Wrong
    .question-buttons
      button.dont-know[ng-click="showAlert('Really? Try again and choose and chose any option')"]
        | I Don't Know
      button.submit
        | Submit
      button.study.hidden
        | Study solution
aside#practice-sidebar
  section#practice-timer
    button.timer-hide
      | Hide 
      img[src="#{image_path "ts_metro_theme/collapse.png"}"]
    span.time-left
      | 00:45
  section#practice-hint.hidden
    .flip-holder
      .front
        h5
          | Show Hint? 
        a.flip-button[href="#"]
          | Click to flip
      .back
        h6
          | Hint
        a.more-help-btn[href="#"]
          | MORE HELP
        p.hint
          | Lorizzle lo sizzle my nizzle torizzle for splizzle Lorizzle lo sizzle my nizzle torizzle for splizzle

  section#practice-stats
    a.embibium[href="javascript:;" data-step="2" data-intro="Earn exciting embibium crystals to get more free stuff!"]
      img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats"]
      span.count
        | 4
    a.overtime[href="javascript:;"]
      img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats"]
      span.count
        | 1
    a.trash[href="javascript:;"]
      img[src="#{image_path "ts_metro_theme/trash.png"}" alt="stats"]
      span.count
        | 1