section#tabs-container
  a[href="dashboard2.html"]
    | Ultimate Test Series
  a.active[href="revision.html"]
    | Chapter Tests
  i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()"]
  i.fa.fa-gift.showReferral[ng-click="showReferral()"]
section.tests
  .practice-search
    input type="text" placeholder="Search chapters.."
    i.fa.fa-search
    ul.embibe-select-ul
      li.active data-val="Chapter 1"
        | Chapter 1
      li data-val="Chapter 2"
        | Chapter 2
      li data-val="Chapter 3"
        | Chapter 3
      li data-val="Chapter 4"
        | Chapter 4
      li data-val="Chapter 5"
        | Chapter 5
      li data-val="Chapter 6"
        | Chapter 6
  article.exam-group.exam-group--chapters.clearfix
    .left
      .tile.exam
        h3.title
          | Physics
        a.lock[href="#"]
          i.fa.fa-lock
    .right
      i.fa.fa-chevron-left[ng-click="scrollChaptersRight($event)"]
      .list-holder
        ul.tests-list.test-list--chapters.clearfix
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter 1" message="Unlock Chapter 1 for" price="Rs 889"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 2" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter 3" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter 4" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 5" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter FREE test to earn embibium crystals" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 2" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 3" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 4" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 1" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20', rating: 'champ'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter ASDF" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter" stats="{embibium: '02/20', timeTrolls: '04/20', wastedAttempts: '05/20'}"
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter zzz WALRUS" message="Unlock chapter for" price="Rs 999/-"
      i.fa.fa-chevron-right[ng-click="scrollChaptersRight($event)"]
section.tests
  .practice-search
    input type="text" placeholder="Search chapters.."
    i.fa.fa-search
  article.exam-group.clearfix.exam-group--chapters
    .left
      .tile.exam
        h3.title
          | Chemistry
        a.lock[href="#"]
          i.fa.fa-lock
    .right
      i.fa.fa-chevron-left[ng-click="scrollChaptersRight($event)"]
      .list-holder
        ul.tests-list.test-list--chapters.clearfix
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter 1" message="Unlock Chapter 1 for" price="Rs 889"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 2" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter 3" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter 4" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 5" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter FREE test to earn embibium crystals" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 2" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 3" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 4" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 1" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20', rating: 'champ'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter ASDF" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter" stats="{embibium: '02/20', timeTrolls: '04/20', wastedAttempts: '05/20'}"
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter zzz WALRUS" message="Unlock chapter for" price="Rs 999/-"
      i.fa.fa-chevron-right[ng-click="scrollChaptersRight($event)"]
section.tests
  .practice-search
    input type="text" placeholder="Search chapters.."
    i.fa.fa-search
  article.exam-group.clearfix.exam-group--chapters
    .left
      .tile.exam
        h3.title
          | Math
        a.lock[href="#"]
          i.fa.fa-lock
    .right
      i.fa.fa-chevron-left[ng-click="scrollChaptersRight($event)"]
      .list-holder
        ul.tests-list.test-list--chapters.clearfix
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter 1" message="Unlock Chapter 1 for" price="Rs 889"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 2" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter 3" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter 4" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 5" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter FREE test to earn embibium crystals" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 2" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'fresh'" heading="Chapter 3" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
          li
            a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
              flip-tile status="'locked'" heading="Chapter 4" message="Unlock chapter for" price="Rs 999/-"
          li
            a href="#"
              flip-tile status="'good'" heading="Chapter 1" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20', rating: 'champ'}"
          li
            a href="#"
              flip-tile status="'average'" heading="Chapter ASDF" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20'}"
          li
            a href="#"
              flip-tile status="'bad'" heading="Chapter" stats="{embibium: '02/20', timeTrolls: '04/20', wastedAttempts: '05/20'}"
          li
            a href="#"
              flip-tile status="'locked'" heading="Chapter zzz WALRUS" message="Unlock chapter for" price="Rs 999/-"
      i.fa.fa-chevron-right[ng-click="scrollChaptersRight($event)"]