section#practice
  nav.practice-nav
    button
      | < Previous
    .empty-space
    button[disabled]
      | Next >
  section#practice-question
    p.chapter-end-message
      |  You've finished all questions in this chapter. 
    .question-buttons
      button.dont-know.goback style="width:210px"
        | Go to Revision center
      button.submit
        | Reset
aside#practice-sidebar
  section#practice-timer
    button.timer-hide
      | Hide 
      img[src="#{image_path "ts_metro_theme/collapse.png"}" alt="hide"]
    span.time-left
      | 00:45
  section#practice-stats
    a.embibium[href="javascript:;" data-step="2" data-intro="Earn exciting embibium crystals to get more free stuff!"]
      img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats"]
      span.count
        | 4
    a.overtime[href="javascript:;"]
      img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats"]
      span.count
        | 1
    a.trash[href="javascript:;"]
      img[src="#{image_path "ts_metro_theme/trash.png"}" alt="stats"]
      span.count
        | 1
