section#tabs-container
  a href="javascript:;"
    | Ultimate Test Series
  a.active href="javascript:;"
    | Revision Rocket
  i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()" data-toggle="tooltip" title="Help!" data-trigger="hover" data-placement="bottom"]
  i.fa.fa-gift.showReferral[ng-click="showReferral()" data-toggle="tooltip" title="Invite Friends" data-trigger="hover" data-placement="bottom"]
section#chapter-summary
  .summary-title
    h3 The Solid State
    .btn-holder
      a data-placement="bottom" data-toggle="tooltip" data-trigger="hover" href="notes.html" style="background-image:url('#{"image_path 'ts_metro_theme/notes.png"}')" title="Notes"
      a data-placement="bottom" data-toggle="tooltip" data-trigger="hover" href="#" style="background-image:url('#{"image_path 'ts_metro_theme/practice.png"}')" title="Practice Questions"
  .summary-gist
    .test-stat style="margin-top:0px;"
      span Chapter Accuracy
      span 47%
    .test-stat
      span Chapter Attempt
      span 42%
    a.embibium href="javascript:;"
      .stat-holder.clearfix
        .stat-icon
          img [src="#{image_path "ts_metro_theme/embibium.png"}" alt="stat-icon"]
        .stat-details
          span.stat-details-count 3
          span.stat-details-text Perfect Attempts
    a.overtime href="javascript:;"
      .stat-holder.clearfix
        .stat-icon
          img [src="#{image_path "ts_metro_theme/time-troll.png"}" alt="time-icon"]
        .stat-details
          span.stat-details-count 3
          span.stat-details-text Over times
    a.wasted href="javascript:;"
      .stat-holder.clearfix
        .stat-icon
          img [src="#{image_path "ts_metro_theme/trash.png"}" alt="trash"]
        .stat-details
          span.stat-details-count 3
          span.stat-details-text Wasted Attempts
  .summary-map data-intro="Check where do you stand in terms of speed and accuracy"
    img [src="#{image_path "ts_metro_theme/accuracy.png"}" alt="accuracy"]
section#status-map
  .accuracy-attempted
    img [src="#{image_path "ts_metro_theme/chaptergraph.png"}" alt="chaptergraph"]
  .accuracy-attempted
    img [src="#{image_path "ts_metro_theme/chapterhint.png"}" alt="chapterhint"]
  .speed
    h4 Speed
    input.speed data-val="50" data-width="150" type="text" value="75"
section#chapter-feedback-graph
  /!
    | <h3 class="thin-title">Accuracy and Time</h3>
    | <nav class="accuracy-analytics">
    | <a href="javascript:;" class="active">By Accuracy</a>
    | <a href="javascript:;">By Time</a>
    | </nav>
  ul.filter.clearfix
    li 
      a title="All attempts" All
    li.active 
      a title="Shows all your perfect attempts" Perfect Attempts
    li 
      a title="Shows all your wasted attempts" Wasted Attempts
    li 
      a title="Shows all your overtime" Over Times
  .map
    img [src="#{image_path "ts_metro_theme/graph.png"}" alt="graph"]
/section#tour.overlay
  .click-msg
    | Click anywhere to dismiss
    div
