= render "ts_metro_theme/templates/interface/header"

section#tabs-container
  a.active[href="dashboard"]
    | Ultimate Test Series
  /a[href="revision"]
    | Revision Rocket
  i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()"]
  i.fa.fa-gift.showReferral[ng-click="showReferral()"]
section#summary
  .summary-title
    h3
      | JEE Mains Test 1 Summary
    button
      i.fa.fa-comments-o tooltip="Discuss Feedback" tooltip-placement="bottom"
      | Discuss Feedback
  flag-plot user="60" topper="75" average="30" flag="65" stats="{prediction: 10000}" labels="{topper: 'Topper', average: 'Average user', exam: 'JEE Main'}"
section#feedback-scores
  p
    | Overall, a {{ "great" }} attempt, but our goal is to make it even better.
      Note carefully: the highest number of wasted attempts for you came from {{ subject-name }}. Your best attempt quality has come from {{ subject-name-2 }}.
  p
    | Read further to see how the sequence of your attempts may have affected your performance.
  .score.physics
    .subject-summary
      span.subject-name
        | Physics
      span.subject-score
        | 102/120
      span.subject-percentage
        | 83%
    section#feedback-points
      a.embibium[href="javascript:;" data-step="2" data-intro="Earn exciting embibium crystals to get more free stuff!"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Embibiums
      a.wrong[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Overtime attempts
      a.trash[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-trash-o
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Wasted attempts
      a.not-attempted[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-ban
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Not Attempted
  .score.chemistry
    .subject-summary
      span.subject-name
        | Chemistry
      span.subject-score
        | 100/120
      span.subject-percentage
        | 77%
    section#feedback-points
      a.embibium[href="javascript:;" data-step="2" data-intro="Earn exciting embibium crystals to get more free stuff!"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Embibiums
      a.wrong[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Overtime attempts
      a.trash[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-trash-o
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Wasted attempts
      a.not-attempted[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-ban
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Not Attempted

  .score.math
    .subject-summary
      span.subject-name
        | Mathematics
      span.subject-score
        | 40/120
      span.subject-percentage
        | 85%
    section#feedback-points
      a.embibium[href="javascript:;" data-step="2" data-intro="Earn exciting embibium crystals to get more free stuff!"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Embibiums
      a.wrong[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Overtime attempts
      a.trash[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-trash-o
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Wasted attempts
      a.not-attempted[href="javascript:;"]
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-ban
          .stat-details
            span.stat-details-count
              | 3
            span.stat-details-text
              | Not Attempted
        | 102/120

section#accuracy-graphs
  h3.thin-title
    | How did I spend my time? - My first look at questions
  question-plot
  .plot-marker 
    img src="#{image_path "ts_metro_theme/marker-black.png"}"
    span click here to filter

  p
    | Looks like you did not use the question paper button to take a faster look at all the questions.
  p
    | Good job using the question paper button, trying to look through the problems!
section.pattern-container
  .header Good and Bad patterns from your attempts
  .left-patterns
    .pattern.good
      h4 < 4 difficulty level mistakes
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.good
      h4 Overtime followed by wasted attempt
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.bad
      h4 Mistake clustering
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.good
      h4 Incorrect attempt clustering
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh
  .seperator
  .right-patterns
    .pattern.good
      h4 Overtime correct questions
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.bad
      h4 No of switches between subjects
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.bad
      h4 Longest string of overlapping attempts
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh bleh
    .pattern.good
      h4 Perfect attempts > 7 level
      p Dude you rock, you haven't made any stupid mistake. Stay cool, bleh bleh bleh bleh bleh bleh bleh bleh bleh
section#accuracy-graphs
  h3.thin-title
    | How did I spend my time? -  When did I actually make attempts?
  section
    question-plot values='{"Physics":[[2.033,5],[37.8,5],[27.867,3],[18.083,5],[48.833,5],[51,5]],"Chemistry":[[31.3,5],[48.467,6],[55.5,4],[68.717,4],[98.917,5]],"Mathematics":[]}'
    .test-stat [ng-init="usertime=3.40; idealtime=2.45"]
      | The average time spent per question: {{ usertime }} mins
      | The average ideal time spent per question: {{ idealtime }} mins
      .class1 [ng-if="idealtime > usertime"]
        | You could have used: {{ idealtime - usertime | number:2 }} extra minutes to solve your questions on an average
      .class1 [ng-if="idealtime <= usertime"]
        | You should have used: {{ usertime - idealtime | number:2 }} fewer minutes to solve your questions on an average
      | You skipped between sections 4 times

      | Check out the question wise analysis to get deeper inside on your question wise time management and speed tips.

h3.thin-title Chapterwise Analysis
p
  | Did you attempt the chapters you were strongest at, first? Check the chapterwise analysis to find out. Click on chapters to get concept level feedback.
section#chapters-right.summary-chapters.accordion ng-class="ui.accordionActive.chaptersRight && 'open' || 'closed' " ng-init="ui.accordionActive.chaptersRight = true"
  .header ng-click="ui.accordionActive = { chaptersRight: !ui.accordionActive.chaptersRight }"
    i.fa.fa-chevron-down.expand-btn
    i.fa.fa-chevron-right.collapse-btn
    h3 Chapters I got right
  .chapters
    button[ng-click="scrollChapterRight(+1)"]
      i.fa.fa-chevron-left
      /ul.clearfix [style="margin-left:{{margin1}}px;" ng-click="ui.toggleKeyConcept()"];
    ul [ng-click="ui.toggleKeyConcept()"]
      li
        a[href="javascript:;"]
          | Electric Current
          span.count 2 of 3
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
    button[ng-click="scrollChapterRight(-1)"]
      i.fa.fa-chevron-right
section#chapters-wrong.summary-chapters.accordion ng-class="ui.accordionActive.chaptersWrong && 'open' || 'closed' " ng-init="ui.accordionActive.chaptersWrong = false"
  .header ng-click="ui.accordionActive = { chaptersWrong: !ui.accordionActive.chaptersWrong }"
    i.fa.fa-chevron-down.expand-btn
    i.fa.fa-chevron-right.collapse-btn
    h3 Chapters I got wrong
  .chapters
    button[ng-click="scrollChapterWrong(1)"]
      i.fa.fa-chevron-left
    ul.clearfix[style="margin-left:{{margin2}}px"]
      li
        a[href="javascript:;"]
          | Electric Current
          span.count 2 of 3

      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
      li
        a[href="javascript:;"]
    button[ng-click="scrollChapterWrong(-1)"]
      i.fa.fa-chevron-right
h3.thin-title Questionwise Analysis
hr
p
  | Click on each question to see the quality of your attempt. Watch the detailed video solution to really understand the problem.
section.accordion [ng-class="ui.accordionActive.physics && 'open' || 'closed' " ng-init="ui.accordionActive.physics = false" ]
  .header [ng-click="ui.accordionActive = { physics: !ui.accordionActive.physics }"]
    i.fa.fa-chevron-down.expand-btn
    i.fa.fa-chevron-right.collapse-btn
    h3.toggle-trigger
      | Physics
  .body
    table
      thead
        tr
          td width="5%"
            | Sl.no
          td width="40%"
            | Question
          td width="15%"
            | Chapter
          td width="15%"
            | Key Concepts
          td width="5%"
            | Level
          td width="5%"
            | Attempt
          td width="5%"
            | Tip
          td width="5%"
            | Result
          td width="5%"
            | View
      tbody
        tr
          td
            | 1
          td class="question"
            | <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math> <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math>
          td
            | Semiconductor Materials.. Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/embibium.png"}" tooltip="Perfect Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-bolt
          td
            i.fa.fa-check.right-tick
            i.fa.fa-plus.wrong-tick
          td
            i.fa.fa-eye.clickable ng-click="ui.toggleVideoSolution()"
        tr
          td
            | 2
          td
            | If a + b = c then d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            i.fa.fa-trash-o tooltip="Wasted Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-eye
        tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]"
          td
            | {{ 3 + i }}
          td
            | If a + b = c ts d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/time-troll-c.png"}" tooltip="Overtime" tooltip-placement="bottom"
          td
            | 25

          td
            i.fa.fa-eye


section.accordion [ng-class="ui.accordionActive.chemistry && 'open' || 'closed' " ng-init="ui.accordionActive.chemistry = false" ]
  .header [ng-click="ui.accordionActive = { chemistry: !ui.accordionActive.chemistry }"]
    i.fa.fa-chevron-down.expand-btn
    i.fa.fa-chevron-right.collapse-btn
    h3.toggle-trigger
      | Chemistry
  .body
    table
      thead
        tr
          td width="5%"
            | Sl.no
          td width="40%"
            | Question
          td width="20%"
            | Chapter
          td width="20%"
            | Key Concepts
          td width="5%"
            | Attempt
          td width="5%"
            | Level
          td width="5%"
            | View
      tbody
        tr
          td
            | 1
          td class="question"
            | <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math> <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math>
          td
            | Semiconductor Materials.. Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/embibium.png"}" tooltip="Perfect Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-eye.clickable ng-click="ui.toggleVideoSolution()"
        tr
          td
            | 2
          td
            | If a + b = c then d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            i.fa.fa-trash-o tooltip="Wasted Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-eye
        tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]"
          td
            | {{ 3 + i }}
          td
            | If a + b = c ts d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/time-troll-c.png"}" tooltip="Overtime" tooltip-placement="bottom"
          td
            | 25

          td
            i.fa.fa-eye


section.accordion [ng-class="ui.accordionActive.mathematics && 'open' || 'closed' " ng-init="ui.accordionActive.mathematics = false" ]
  .header [ng-click="ui.accordionActive = { mathematics: !ui.accordionActive.mathematics }"]
    i.fa.fa-chevron-down.expand-btn
    i.fa.fa-chevron-right.collapse-btn
    h3.toggle-trigger
      | Mathematics
  .body
    table
      thead
        tr
          td width="5%"
            | Sl.no
          td width="40%"
            | Question
          td width="20%"
            | Chapter
          td width="20%"
            | Key Concepts
          td width="5%"
            | Attempt
          td width="5%"
            | Level
          td width="5%"
            | View
      tbody
        tr
          td
            | 1
          td class="question"
            | <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math> <math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math><math> <mrow> <mi>Q</mi><mo>=</mo><mrow><mo>{</mo> <mrow> <mi>θ</mi><mo>:</mo><mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi><mo>+</mo><mi></mi><mi></mi><mi></mi><mi>cos</mi><mi>θ</mi><mo>=</mo><msqrt> <mn>2</mn> </msqrt> <mi></mi><mi></mi><mi></mi><mi>sin</mi><mi>θ</mi> </mrow> <mo>}</mo></mrow> </mrow> </math>
          td
            | Semiconductor Materials.. Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/embibium.png"}" tooltip="Perfect Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-eye.clickable ng-click="ui.toggleVideoSolution()"
        tr
          td
            | 2
          td
            | If a + b = c then d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            i.fa.fa-trash-o tooltip="Wasted Attempt" tooltip-placement="bottom"
          td
            | 25
          td
            i.fa.fa-eye
        tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]"
          td
            | {{ 3 + i }}
          td
            | If a + b = c ts d?
          td
            | Semiconductor Materials..
          td
            | Second order reactions..
          td
            img src="#{image_path "ts_metro_theme/time-troll-c.png"}" tooltip="Overtime" tooltip-placement="bottom"
          td
            | 25

          td
            i.fa.fa-eye

section#badge.overlay
  .overlay-container.badge-container
    .badge-img
      img.badge-icon[src="#{image_path "ts_metro_theme/250/friend01-250.png"}" alt="badge"]
    .badge-msg
      h4
        | Oh No! It's Chatur
      p
        | We've noticed that you've added only on friend on facebook. Add more today and practice together
  button#overlay-close
    | x
