header
  .left-group
    a.logo[href="dashboard2.html" data-tooltip="Dashboard" data-pos="bottom"]
      img[src="#{image_path "ts_metro_theme/embibe-logo-e.png"}" alt="Logo"]
    a[href="profile" data-tooltip="Aditi Avasthi"]
      img[src="#{image_path "ts_metro_theme/default_user.jpg"}" alt="default-logo" intro-el intro-pos="bottom" intro-text="sample"]
    a.air-prediction[href="javascript:;" ng-click="completeProfileAlert()"]
      span.prediction-holder-exam JEE Main 
      span.prediction-holder-air A.I.R prediction
      span.prediction-holder-rank
        | 25,000-50,000
      /.prediction-holder-overlay[data-step="1" data-intro="Complete profile to activate rank predictor"]
        | Complete profile to
        br
        | unlock rank predictor
    a.air-prediction[href="javascript:;" ng-click="completeProfileAlert()"]
      span.prediction-holder-exam JEE Advanced
      span.prediction-holder-air A.I.R prediction
      span.prediction-holder-rank
        | 25,000-50,000
      /.prediction-holder-overlay[data-step="1" data-intro="Complete profile to activate rank predictor"]
        | Complete profile to
        br
        | unlock rank predictor
    /a.air-prediction.jee-solutions-link href="/i/app/solutions/2014"
      span.prediction-holder-exam style="font-size: 14px"
        |View JEE Main 2014 Solutions
  .right-group
    a.flexi
      sliding-tile type="embibium" count="4"
    a.flexi
      sliding-tile type="timeTrolls" count="1"
    a.flexi
      sliding-tile type="wastedAttempts" count="1"
    /a.flexi
      sliding-tile type="strongChapters" count="4"
    a.flexi.clickable ng-click="ui.cartVisible = !ui.cartVisible"
      sliding-tile type="cartItems" count="1"
    a.header-exam-countdown[href="#" ng-click="completeProfileAlert()"]
      span.header-exam-countdown-time
        | 10
      span
        | Days till JEE Main
      /.prediction-holder-overlay
        | Click to activate
        br
        |  exam timer now

    a.logout[href="javascript:;" data-tooltip="Logout" data-trigger="hover" data-placement="bottom"]
      .stat-holder.clearfix
        .stat-icon
          i.fa.fa-power-off

  section#cart-overlay.overlay ng-show="ui.cartVisible"  ng-click="ui.cartVisible = false; $event.stopPropagation();"
    .overlay-container ng-click="$event.stopPropagation();"
      h3
        i.fa.fa-shopping-cart
        |  Your Cart ({{ State.cart.count }})
      .cart-items ng-repeat="category in State.cart.categories"
        h4
          | {{ category.name }}
        ul
          li.clearfix ng-repeat="item in category.items "
            div ng-class="item.selected && 'cart-item' || 'cart-recommendation'"
              .fancy-checkbox ng-click="item.selected = !item.selected"
                input#fancyCheck type="checkbox" ng-model="item.selected"
                label.checkbox
              .item-title.clickable ng-click="item.selected = !item.selected"
                span
                  | {{ item.name }}
                span.intro
                  | {{ item.selected && item.message || item.pitch }}
              span.price ng-click="item.selected = !item.selected"
                | ₹ {{ item.price }}
      footer
        .coupon
          input#coupon[type="text" placeholder="coupon code.."]
          a.buy
            | apply
        span
          span.total
            | Total:
          |  ₹ 4,444/-
        .checkout
          a.buy[href="#"]
            | Buy Now
    button#overlay-close
      | x

  // Add class active to show payment success overlay

  section.cart-payment-success.overlay
    .overlay-container
      h3 Your Payment has been received
      .payment-message
        p Thank you for your purchase! You've successfully unlocked:
        ul
          li
            i.fa.fa-check
            span JEE Main
          li
            i.fa.fa-check
            span JEE Advanced
          li
            i.fa.fa-check
            span BITSAT
        p Take test now?
        .btns-container
          a href="#" Bring it on
          a href="#" Save for later
    button#overlay-close
      | x

section#referral-overlay.overlay
  .overlay-container
    h3.message Invite friends and unlock chapters in Revision Rocket for free!
    p.referral-message
      | Refer a friend to win Embibium crystals & unlock chapters in Revision Rocket. Win!
      br
      | 10 crystals for every invite
      br
      | 50 for each friend actually trying it
      br
      | 100 if they buy!
    .buttons-container
      a#takeSampleQuestion.outlineButton href="#" ng-click="inviteByEmail()" Invite with email
      a#takeFirstStep.outlineButton href="#" Invite with Facebook
  button#overlay-close x

section#referral-overlay-fail.overlay
  .overlay-container
    p.referral-message
      | You can avail of this chance to get the Ultimate Test Series for free till 31st Jan’14! Refer a friend, spread the love!
    .buttons-container
      a.outlineButton href="#" Cool! Got it.
  button#overlay-close x


//Remove style before integrating
// add class prev & send-left onclick of addmore button
section#referral-overlay-success.overlay ng-class="{true: 'active', false: ''}[ui.showInviteByEmail]"
  invite-by-email save="saveInviteByEmail()" referral-model="referral"
  button#overlay-close ng-click="ui.showInviteByEmail=false" x


section#facebook-invite-overlay.overlay
  .overlay-container
    h4 Invite Facebook Friends
    ul.friends-box
      li.checked
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li.checked
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li.checked
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li.checked
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
      li
        i.fa.fa-square-o
        i.fa.fa-check-square
        img src="http://placeimg.com/60/60/people"
        span Mistic Red
    .buttons-holder
      button.outlineButton Send Invites
  .embibium-animation
    #coin
    #potli
button#overlay-close x

section.overlay.fixed-overlay.video-solution class="{{ ui.toggleVideoSolutionOverlayClass }}"
  .overlay-container
    section.key-concept-explanation
      section.key-concept-question
        p
          | A question from revision center
      section.key-concept-video
        iframe [src="//player.vimeo.com/video/83910533?badge=0&amp;color=fcdcb3" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen]
      h4 Explanation
      p
        | a + b = b + c = c + a = a + b + c
    section.key-concept-formula
      section.bookmark
        /.btns-holder
          button.bookmark
            i.fa.fa-bookmark
            | Bookmark
          button.continue
            | Continue
        p
          | Concept is bleh bleh bleh
        nav
          a.active Key Concept
          a Formula
          a Tips
      /section.notes
        .header
          h5 My Notebook
          button Save
        textarea
          button#overlay-close x

section.overlay.fixed-overlay.key-concept class="{{ ui.toggleKeyConceptOverlayClass }}"
  .overlay-container
    .chapters-wrong
      h4 Concepts you've got wrong in Electric current
      /p.click-msg Click on tiles below to practice in revision rocket
      /.concepts-wrapper
        /i.fa.fa-chevron-left
        ul.chapters-container
          li
            flip-tile.tile.long.chapter status="'bad'" heading="Electro Magnetics" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
        /i.fa.fa-chevron-right
      /p.click-msg Scroll down to read above concepts in detail.
    .concept-details
      h4 Electric Current
      p
        | N, S, halogens, and phosphorous present in an organic compound are detected by Lassaigne's test, by fusing the        compound with sodium (Na) metal, which converts the elements present in the compound form covalent to ionic form. <br>The following reactions occur :<br>Na+C+N⟶ΔNaCN<br>2Na+S⟶ΔNa2S<br>Na+X⟶ΔNaX   (X = Cl, Br, or I)<br>NaCN, Na2S, and NaX so formed are extracted from the fused mass by boiling it with distilled water.<br>This extract is known as sodium fusion extract or Lassaigne's extract (L.E.)
    .concept-details
      h4 Magnetic Stress
      p
        | N, S, halogens, and phosphorous present in an organic compound are detected by Lassaigne's test, by fusing the        compound with sodium (Na) metal, which converts the elements present in the compound form covalent to ionic form. <br>The following reactions occur :<br>Na+C+N⟶ΔNaCN<br>2Na+S⟶ΔNa2S<br>Na+X⟶ΔNaX   (X = Cl, Br, or I)<br>NaCN, Na2S, and NaX so formed are extracted from the fused mass by boiling it with distilled water.<br>This extract is known as sodium fusion extract or Lassaigne's extract (L.E.)
    button Practice in revision rocket
  button#overlay-close x

section.overlay.fixed-overlay.discuss-feedback class="{{ ui.toggleDiscussFeedbackOverlayClass }}"
  .overlay-container
    h4 Discuss Feedback
    form
      .row
        label for="mobile" Mobile
        input type="text" id="mobile"
      .row
        label for="message" Message
        textarea id="message"
      .row
        span.msg Your message has been sent. Our customer support executive will call you shortly.
      .row.text-right
        button
          | SEND MESSAGE
  button#overlay-close ng-click="ui.toggleDiscussFeedbackOverlayClass = false" x

section.overlay.fixed-overlay.rank-overlay class="{{ ui.togglerankOverlayClass }}"
  .overlay-container
    p Note 1: This predicted rank is based on your current performance, but of course you can do better! The accuracy of the rank will get better as you take more tests.
    p Note 2: Admission into NIT and other colleges will depend on your board performance as well.
  button#overlay-close ng-click="ui.togglerankOverlayClass = false" x

section.after-signup.overlay.fixed-overlay class="{{ ui.toggleAfterSignupOverlayClass }}"
  .overlay-container
    h3.message Lets get you started!
    .buttons-container
      a.outlineButton Try a Mini Test
      a.outlineButton Attempt a Full FREE Test
  button#overlay-close ng-click="ui.togglerankOverlayClass = inactive" x

section.test-duration.overlay.fixed-overlay class="{{ ui.toggleTestDurationOverlayClass }}"
  .overlay-container
    h3.message The test you're trying to take is for 10 minutes, you can't submit test before that bro.
    .buttons-container
      a.outlineButton Understood, take me to the test
      a.not-important-link Cool, i'll take this test later
  button#overlay-close ng-click="ui.toggleTestDurationOverlayClass = inactive" x