section#tabs-container
  a.active[href="/dashboard"]
    | Ultimate Test Series
  a[href="/revision"]
    | Revision Rocket
  i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()" data-toggle="tooltip" title="Help!" data-trigger="hover" data-placement="bottom"]
  i.fa.fa-gift.showReferral[ng-click="showReferral()" data-toggle="tooltip" title="Invite Friends" data-trigger="hover" data-placement="bottom"]
section#notes
  h4.title Notes
  .notes
    | (a) Time-second(s);
    br
    | (b) Length-metre (m);
    br
    | (c) Mass-kilogram (kg);
    br
    | (d) Amount of substance–mole (mol);
    br
    | (e) Temperature-Kelvin (K);
    br
    | (f) Electric Current – ampere (A);
    br
    | (g) Luminous Intensity – Candela (Cd)
    | (a) To check the accuracy of a given relation
    br
    | (b) To derive a relative between different physical quantities
    br
    | (c) To convert a physical quantity from one system to another system
    br
    | (a) Time-second(s);
    br
    | (b) Length-metre (m);
    br
    | (c) Mass-kilogram (kg);
    br
    | (d) Amount of substance–mole (mol);
    br
    | (e) Temperature-Kelvin (K);
    br
    | (f) Electric Current – ampere (A);
    br
    | (g) Luminous Intensity – Candela (Cd)
    | (a) To check the accuracy of a given relation
    br
    | (b) To derive a relative between different physical quantities
    br
    | (c) To convert a physical quantity from one system to another system
  textarea
  button.save-notes Save
section.video-solutions
  strong Video solutions of Solved Examples
  p No solved examples for this chapter.
section.video-solutions
  strong Video solutions of Solved Examples
  p No solved examples for this chapter.
