aside#profile-snapshot
  profile completion="50" name="Aditi Avasthi" src="#{image_url 'ts_metro_theme/team/aditi.jpg'}"
  flair type="main" count="1"
  flair type="advanced" count="1"
  flair type="bitsat" count="1" help-el="true"
section#main-content
  section#tabs-container
    a[href="prof_"]
      | General Information
    a.active[href="prof"]
      | Exam Information
    i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()"]
    i.fa.fa-gift.showReferral[ng-click="showReferral()"]
  section#preparing-exams
    h3.profile-h-title
      | Preparing For
    div
      i.fa.fa-check-square.prepare-check
      h4
        | JEE MAIN
      .switch
        input#week.switch-input[type="radio" name="mode" value="online" checked ng-click="modeChange()"]
        label.switch-label.switch-label-off[for="week"]
          | Online
        input#month.switch-input[type="radio" name="mode" value="offline" ng-click="modeChange()"]
        label.switch-label.switch-label-on[for="month"]
          | Offline
        span.switch-selection
      div
        span
          | JEE Main - Exam Date
        .input
          input.date.number[type="text" show-weeks="false" ng-model="date" datepicker-options="{'show-button-bar':false}" datepicker-popup="dd-MMMM-yyyy" is-open="opened" max="'2015-06-22'" min="minDate"]
          span.error
          i.fa.fa-calendar ng-click="open($event)"
        span
          | JEE Main - Application Number
        .input
          input.number[type="text"]
          span.error
        span
          | JEE Main - Roll number
        .input
          input.number[type="text"]
          span.error

    div
      i.fa.fa-check-square.prepare-check
      h4
        | JEE Advanced
      div
        span
          | JEE Advanced - Application Number
        .input
          input.number[type="text"]
          span.error
        span
          | JEE Advanced - Roll number
        .input
          input.number[type="text"]
          span.error

    /div
      i.fa.fa-square-o.prepare-check
      h4
        | BITSAT
      div
        span
          | BITSAT Main - Application Number
        .input
          input.number[type="text"]
          span.error
        span
          | BITSAT Main - Roll number
        .input
          input.number[type="text"]
          span.error
    // add class "hidden" when saved and remove when input field gets focus
    .text-right
      input.save type="submit" value="Save"

  section#profile-stats
    stat type="perfect" count="3"
    stat type="strong" count="3"
    stat type="overtime" count="3"
    stat type="wasted" count="3"

    /.wrong[data-href="#"]
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/embibium.png"}" alt=""]
        .stat-details
          span.stat-details-count
            | 3
          span.stat-details-text
            | Perfect attempts
      p
        | These are all the questions you got right within ideal time! Use these to unlock important chapters in the Revision Rocket
      a.wrong[href="javascript:;" style="width: 184px;"]
        span
          | Take me to Revision Rocket
      a.wrong[href="javascript:;" style="right: 187px;width: 184px;"]
        span
          | Earn More
    /.embibium[data-href="#"]
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/smile.png"}" alt=""]
        .stat-details
          span.stat-details-count
            | 3
          span.stat-details-text
            | Strong Chapters
      p
        | These are your high speed, high accuracy chapters. Identify your strong chapters by practicing them in Revison Rocket.
      a.wasted[href="javascript:;"]
        span
          | Take me to Revision Rocket
    /.wasted[data-href="#"]
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt=""]
        .stat-details
          span.stat-details-count
            | 3
          span.stat-details-text
            | Over Times
      p
        | These are all the questions you went over time on.
      a.embibium[href="javascript:;"]
        span
          | Revise Now
    /.trash[data-href="#"]
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/trash.png"}" alt=""]
        .stat-details
          span.stat-details-count
            | 3
          span.stat-details-text
            | Wasted Attempts
      p
        | These are all the questions you got wrong and spent very little time on.
      a.trash[href="javascript:;"]
        span
          | Take me to Revision Center
