aside#profile-snapshot
  profile src="#{image_path 'ts_metro_theme/team/aditi.jpg'}" upload="true" completion="75"

section#main-content
  section#tabs-container
    a.active[href="prof_"]
      | General Information
    a[href="prof"]
      | Exam Information
    i.fa.fa-lightbulb-o.showintro[ng-click="showIntro()"]
    i.fa.fa-gift.showReferral[ng-click="showReferral()"]
  section#profile-form
    form[action="" method="POST"]
      fieldset
        div
          label
            | First Name
          input[type="text" name="name"]
        div
          label
            | Last Name
          input[type="text" name="name"]
      fieldset
        div
          label
            | Date of Birth
          input.date#dob[type="text" name="dob" autocomplete="off" show-weeks="false" ng-model="date" datepicker-popup="dd-MMMM-yyyy" is-open="opened" max="'2015-06-22'" min="minDate"]
          i.fa.fa-calendar ng-click="open($event)"
        div
          label
            | Mobile Number
          input[type="text" name="name"]
      fieldset
        div
          label
            | School/College
          input[type="text" name="name"]
        div
          label
            | Board
          div.dropdown
            input type="hidden" name="board" ng-model="ui.board"
            a.dropdown-toggle
              | {{ ui.board || '&nbsp;' }}
            i.fa.fa-sort-down
            ul.dropdown-menu
              li ng-repeat="value in ['CBSE', 'State Board', 'IB', 'ICSE', 'Other']" ng-click="ui.board = value"
                | {{ value }}
          input#city[type="hidden" name="city"]
      fieldset
        div
          label
            | Board Roll No.
          input[type="text" name="name"]
        div
          label
            | Coaching Institute
          input[type="text" name="name"]
      fieldset
        div
          label
            | Pincode
          input[type="text" name="name"]
        div
          label
            |  
          input[type="submit" value="Save"]

  section#embibiums
    referral-summary type="invited" crystals-per-type="10" number="50"
    referral-summary type="joined" crystals-per-type="20" number="20"
    referral-summary type="bought" crystals-per-type="100" number="10"
