section#tabs-container
  a.active href="#"
    | Full Tests
  a href=chapter_tests_path
    | Part Tests
  i.fa.fa-lightbulb-o.showintro[data-toggle="tooltip" title="Help!" data-trigger="hover" data-placement="bottom" ]
  i.fa.fa-gift.showReferral[ng-click="showReferral()" data-toggle="tooltip" title="Invite Friends" data-trigger="hover" data-placement="bottom" data-intro="Earn More Embibiums"]
section.tests
  article.exam-group
    .left
      a href="#"
        master-tile title="Click to unlock" status="'locked'" heading="JEE (Main)"
    .right
      ul.tests-list.clearfix
        li
          a.clickable onclick="tileClick()"
            flip-tile status="'locked'" heading="Free Test" message="Take FREE TEST to earn embibium crystals!"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 1" message="Unlock all JEE Main tests for" price="Rs 889"
        li
          a href="#"
            flip-tile status="'fresh'" heading="Test 2" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
        li
          a href="#"
            flip-tile status="'bad'" heading="Test 3" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
        li
          a href="#"
            flip-tile status="'average'" heading="Test 4" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
        li
          a href="#"
            flip-tile status="'good'" heading="Test 5" stats="{embibium: '2/20', timeTrolls: '3/20', wastedAttempts: '4/20'}"
        li
          a href="#"
            flip-tile status="'good'" heading="Take FREE test to earn embibium crystals" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
        li
          a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
            flip-tile status="'locked'" heading="Test 2" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'fresh'" heading="Test 3" stats="{embibium: '0/20', timeTrolls: '0/20', wastedAttempts: '0/20'}"
        li
          a.tile.long.chapter.locked[href="#" test-tile data-id="23" data-title="All JEE Main Tests" data-price="999"]
            flip-tile status="'locked'" heading="Test 4" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'good'" heading="Test 1" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20', rating: 'champ'}"
        li
          a href="#"
            flip-tile status="'average'" heading="Test ASDF" stats="{embibium: '10/20', timeTrolls: '12/20', wastedAttempts: '10/20'}"
        li
          a href="#"
            flip-tile status="'bad'" heading="Test" stats="{embibium: '02/20', timeTrolls: '04/20', wastedAttempts: '05/20'}"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test zzz WALRUS" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test" message="Unlock all JEE Main tests for" price="Rs 999/-"
        unlock-jee count="2"
        /li.unlock-advanced-progress.last
          .tile
            h3
              | Unlock 
              br
              | JEE Advanced 
              br
              | for free
            ul.clearfix
              li.active
                img[src="#{image_path "ts_metro_theme/250/JEEMain-70.png"}" alt="stats"]
              li
                img[src="#{image_path "ts_metro_theme/250/JEEMain-70.png"}" alt="stats"]
              li
                img[src="#{image_path "ts_metro_theme/250/JEEMain-70.png"}" alt="stats"]
section.tests
  article.exam-group
    .left
      .tile.exam[ng-click="confirmBuy(23,'BITSAT',33)"]
        h3.title
          | BITSAT
        a.lock
          i.fa.fa-lock
    .right
      ul.tests-list.clearfix
        li
          a href="#"
            flip-tile status="'locked'" heading="Take FREE test to earn embibium crystals" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 2" 'Unlock all JEE Main tests for', button: 'Rs 999/-'}"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 3" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 4" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 5" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test" message="Unlock all JEE Main tests for" price="Rs 999/-"
section.tests
  article.exam-group
    .left
      .tile.exam[ng-click="confirmBuy(23,'JEE Advanced',33)"]
        h3.title
          | JEE ADVANCED
        a.lock[ng-click="confirmBuy(23,'JEE Advanced',33)"]
          i.fa.fa-lock
    .right
      ul.tests-list.clearfix
        li
          a href="#"
            flip-tile status="'locked'" heading="Take FREE TEST to earn embibium crystals!" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 2" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 3" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 4" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test 5" message="Unlock all JEE Main tests for" price="Rs 999/-"
        li
          a href="#"
            flip-tile status="'locked'" heading="Test" message="Unlock all JEE Main tests for" price="Rs 999/-"

/section#tour.overlay.active
  .click-msg Click to dismiss
