doctype html
html
  head
    title
      | Embibe - Quest of the day
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  body
    - flash.each do |name, msg|
      div class="alert alert-#{name}"
        = msg
    = yield
