doctype html
html
  head
    title
      | Landing
    link rel="shortcut icon" href="#{image_path 'ts_metro_theme/favicon.ico'}" type="image/x-icon"
    = stylesheet_link_tag    "landing", media: "all"
    = render "ts_metro_theme/landing_css_assets"

    = csrf_meta_tags
    css:
      [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
  body
    = yield
    = render "ts_metro_theme/landing_js_assets"
    = javascript_include_tag "landing"
