doctype html
html
  head
    title
      | Interface
    link rel="shortcut icon" href="#{image_path 'ts_metro_theme/favicon.ico'}" type="image/x-icon"
    = stylesheet_link_tag    "interface", media: "all"
    = javascript_include_tag "interface"
    = csrf_meta_tags
    base href="/i/"
    css:
      [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
    - if !Rails.env.production?
      css:
        * {
          -webkit-touch-callout: inherit;
          -webkit-user-select: inherit;
          -khtml-user-select: inherit;
          -moz-user-select: inherit;
          -ms-user-select: inherit;
          user-select: inherit;
        }
    erb:
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          skipStartupTypeset: true,
          messageStyle: "none",
          "HTML-CSS": {showMathMenu: false },
          showProcessingMessages: true,
          tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
        MathJax.Hub.Configured();
      </script>
    = mathjax_tag :config => 'TeX-AMS-MML_HTMLorMML'
  body
    = yield
