doctype html
html
  head
    title
      | Mock
    link rel="shortcut icon" href="#{image_path 'ts_metro_theme/favicon.ico'}" type="image/x-icon"
    = stylesheet_link_tag    "interface", media: "all"
    = javascript_include_tag "mock"
    = csrf_meta_tags
    base href="/mock/"
    css:
      [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
    erb:
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          skipStartupTypeset: true,
          messageStyle: "none",
          "HTML-CSS": {showMathMenu: false },
          showProcessingMessages: true,
          tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
        MathJax.Hub.Configured();
      </script>
    = mathjax_tag :config => 'TeX-AMS-MML_HTMLorMML'
  body
    = yield
