doctype html
html
  head
    title
      | Mock test interface
    = stylesheet_link_tag    "test", media: "all"
    = javascript_include_tag "test"
    = csrf_meta_tags
    base href="/test/"
    css:
      [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
    erb:
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          skipStartupTypeset: true,
          messageStyle: "none",
          "HTML-CSS": {showMathMenu: false },
          showProcessingMessages: true,
          tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
        MathJax.Hub.Configured();
      </script>
    = mathjax_tag :config => 'TeX-AMS-MML_HTMLorMML'
  body
    = yield
