// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false

body {
  overflow: hidden;
}

ui-view {
  height: 100%;
}

section.lhs {
  font-family: arial, verdana, helvetica, sans-serif;
  width: 79%;
  overflow: scroll;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #ccc;
  height: 100%;
}

section.lhs .header {
  position: fixed;
  background: #fff;
  text-align: right;
  z-index: 2;
  right: 23%;
  left: 6px;
  top: 44px;
  padding: 3px 0;
  .language-option {
    margin-right: 25px;
  }
}

section.lhs .instructions {
  padding: 30px 10px 120px 10px;
  margin-left: 4px;
  position: relative;
  z-index: 1;
  border-right: 0;
  min-height: 220px;

  button {
    border: 0;
  }

  dd {
    padding-left: 4px;
  }
}

section.lhs .footer {
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  right: 4px;
  left: 4px;
  background: #fff;
  text-align: center;
  border-top: 1px solid #ddd;
  z-index: 2;

  label {
    color: #f00;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
  }
}

section.lhs .footer > a {
  display: inline-block;
}

a.large {
  font-size: 24px;
}

span,
strong,
em {
  margin: 0 5px;
}

.important {
  color: #f00;
}

li,
p {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  color: #444;
}

p {
  padding-top: 10px;
}

dt {
  float: left;
  clear: left;
}

dd,
dt {
  line-height: 40px;
}

section.lhs h1 {
  text-align: center;
  width: 100%;
  font-size: 12px;
}

h2,
h3 {
  font-size: 19px;
  font-weight: 100;
  color: #444;
}

h3 {
  margin-left: 15px;
}

.mono {
  font-size: 15px;
}

.instructions__title {
  margin: 0;
  display: block;
  font-weight: 100;
  font-size: 15px;
  color: #666;
  text-align: center;
}

.instructions__heading:not(:first-child) {
  padding-top: 18px;
  border-top: 1px solid #ddd;
}

.instructions__main-title {
  font-size: 27px !important;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

.instructions__nav-btn--start-test {
  display: inline-block;
  background: #29BEF3;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 3px;
  margin-top: 10px;
  border: none;
}

instructions {
  display: block;
}

.system-instructions {
  .instructions__title { display: none; }
  .instructions-wrapper { height: calc( 100% - 150px ) !important; }
  .instructions__instructions { padding: 0 20px; }
}

.instructions__not-visited {
  border: 0;
  background-color: #fff;
  border: 1px solid #29BEF3;
  color: #474747;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 30px;
  margin: 3px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
}

.instructions__not-answered {
  border: 0;
  background-color: #f22133;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 30px;
  margin: 3px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
}

.instructions__answered {
  border: 0;
  background: #55a417;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 30px;
  margin: 3px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
}

.instructions__review {
  border: 0;
  background: orange;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 30px;
  margin: 3px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
}

.instructions__review-answered {
  border: 0;
  background: orange;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 30px;
  margin: 3px;
  text-align: center;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
  position: relative;

  i {
    position: absolute;
    right: 0;
    top: 0;
  }
}