// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false

.login-header {
  h1 {
    margin: 0;
    font-weight: 100;
    font-size: 18px;
  }
}

.login-body {
  width: 400px;
  margin: 55px auto;

  .login-form {

    .row {
      margin: 20px 0;
    }

    label {
      width: 98px;
      display: inline-block;
      text-align: right;
      font-size: 11px;
      margin-right: 10px;
      font-weight: bold;
      font-family: Tahoma, Geneva, sans-serif;
    }

    input {
      background: none repeat scroll 0 0 #fbfbb6;
      border: 1px solid #7e9db9;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      padding: 0 3px;
      width: 174px;
    }

    img {
      margin: 0 3px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}


.login-footer {
  border-top: 1px solid #808080;
  text-align: center;
  background: #fbfcfd;

  button {
    color: #fff;
    font-weight: bold;
    padding: 0 15px;
    border-radius: 6px;
    width: 100px;
    border: 0px;
    background: image-url("ts_metro_theme/test/btn.png") no-repeat scroll center top transparent;
    cursor: pointer;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-right: 3px;
    margin-top: 0;
    background-size: 100% 100%;
    margin: 5px auto;

    &:hover {
      background: image-url("ts_metro_theme/test/btn_hover.png") no-repeat scroll right top transparent;
    }
  }

  button[disabled] {
    cursor: not-allowed;
    color: #ddd;
    background-color: rgb(88, 145, 88);
    background-image: none;
    &:hover {
      background-image: none;
    }
  }
}
