// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section.mock-wrapper {
  height: inherit;

  section.lhs {
    overflow: visible;
    border-right: 0;
    width: 76%;
    float: left;
    position: relative;
  }
  section.rhs {
    float: left;
    width: 24%;
    height: 100%;
    padding: 10px;
    background: #f5f5f5;

    .candidate {
      padding: 10px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      height: 70px;
      width: 70px;
    }

    .left {
      width: 88px;
      width: calc(100% - 90px);
      display: inline-block;
      vertical-align: baseline;
      margin-left: 10px;

      span {
        display: block;
        font-size: 12px;
      }

      .time {
        font-weight: bold;
        font-size: 13px;
      }

      .name {
        font-style: italic;
      }
    }
  }
}

nav.palette {
  height: 230px;
  height: calc(100% - 325px);
}

nav.palette ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  background: #eee;
  margin-top: 10px;
  border-radius: 3px;

  li {
    list-style: none;
    display: inline-block;
    margin: 2px;

    button {
      border: 0;
    }

    button:focus {
      outline: 0;
    }
  }
}

.question-body p .loading-math-tex {
  float: left;
}

.question-body p,
.answers p {
  width: auto;
  margin: 0;
  padding: 10px;
  // Dont know what font but something serif?
}

.question-wrapper{
  margin: -2px 4px 4px 4px;
  .question-type {
    background-color: #fafafa;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #888;
  }

  .question-header {
    padding: 10px;
    background: #f9f9f9;
    .question-type-text {
      font-size: 12px;
      float: right;
      color: #666
    }
  }
  .question-body {
    font-family: Times New Roman, serif;
    color: #333;
    height: 370px;
    height: calc(100% - 198px);
    overflow: scroll;
    border: 1px solid #eee;
    > p {
      font-size: 18px;
      width: 600px;
    }
    img {
      max-width: 100%;
      height: auto !important;
    }
  }
  .answers ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;

    p {
      display: inline-block;
      padding-left: 0;
      width: 520px;
      vertical-align: middle;
    }

    input {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .actions{
    padding: 5px;
    button {
      background-color: #eee;
      border: 1px solid #bbb;
      font-size: 13px;
      border-radius: 30px;
      padding: 9px 0;
      margin: 8px;
      text-align: center;
      width: 181px;
      -webkit-transition: 0.2s all ease;
      -moz-transition: 0.2s all ease;
      -ms-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease;

      &:hover { background-color: #ddd; }
    }
    .left {
      float: left;
      button.save {
        background-color: #3778bd;
        color: #fff;

        &:hover { background-color: darken(#3778bd, 5%); }
      }
    }
  }
}

.control_panel {
  padding: 4px;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 10px;
  height: 100%;
  min-height: 250px;

  > p {
    font-size: 13px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ccc;
  }

  h3 {
    text-decoration: none;
    margin-left: 0;
    margin-bottom: 2px;
  }

  button {
    border: 0;
  }

  button [disabled] {
    color: #666;
  }

  span.q-palette {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
    font-size: 13px;
  }

  ul.legend {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;

    li {
      display: inline-block;
      float: left;
      width: 50%;
      margin: 5px 0;

    }

    button.small {
      width: 22px;
      height: 22px;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      cursor: default;
    }

    button.not_visited.small {
      border: 1px solid #29bef3;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      width: calc(100% - 42px);
      font-size: 12px;
    }
  }

  .actions button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 7px;
    margin: 4px 3px 0 3px;
    border-radius: 22px;
    width: 46%;
    font-size: 12px;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;

    &:hover { background-color: #eee; }
    &[disabled] { pointer-events: none; }
  }
}

.paper-footer {
  position: fixed;
  bottom: 10px;
  right: 20%;
  right: calc(23% + 3px);
  text-align: center;
  left: 4px;
  height: 30px;
  background: #fff;
  border-top: 1px solid #aaa;

  button {
    background-color: #C7DCF0;
    border: #A9D0F5 2px solid;
    margin-top: 0.5%;
    margin-right: 8px;
    cursor: pointer;
    width: 80px;
  }
}

section.system-instructions {
  border: 1px solid #ccc;
  margin: -2px 2px;
  height: 100%;

  h1 {
    text-align: center;
    color: #2F72B7;
    font-size: 18px;
    margin: 5px;
  }

  .language-option {
    text-align: right;
    margin-right: 30px;
  }

  .system-header > p {
    font-weight: bold;
    text-align: center;
  }

  .instructions {
    border: 0;
  }

  .instructions-wrapper {
    height: 400px;
    height: calc(100% - 178px);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .system-footer {
    position: fixed;
    right: calc(23% + 5px);
    left: 5px;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 1;
    border-top: 1px solid #ccc;

    button {
      width: 80px;
    }

  }
}

section.end-details {
  margin: -2px 2px;
  text-align: center;
  height: calc(100% - 91px);

  h1 {
    text-align: center;
    color: #2F72B7;
    font-size: 18px;
    margin: 5px;
  }

  table {
    width: 80%;
    margin: 0 auto;
    border-color: #ccc;

    th,
    td {
      text-align: center;
      padding: 5px;
    }

    thead th {
      padding: 5px;
      text-align: center;
      background-color: #f5f5f5;
      font-weight: 100;
    }

    tfoot td {
      font-weight: bold;
    }
  }

  button {
    margin: 10px;
  }
}

img.end-img {
  width: 60% !important;
  height: auto !important;
  margin-left: 20%;
}

ui-view > div {
  height: 100%;
}

button {
  outline: none;
}

.lhs.instructions {
  width: 100%;
  padding: 20px;
  height: 90%;
  height: calc( 100% - 50px );

  instructions { height: 82%; }

  .instructions__instructions {
    height: 70%;
    height: calc( 100% - 75px );
    overflow: auto;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
  }
}

.timer-msg {
  position: relative;
  padding: 10px;
  font-size: 14px;
  background: #eee;
  border-radius: 3px;
  text-align: justify;
}