// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

question-button {
  button {
    background-position: 0px 0px;
    border: 0px;
    line-height: 36px;
    padding: 1px 6px;
    color: #474747;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 38px;
    margin: 3px;
    text-align: center;
    width: 34px;
    position: relative;

    i {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
