// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

section-button button.subject{
  width: 100%;
}

section-button {
  position: relative;
  max-width: 160px;
  width: 19%;
  margin: 4px 10px;
  text-align: left;
  margin-right: 2px;
  display: inline-block;

  > button {
    background-color: transparent;
    border: 2px solid #aaa;
    border-radius: 2px;
    padding: 6px;
    color: #aaa;
    cursor: pointer;
    font-size: 12px;
    border-radius: 30px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .legend {
    display: none;
    width: 210px;
    top: 25px;
    left: 80px;
    z-index: 2;
    border: 1px solid #000;
    position: absolute;
    border: 1px solid #ddd;
    background: #fafafa;
    margin-top: 2px;
    border-radius: 3px;

    h3 {
      font-size: 14px;
      text-decoration: none;
      padding-bottom: 15px;
      width: 83%;
      border-bottom: 1px solid #aaa;
      margin-bottom: 10px;
    }

    button {
      border: 0px;
    }

    ul {
      list-style: none;
      padding-left: 0px;
      padding-bottom: 10px;
      width: 180px;
      margin: 0px auto;

      button {
        float: none;
        height: 35px;
        padding: 0px;
        margin: 3px;
      }

      li {
        span {
          display: inline-block;
          width: 130px;
          font-size: 12px;
        }
      }
    }
  }
}

section-button.active,
section-button:hover {
  > button {
    border-color: #29b8eb;
    font-weight: bold;
    color: #29b8eb;
  }
}

section-button:hover {
  .legend {
    display: block;
  }
}
