// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false

$blue: #29b8eb;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

//*********************** Test page ********************/

body {
  margin: 0;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

ui-view {
  display: block;
  position: relative;
}

.not_visited {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #29bef3 !important;
  cursor: pointer;
  float: left;
  font-weight: bold;
  width: 34px;
  height: 34px;
  margin: 3px;
  text-align: center;
}

.not_answered {
  border-radius: 2px;
  background: #f22133;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 34px;
  margin: 3px;
  text-align: center;
  width: 34px;
}

.answered {
  background: #55a417;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 34px;
  border-radius: 2px;
  margin: 3px;
  text-align: center;
  width: 34px;
}

.review {
  background-color: orange;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 34px;
  border-radius: 2px;
  margin: 3px;
  text-align: center;
  width: 34px;
  position: relative;

  i {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.review_answered {
	position: relative;
  background: orange;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  width: 34px;
  height: 34px;
  margin: 3px;
  border-radius: 3px;
  text-align: center;
  i {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.pagination {
  border-top: 1px solid #ccc;
  bottom: 32px;
  position: fixed;
  width: 76%;
  background-color: #fff;
  margin: 20px 0 13px;
}

.sysInstText {
  height: 379px;
  margin-top: 17px;
}


input[type="radio"] {
  margin-right: 10px;
  //cursor: image-url("ts_metro_theme/test/black.cur"), auto;
}

.main-container {
  height: 100%;
}

header {
  position: relative;
  background: #fcfcfc;
  height: 44px;
  border-bottom: 1px solid #eee;
  padding: 0;
  overflow: hidden;

  img {
    height: 25px;
    margin: 7px 20px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background: #323e54 image-url("ts_metro_theme/footer_bg.gif") repeat-x top left;
  height: 45px;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 3;
}

footer p {
  margin-top: 0;
  padding-top: 15px;
  font-size: 13px;
}

#login-box {
  width: 530px;
  margin: 0 auto;
  border: 1px solid #808080;
  height: auto;
}

#login-box .login-header {
  background: image-url("ts_metro_theme/login_header_bg.gif") repeat-x top left;
  height: 39px;
  line-height: 39px;
  padding-left: 10px;
  border-bottom: 1px solid #809bae;
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 1.2em;
  text-align: left;
}


.login-body .field-row {
  margin-top: 20px;
}

.login-body .field-label {
  float: left;
  width: 190px;
}

.login-body .field-input {
  float: left;
  width: 230px;
}

.login-body .field-label label {
  font-weight: bold;
  font-size: 11px;
  margin-left: 110px;
  font-family: Tahoma;
}

.login-body .field-input input {
  background: none repeat scroll 0 0 #fbfbb6;
  border: 1px solid #7e9db9;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding: 0 3px;
  width: 174px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.sysInstText {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
}


fieldset {
  border: 1px solid;
  padding: 5px 18px;
}

legend {
  width: auto;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 0;
  margin-left: 12px;
  margin-bottom: 0;
  line-height: 10px;
}

.quiz_header_right {
  font-size: 12px;
  margin-left: 5px;
  width: 21%;
  float: right;
}

.quiz_header_right .photo {
  width: 70px;
  float: left;
}

.quiz_header_right .time_left {
  margin-top: 20px;
}

.questions_palette {
  height: 220px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 190px;
  padding: 0 40px;
}


.btn-container {
  width: 126px;
  float: left;
  margin: 2px;
}

.btn-container .btn-quiz {
  background-color: #c7dcf0;
  border: 2px solid #a9d0f5;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
  width: 100%;
  padding: 4px 2px;
}

.btn-container .btn-quiz-primary {
  background-color: #3778bd;
  color: #fff;
}

.section {
  background-color: #e4edf7;
  float: left;
  margin: 8px 4px;
  width: 180px;
  text-align: center;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  height: 23px;
  font-size: 12px;
  padding-top: 5px;
  position: relative;
}

.section .section-tooltip {
  background: #cae1ff;
  border: 1px solid #06c;
  position: absolute;
  text-align: left;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  width: 216px;
  z-index: 1;
}

.section .section-tooltip .section-tooltip-header {
  margin: 6px 10px;
  font-size: 14px;
  border-bottom: 1px solid #888;
  padding: 10px 0;
  font-weight: bold;
}


.section .section-tooltip .section-tooltip-row {
  margin-left: 10px;
  line-height: 26px;
}

.section .section-tooltip .section-tooltip-row .section-tooltip-legend {
  float: left;
  width: 140px;
}

.section .section-tooltip .section-tooltip-row .section-tooltip-legend-icon {
  float: left;
  width: 40px;
}

.section .section-tooltip .section-tooltip-row .section-tooltip-legend-icon .tooltip_answered {
  background: image-url("ts_metro_theme/answered.png") no-repeat;
  width: 33px;
  height: 30px;
  float: left;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
}

.section .section-tooltip .section-tooltip-row .section-tooltip-legend-icon .tooltip_not_answered {
  background: image-url("ts_metro_theme/not_answered.png") no-repeat;
  width: 33px;
  height: 30px;
  float: left;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
}


.section .section-tooltip .section-tooltip-row .section-tooltip-legend-icon .tooltip_review {
  background: image-url("ts_metro_theme/review.png") no-repeat;
  width: 33px;
  height: 30px;
  float: left;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
}

.section .section-tooltip .section-tooltip-row .section-tooltip-legend-icon .tooltip_not_visited {
  background: image-url("ts_metro_theme/not_visited.png") no-repeat;
  width: 33px;
  height: 30px;
  float: left;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: #000;
}

.active-section {
  background-color: #2f72b7;
  font-weight: bold;
  color: #eee;
}

.question-container,
.question-paper-container {
  margin-top: 30px;
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 12px;
}

.question-container .question {
  border: 1px solid #ccc;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.question-container .question-header {
  background-color: #e4edf7;
  border-bottom: 1px solid #000;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.question-container .question .info {
  font-weight: bold;
  padding: 5px 5px 10px;
  border-bottom: 1px solid #000;
  margin: 0 12px;
}

.question-container .question .text {
  font-size: 18px;
  word-spacing: 3px;
  padding: 10px;
  width: 600px;
  line-height: 25px;
}

.question-container .question .answers {
  margin: 4px 16px 0 0;
  font-size: 16px;
}

.question-container .btn-container {
  width: 180px;
  padding: 8px 4px;
}

.question-container .question .answers  ul {
  list-style: none;
}

.question-container .question .answers  ul li {
  line-height: 30px;
  margin: 15px 4px;
}

.question-container .question-actions {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 4px;
}

.question-paper-container .question-paper-container-header {
  color: #2f72b7;
}

.question-paper-container {
  font-size: 16px;
  border: 1px solid #000;
  margin-top: 35px;
}

.question-paper-container .question-paper-container-body {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
}

.question-paper-container li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding: 6px 8px;
}

.question-paper-container .question-list {
  width: 650px;
  float: left;
  font-size: 18px;
}

.question-paper-container .question-no {
  width: 50px;
  float: left;
  margin: 20px;
}

.question-paper-container .question-meta {
  font-size: 12px;
  font-style: italic;
  margin: 7px 85px;
}

.question-paper-container .question-paper-container-footer {
  text-align: center;
}


.legends .legend-holder {
  font-size: 12px;
  width: 100px;
  float: left;
}

.legends .legend-holder .legend {
  height: 18px;
  width: 19px;
}

.legends .legend-holder .answered {
  background-position: -4px -4px;
}

.legends .legend-holder .not_answered {
  background-position: -4px -52px;
}

.legends .legend-holder .review {
  background-position: -4px -26px;
}

.legends .legend-holder .not_visited {
  background-position: -4px -78px;
}

.quiz_header_right .meta-data {
  margin: 10px 0;
}

.quiz_header_right .image {
  width: 70px;
  height: 70px;
}

.profile-container {
  margin-top: 20px;
  height: 550px;
  border: 1px solid #000;
}

.profile-container .profile-container-body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.profile-container .profile-container-body .profile-meta {
  //*  border: 1px solid #000;*/
}

.profile-container .profile-container-body .profile-title {
  width: 200px;
  float: left;
  font-weight: bold;
  text-align: left;
  margin-left: 2px;
}

.profile-container .profile-container-body .profile-split {
  width: 2px;
  float: left;
}

.profile-container .profile-container-body .profile-data {
  width: 100px;
  float: left;
}

.sysInstText ol li {
  margin: 5px 0;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  display: inline-block;
  vertical-align: top;
}

.paper-content {
	border: 1px solid #ddd;
	margin: -1px 4px 2px 5px;
	max-height: calc(100% - 143px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;

  h1 {
    text-align: left !important;
    color: #2F72B7;
    font-size: 19px !important;
    margin-left: 10px;
  }

  ul {
    list-style: none;
    padding-left: 10px;

    li {
      border-bottom: 1px solid #ddd;
    }

    span.question_number {
      display: inline-block;
      vertical-align: middle;
    }

    .question-body {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 50px);

      .question_type {
        font-size: 13px;
        color: #888;
      }

    }

  }
}

button.btn {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
}

section.profile-details {
  border: 1px solid #eee;
  margin: -1px 2px;
  text-align: center;
  height: calc(100% - 100px);

  h4 {
    font-size: 18px;
    font-weight: 100;
    margin: 10px auto
  }

  dl {
    display: inline-block;
    width: 400px;
    text-align: left;
    margin: 0px;
    border: 1px solid #eee;
    padding: 10px;

    dd,
    dt {
      line-height: 20px;
      float: left;
    }

    dt {
      width: 205px;
      font-weight: 100;
      position: relative;

      &:after {
        content: ":";
        position: absolute;
        right: 0px;
      }

    }

    dd {
      margin-left: 5px;
      text-align: left;
      max-width: 162px;
    }

  }

  button {
    width: 80px;
    display: block;
    margin: 5px auto;
  }
}

.full-height {
  height: 100%;
}

.disabled, button.disabled {
  background: #aaa !important;
  color: #fff !important;
}

button.overlay-close {
	position: absolute;
	right: 40px;
	top: 20px;
	font-size: 33px;
	color: #fff;
}

section.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  font-family: 'Open Sans';
  font-weight: 100;

  .overlay-container {
    position: absolute;
    width: 552px;
    background-color: #fff;
    padding: 10px 20px;
  	border-radius: 8px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .left,
    .right {
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    .left {
      padding: 0px 30px;
      background-color: #f5f5f5;

      i {
        font-size: 80px;
        line-height: 120px;
        color: #29B8EB;
      }
    }

    .right {
      width: 250px;
      padding: 10px;

      h4 {
        margin: 5px;
        font-weight: 100;
      }

      button {
        padding: 7px 20px;
        margin-top: 9px;
        cursor: pointer;
        color: #fff;
        margin-right: 10px;

        &:focus {
          outline: 0;
        }
      }

      button.upload {
        background: #29B8EB;
        border: 1px solid #29B8EB;

        &:hover {
          background-color: darken(#29B8EB,8%)
        }
      }

      button.skip {
        background: transparent;
        border: 1px solid #29B8EB;
        color: #29B8EB;
        &:hover {
          background-color: darken(#29B8EB,8%);
          color: #fff;
        }
      }
    }
  }

  button.overlay-close {
		position: absolute;
		right: 20px;
		top: 5px;
		border: 0;
		background-color: transparent;
		color: #fff;
		font-size: 33px;
		font-weight: 300;
  }
}

.active {
  display: inline-block !important;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
}

.format-education {
  font-family: 'Architects Daughter';
  font-size: 16px;
  text-align: center;
  height: auto;
  color: #f22133;
  font-weight: bolder;
  margin: 60px auto 10px auto;
  width: 50%;
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.test__timer {
  float: right;
  line-height: 45px;
  padding: 0 20px;
  background: $blue;
  color: #fff;

  i { margin-right: 5px; }
}

.subject-tabs {
  padding: 5px;
  margin: 5px;
  border: 1px solid #eee;
  text-align: center;
}

figure.loader {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: image-url("ts_metro_theme/loader.gif");
  margin: 0;
}
