// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

breakdown {
  display: inline-block;
  background: #fff;
  padding-top: 50px;
  overflow: hidden;

  .test-bar__container {
    background: transparent;
  }
}

.breakdown__container {
  position: relative;
  min-height: 350px;
}

.breakdown__legend {
  padding-left: 60px;
}

.breakdown__legend-icon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 12px;

  &.breakdown__legend-icon--correct { background: $green; }
  &.breakdown__legend-icon--incorrect { background: $red; }
  &.breakdown__legend-icon--hints { background: orange; }
}

.breakdown__legend-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 50px;
  font-size: 12px;
}

.breakdown__label {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: $brand-color-blue;
  font-weight: 400;
  white-space: normal;
  overflow: hidden;
  width: 100%;
  height: 15px
}

.breakdown__ticks {
  position: relative;
  width: 25px;
  height: 300px;
}

.breakdown__tick {
  position: absolute;
  bottom: 0;
  left: 28px;
  width: 25px;
  font-size: 12px;
}

.breakdown__attempts {
  position: absolute;
  left: 67px;
  top: -47px;
  padding-bottom: 20px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 0;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  height: 395px;
  margin-left: -5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.breakdown__attempts-number {
  position: absolute;
  bottom: -28px;
  left: 2px;
  background: $blue;
  color: white;
  width: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 14px;
}

.breakdown__attempt {
  display: inline-block;
  width: 20px;
  margin-right: 40px;
  top: 95px;
  height: 281px;

  test-bar {
    position: absolute;
    bottom: 0;

    &:hover { z-index: 1; }
    //&:hover .breakdown__tooltip { display: inline-block; }
    .test-bar__bars:hover + div .breakdown__tooltip { display: inline-block; }
    //&:hover .breakdown__tooltip { display: inline-block; }
  }

  &:first-child {
    margin-right: -4px;
    width: 14px;
 }

  &:last-child {
    margin-left: -10px;
    width: 50px;
  }
}

.breakdown__label--bottom {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 0;
  margin-top: 45px;
  text-transform: uppercase;
}

.breakdown__label {
  position: absolute;
  bottom: -20px;
}

.breakdown__attempts-axis {
  position: relative;
  left: 15px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 280px;
  margin-top: 25px;
  vertical-align: top;
  width: 5%;
  text-align: right;
}

.breakdown__attempt-tick {
  position: absolute;
  right: 0;
  color: #666;
  font-size: 12px;
  @include transform(translateY(-50%));
}


.breakdown__attempt {
  position: relative;
  width: 100px;
  margin: 0;
  padding: 0 20px;

  test-bar { border-radius: 3px 3px 0 0 }
  .test-bar__tick { background-color: #f9f9f9; }
  test-bar:nth-child(1) { left: 20px; }
  test-bar:nth-child(2) { left: 50px; }
  test-bar:nth-child(3) { left: 80px; }
  test-bar:nth-child(4) { left: 110px; }
  test-bar:nth-child(5) { left: 140px; }
}

.breakdown__legend-y {
  position: absolute;
  left: 0;
  top: 50%;
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  @include transform(rotate(-90deg) translateX(-50%));
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

.breakdown__tooltip {
  display: none;
  position: absolute;
  width: 130px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  white-space: normal;
  top: 0%;
  left: 50%;
  margin-top: 4px;
  margin-left: -25px;
  background: #f5f5f5;
  z-index: 9;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);

  &:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -9px;
    margin-left: -2px;
    left: 50%;
    border-top: 10px solid #eee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
  }
}

.breakdown__stat-value {
  float: right;
}

.has-chapters {
  .breakdown__legend { padding-left: 48px; }
  .breakdown__legend-text { margin-right: 10px;}
}

.breakdown__bg {
  position: absolute;
  background: #f9f9f9;
  width: 100%;
  height: 283px;
  z-index: -1;
	left: 63px;
	bottom: 61px
}