// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

flag-plot {
  span.embibium {
    background-color: #0d70b5;
  }

  span.wrong {
    background-color: #f29c21;
  }

  span.trash {
    background-color: #888;
  }

  span.not-attempted {
    background-color: #16a085;
  }

  span.air-prediction {
    background-color: #a8d436;
    border: 1px solid #a8d436;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: right;

    span {
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
    }

    .prediction-holder-exam {
      font-size: 17px;
      margin-left: 5px;
      margin-top: -7px;
    }

    .prediction-holder-rank-type {
      margin: 4px 5px 0 6px;
      margin-top: 0px;
      font-size: 10px;
    }

    .prediction-holder-rank {
      font-size: 17px;
      margin: 2px 5px 1px 3px;
      display: block;
    }

  }

  .flag-plot__unlock-overlay {
    line-height: 17px;
    padding: 5px 0 0 0;
    font-size: 11px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 126px;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }

  a,
  span.stat {
    display: inline-block;
    font-size: 21px;
    font-weight: 300;
    width: 126px;
    vertical-align: middle;
    position: relative;
    color: #fff;
    height: 45px;
  }

  .stat-icon img {
    width: 30px;
    margin: 7px;
  }

  .stat-details {
    padding: 7px 0 2px;
    line-height: 17px;
    text-align: right;
    padding-right: 6px;
    width: 79px;
  }

  .stat-icon {
    width: 41px;
    text-align: center;

    i {
      font-size: 34px;
      line-height: 43px;
    }
  }

  .stat-icon,
  .stat-details {
    float: left;
  }

  .stat-details-text {
    font-size: 10px;
    display: block;
  }

  .map-div {
    height: 113px;
    border-bottom: 3px solid $brand-color-blue;
    position: relative;

    > div {
      height: 100%;
      position: absolute;
      bottom: 0;
      width: 60px;

      &:hover {
        .on-hover {
          display: inline-block;
        }
      }

      .on-hover {
        display: none;
        background-color: #fff;
        position: absolute;
        padding: 3px 5px;
        line-height: 12px;
        z-index: 1;
        bottom: 35px;
        left: 27px;
        font-size: 11px;
        border: 1px solid #ddd;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        &:before {
          position: absolute;
          width: 0;
          height: 0;
          content: "";
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #fff;
          z-index: 2;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(100%);
          -moz-transform: translateX(-50%) translateY(100%);
          -ms-transform: translateX(-50%) translateY(100%);
          -o-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
        }

        &:after {
          position: absolute;
          width: 0;
          height: 0;
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #ddd;
          z-index: 1;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(100%);
          -moz-transform: translateX(-50%) translateY(100%);
          -ms-transform: translateX(-50%) translateY(100%);
          -o-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
        }

        > p {
          margin: 0;
          white-space: nowrap;
        }
      }

      .on-init {
        display: inline-block;
      }

      img {
        position: absolute;
        bottom: 0;
        left: 6px;
        height: 34px;
      }

    }

    .flag img {
      width: auto;
      height: 64px;
    }

    .flag span {
      white-space: nowrap;
      position: absolute;
      bottom: 70px;
      left: 50%;
      left: calc(50% - 20px);
      font-size: 12px;
      color: #666;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .map-scale {
    position: relative;
    font-size: 12px;
    height: 16px;

    span {
      position: absolute;
    }
  }

  .flag__cutoff-msg {
    position: absolute;
    bottom: 90px !important;
    width: auto;
    padding: 3px;
    color: #666;
  }
}

.summary-map {
  text-align: right;
}

