// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

flair {

  background: #ccc;
  color: #444;
  display: block;
  margin-top: 1px;
  text-align: left;
  width: 200px;
  vertical-align: middle;
  font-weight: $ultra-thin;

  > a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .zero {
    display: none;
  }

  .message {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 0px -5px;
    width: 131px;
  }

  .count,
  .badge-name {
    display: block;
    text-align: right;
    width: 128px;
    color: #444;
  }

  .count {
    font-size: 24px;
  }

  .badge-name {
    font-size: 14px;
  }

  .count-is-0 {
    .zero {
      display: block;
      color: #444;
      font-size: 13px;
      text-align: right;
      margin-right: 10px;
      margin-top: 5px;
    }

    .count,
    .badge-name {
      display: none;
    }
  }

  img {
    width: 48px;
    height: 48px;
    display: none;
    font-size: 16px;
    text-align: left;
    margin: 10px 0 3px 10px;
    border-radius: 28px;
    border: 2px solid #bbb;
  }

  a.main {
    border: 2px solid $brand-color-blue;

    img.main {
      display: inline-block; 
      //border: 2px solid #C26614;
    }
  }

  a.advanced {
    border: 2px solid #e74f3f;

    img.advanced { 
      display: inline-block; 
      //border: 2px solid #c0392b;
    }
  }

  a.bitsat {
    border: 2px solid #27ae60;

    img.bitsat {
      display: inline-block;
      //border: 2px solid #1d7f46;
    }

  }
}