// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

flip-tile {
  display: inline-block;
  position: relative;
  font-family: 'Open sans', 'Quicksand', Helvetica;
  width: 150px;
  height: 180px;
  cursor: pointer;

  .imp-icon {
    position: absolute;
    top: -2px;
    right: 020px;
    color: yellow;
    font-size: 20px;
  }
}

flip-tile .flip-holder,
flip-tile .front,
flip-tile .back {
  width: inherit;
  height: inherit;
}

flip-tile span.count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  display: none;
}

flip-tile h3.title {
  margin-top: 10px;
  padding: 0 10px;
  font-weight: normal;
  font-size: 15px;
  white-space: normal;
}

flip-tile .back p {
  margin: 10px;
}

flip-tile .lock-button {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: none;
}

flip-tile .lock-button {
  display: none;
}

flip-tile .locked .lock-button {
  display: inline-block;
}

flip-tile .flip-button {
  position: absolute;
  bottom: 7px;
  left: 9px;
  width: 23px;
  display: inline-block;
}

flip-tile .imp-chapter {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fbfdaa;
}

flip-tile .back .tile-stats {
  margin: 27px 10px;
}

flip-tile .coming-soon-msg {
  text-align: center;
  margin-top: 75px;
}

flip-tile .buy-holder {
  text-align: center;
  margin-top: 48px;
  font-size: 14px;
  white-space: normal !important;
}

flip-tile .buy-holder span {
  white-space: normal;
}

flip-tile .buy-holder button {
  width: 100px;
  margin: 5px;
  background: transparent;
  border: 1px solid #fff;
  outline: 0;
  color: #fff;
}

flip-tile .buy-holder button:hover {
  background-color: #fff;
  color: #444;
}

flip-tile .front .champ-badge {
  width: 42px;
  position: absolute;
  bottom: 5px;
  right: 6px;
}


flip-tile .back .tile-stats img {
  width: 17px;
}

flip-tile .back .tile-stats > div {
  margin: 4px 0;
}

flip-tile .back .tile-stats span {
  width: 106px;
  display: inline-block;
  text-align: right;
}

flip-tile .flip-holder .front,
flip-tile .flip-holder .back {
  background-color: #aaa;
  color: #fff;
	border-radius: 2px;
}

flip-tile .solution .front,
flip-tile .solution .back {
  background-color: #94268f;
  color: #fff;
}

flip-tile .locked .front,
flip-tile .locked .back,
flip-tile .coming-soon .front,
flip-tile .coming-soon .back {
  background-color: #888;
  color: #fff;
}

flip-tile .started .front,
flip-tile .started .back,
flip-tile .fresh .front,
flip-tile .fresh .back {
  background-color: #29b8eb;
  color: #fff;
}

flip-tile .good .front,
flip-tile .good .back {
  background-color: #55a417;
  color: #fff;
}


flip-tile .average .front,
flip-tile .average .back {
  background-color: #f29c21;
  color: #fff;
}

flip-tile .bad .front,
flip-tile .bad .back {
  background-color: #f22133;
  color: #fff;
}

flip-tile .fa-repeat {
  position: absolute;
  top: 156px;
  left: 10px;
}

flip-tile .flip-holder {
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  -o-perspective: 100px;
  perspective: 100px;
  height: inherit;
  width: inherit;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
}

flip-tile:hover .flip-holder {
  -webkit-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -o-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  transform: rotateX(0) rotateY(180deg) rotateZ(0);

  .front {
    z-index: 2;
  }
  .back {
    z-index: 3;
  }
}

flip-tile .flip-holder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

flip-tile .front,
flip-tile .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

flip-tile .front {
  z-index: 3;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

flip-tile .back {
  -webkit-transform: rotateY(180deg) translateZ(0.01em);
  -moz-transform: rotateY(180deg) translateZ(0.01em);
  -o-transform: rotateY(180deg) translateZ(0.01em);
  -ms-transform: rotateY(180deg) translateZ(0.01em);
  transform: rotateY(180deg) translateZ(0.01em);
  z-index: 2;

  ul {
    margin: 0;
    font-size: 12px;
    padding: 2px;
    list-style: none;
    white-space: normal;

    li {
      span.text {
        display: inline-block;
        float: left;
        height: 100%;
        vertical-align: middle;
        width: 132px;
      }
      span.bullet {
        display: inline-block;
        background-color: #fff;
        width: 4px;
        float: left;
        height: 4px;
        margin: 8px 4px 4px 2px;
        border-radius: 4px;
        vertical-align: middle;
      }
    }
  }
}

.flip-tile__countdown {
  text-align: right;
  display: inline-block;
  padding: 10px;
}

.flip-tile__time {
  display: block;
}

.flip-tile__front-timer {
  display: block;
  text-align: center;
}

.flip-tile__front-msg {
  margin: 10px;
  margin-bottom: 0;
  display: block;
  font-size: 14px;
}

.flip-tile__time-unit {
	position: relative;
	top: -5px;
	font-size: 13px;
}