// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

$global-nav-bg: $blue;
$global-nav-bottom-bg: #333;

global-nav {
  display: block;
  height: 84px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: $global-nav-bg;
}

.global-nav__left,
.global-nav__logo,
.global-nav__goal,
.global-nav__nav,
.global-nav__right,
.global-nav__profile,
.global-nav__stat {
  display: inline-block;
  vertical-align: top;
}

.global-nav__top,
.global-nav__bottom {
  height: 42px;
}

.global-nav__logo {
  height: 31px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 35px;
  cursor: pointer;

  &.global-nav__logo--main { width: 114px; }
}

.global-nav__goal {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding: 7px 16px;
  border-radius: 16px;
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;

  &.global-nav__goal--active,
  &:hover {
    color: $global-nav-bg;
    background: #fff;
  }
}

.global-nav__right-link {
  display: inline-block;
  vertical-align: top;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  @include transition(0.2s background-color linear);

  &:hover,
  &.active {
    background-color: lighten($global-nav-bg, 5%);
  }
}

.global-nav__left {
  float: left;
}

.global-nav__nav-link {
  display: inline-block;
  width: 95px;
  text-align: center;
  color: #fff;
  line-height: 38px;
  font-size: 14px;
  text-decoration: none;
  @include transition(0.2s background-color linear);

  &:hover,
  &.global-nav__nav-link--active {
    background-color: lighten($global-nav-bottom-bg, 5%);
    border-bottom: 4px solid $blue;
  }
}

.global-nav__right {
  position: absolute;
  right: 0;
}

.global-nav__profile {
  position: relative;
  z-index: 1;
  padding: 12px;
  cursor: pointer;
  @include transition(0.2s all linear);

  &:hover { background-color: lighten($global-nav-bg, 10%); }
  &:hover .global-nav__profile-dropdown { max-height: 100px; }
}

.global-nav__profile-dropdown-icon {
  margin-left: 5px;
}

.global-nav__profile-dropdown {
  position: absolute;
  top: 41px;
  right: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  background-color: $global-nav-bg;
  @include transition(0.2s all linear);
}

.global-nav__profile-dropdown-link {
  display: block;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;

  &:hover {
    background-color: lighten($global-nav-bg, 5%);
  }
}

.global-nav__profile-dropdown-link-icon {
  margin-right: 5px;
}

.global-nav__top {
  position: relative;
}

.global-nav__bottom {
  position: relative;
  letter-spacing: 0.05em;
  background-color: $global-nav-bottom-bg;
}

.global-nav__stat {
  max-width: 40px;
  padding: 8px 6px 5px 7px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  @include transition(0.3s all linear);

  &:hover {
    max-width: 200px;
    background-color: darken($global-nav-bottom-bg, 10%);
  }
}

.global-nav__stat-icon,
.global-nav__stat-value,
.global-nav__stat-title {
  display: inline-block;
  vertical-align: middle;
}

.global-nav__stat-icon {
  width: 16px;
  height: 16px;
}

.global-nav__stat-value {
  padding: 5px;
}

.global-nav__stat-title {
  padding: 0 10px 0 5px;
}

.global-nav__sep {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  margin-top: 15px;
  background: #aaa;
}

.global-nav__simple-links {
  position: absolute;
  right: 0;
}

.global-nav__simple-link {
  display: inline-block;
  margin: 0 10px;
  color: #eee;
  text-decoration: none;
  line-height: 42px;
  text-transform: uppercase;
  font-size: 12px;
}

.global-nav__simple-link-sep {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 10px;
  background: #aaa;
}

.global-nav__rank {
  float: left;
  margin: 5px;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 16px;
  color: #fff;
  outline: none;
  background: transparent;
}

.global-nav__rank-icon,
.global-nav__rank-text {
  display: inline-block;
  vertical-align: middle;
}

.global-nav__rank-icon {
  margin-right: 7px;
}

.global-nav__rank-text {
  width: 104px;
  font-size: 10px;
  text-align: left
}

.global-nav__top-right-link {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  @include transition(.2s all linear);

  &:hover { background-color: darken($blue, 5%); }
}

.global-nav__top-right-link-icon {
  display: inline-block;
  background-size: cover;
  width: 28px;
  height: 28px;

  &.logout { background-image: image-url('ts_metro_theme/svg/logout.svg'); }
  &.profile { background-image: image-url('ts_metro_theme/svg/profile.svg'); }
  &.qotd { background-image: image-url('ts_metro_theme/svg/qotd.svg'); }
  &.help { background-image: image-url('ts_metro_theme/svg/help.svg'); }
  &.users { background-image: image-url('ts_metro_theme/svg/users.svg'); }
  &.cart { background-image: image-url('ts_metro_theme/svg/cart.svg'); }
}

.global-nav__logo--round {
	border-radius: 30px;
}