// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

header {
  padding: 25px 0px;

  .logo {
    margin-left: 0 !important;
  }

  .left-group,
  .right-group {
    display: inline-block;
    vertical-align: top;
  }

  .left-group {
    width: 44%;

    a {
      display: inline-block;
      font-size: 36px;
      height: 55px;
      vertical-align: top;
      margin-left: 6px;
      position: relative;

      img {
        width: 55px;
        height: 55px;
      }

    }

    .air-prediction {
      padding: 0 5px;
      background-color: #ddd;
      border-radius: 2px;
      min-width: 136px;
      line-height: 10px;

      > span {
        color: #444;
      }
    }

    .prediction-holder-exam {
      display: block;
      font-size: 12px;
      margin-top: 5px
    }

    .prediction-holder-air {
      position: relative;
      top: -4px;
      font-size: 12px;
      line-height: 9px;
    }

    .prediction-holder-rank-type {
      font-size: 12px;
      margin-left: 3px;
    }

    .prediction-holder-rank {
      margin-top: 14px;
      font-size: 20px;
      display: block;
    }

    .prediction-holder-overlay {
      position: absolute;
      display: inline-block;
      background-color: #ddd;
      font-size: 15px;
      width: 145px;
      color: red;
      text-align: center;
      top: 0;
      left: 0;
      height: 53px;
      line-height: 34px;
      border-radius: 2px;

      span {
        position: relative;
        margin: 8px;
        display: inline-block;
      }
    }
  }

  .right-group {
    width: 56%;
    margin-left: -5px;
    text-align: right;
    margin-top: -9px;

    a.header-exam-countdown {
      width: 112px !important;
      font-size: 12px !important;
      line-height: 20px;
      text-align: right;
      padding-right: 8px;
      height: 50px !important;
      padding-top: 6px;
      color: #fff !important;
      background-color: #F22133;
      top: 4px;

      .header-exam-countdown-time {
        display: block;
        line-height: 20px;
        font-size: 24px;
        margin-top: 4px;
      }

      .prediction-holder-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: inherit;
        background: #F22133;
        font-size: 11px;
        color: #fff;
        height: 48px;
        padding-top: 8px;
      }
    }

    > a {
      display: inline-block;
      font-size: 31px;
      vertical-align: middle;
      position: relative;
      color: #fff;
      width: 56px;
      cursor: pointer;
      overflow: hidden;
      height: 65px;

      img {
        width: 36px;
        margin: 12px;
      }

      span.count {
        position: absolute;
        top: -8px;
        right: 4px;
        font-size: 13px;
        display: inline-block;
        color: #fff;
        background-color: #e74c3c;
        line-height: normal;
        padding: 0 5px;
        border-radius: 11px;
      }
    }

    sliding-tile .st-holder {
      position: relative;
      top: 9px;
    }

    a.logout {
      height: 56px;
      top: 4px;
    }
  }

  .flexi {
    width: 56px;
    -webkit-transition: .3s width ease;
    -moz-transition: .3s width ease;
    -o-transition: .3s width ease;
    -ms-transition: .3s width ease;
    transition: .3s width ease;

    &:hover {
      width: 175px;

      .stat-details {
        visibility: visible;
      }

      span.count {
        display: none;
      }
    }
  }

  .flexi.active{
    width: 175px;

    .stat-details {
      visibility: visible;
    }

    span.count {
      display: none;
    }

    sliding-tile {
      width: 175px;

      .st-details {
        visibility: visible;
      }

      .st-summary {
        .st-count {
          display: none;
        }
      }
    }
  }
}

.jee-solutions-link {
  width: 100px;
  text-align: center;
}