// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

help .overlay {
  position: absolute !important;
  z-index: 4 !important;
  letter-spacing: 0.06em;
  background: rgba(0,0,0,0.75) !important;
  font-family: 'Architects Daughter';

  .help-tile p {
    width: 345px;
    position: relative;
    left: -100px;
    top: -5px;
  }

  .help-nowrap {
  	white-space: nowrap;
  }

  .help-help {
    white-space: nowrap;
    img { bottom: -7px !important; }
  }

  .help-perfect p {
    width: 350px;
    position: relative;
    top: 7px;
  }

  .help-wasted p {
    width: 300px;
    margin-bottom: 20px;
  }

  .help-overtime p {
    width: 440px;
    position: left;
    left: -50px;
  }

  .help-analytics p {
    width: 300px;
  }

  .help-compare p {
    width: 380px;
    position: relative;
    left: 100px;
    bottom: 5px;
  }

  .help-discuss p {
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .help-video p {
    width: 300px;
  }
}

.help__container {
  position: relative;
  height: 100%;
}

[help-el="true"] {
  position: relative;
  z-index: 5;

  &:hover {
  	z-index: 6;
  }
}

help {

  .marker {
    width: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .click-msg {
    display: inline-block;
    position: absolute;
    color: #fff;
    font-weight: 100;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    margin: 0;
  }

  .help-msg {
    width: 200px;
    color: #fff;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 10px 0 15px 0;
  }
}

.marker-bottom img {
  @include transform(rotate(240deg));
  margin-left: 24px;
  top: 4px;
}

.marker-top {
  position: absolute;
  top: 106px;
  left: 1103px;
  @include transform(translateX(-100%) translateY(-100%));

  img {
    position: absolute;
    bottom: -2px;
    right: 0;
    @include transform(rotate(54deg));
  }
}

.marker-right img {
  @include transform(rotateY(188deg));
}

.marker-left {
  @include transform(translateX(-100%));
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}