// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

section.key-concept {
  .overlay-container {
    width: 820px !important;
    height: 94%;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    
    h4 {
      margin: 0px;
      color: $brand-color-blue;
      font-weight: $ultra-thin;
      // border-bottom: 1px solid $brand-color-blue;

      strong {
        font-weight: 300;
      }
    }

    h4.red {
      color: $brand-color-red;
    }

    h4.green {
      color: $brand-color-green;
    }

    p.click-msg {
      font-size: 12px;
      padding-left: 24px;
      margin-bottom: 16px;
      color: #888;
    }

    .concepts-wrapper {
      margin-left: 25px;
    }

    .concepts-wrapper > i {
      font-size: 12px;
      padding: 0px 5px;
      color: #888;
      display: inline-block;
      vertical-align: middle;
    }

    flip-tile span.count {
      display: inline;
    }

    ul.chapters-container {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      overflow: scroll;
      font-weight: $ultra-thin;
      white-space: nowrap;
      margin: 0px;
      padding-left: 0px;
      padding-bottom: 10px;
      max-width: 736px;

      h3 {
        font-weight: $ultra-thin;
      }
      
      li {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
      }
      
      .long {
        width: 125px;
        height: 150px;
      }
      
      .flip-holder {
        white-space: normal;
        
        .front {
          width: inherit;
          height: inherit;
        }
        
        .back {
          width: inherit;
          height: inherit;
        
          .tile-stats {
            margin: 12px 10px;
            
            span {
              width: 87px;
              font-size: 14px;
              vertical-align: top;
            }

            > div {
              margin: 2px 0px;
            }
          }
        } 
      }
    }

    .concept-details {
      padding: 20px 0px;

      p {
        margin-left: 20px;
        font-size: 14px;
        text-align: justify;
      }
    }

  button {
    background: transparent;
    border: 1px solid $brand-color-blue;
    color: #666;
    position: relative;
    left: 50%;
    margin-left: -87px;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 20px;
    color: $brand-color-blue;
    &:hover {
      background-color: $brand-color-blue;
      color: #fff;
    }
  }
  }
}
