// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

master-tile {
  display: block;
}

master-tile .inner-tile {
	border-radius: 2px;
  background: #fff;
  border: 2px solid #f29c21;
  -moz-box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 1px 1px 1px #888;
  box-shadow: 1px 1px 1px #888;
  height: 174px;
  width: 307px;
  position: relative;
}


master-tile h3.title,
.chapter h3.title {
  margin-top: 10px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
}


master-tile .lock {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #a8d436;
  border: 1px solid #a8d436;
  background-color: transparent;
  border-radius: 25px;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

master-tile .lock:hover {
  background-color: #a8d436;
  color: #fff;
}

master-tile {
    unlock-jee {
      display: inline-block;
      cursor: pointer;
      height: 78px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      border: 1px solid rgb(221, 221, 221);
      border-bottom: 0;
      border-right: 0;

      .tile {
        margin-top: 0 !important;
        padding: 4px 0;
        background-color: rgba(0, 0, 0, 0.02);
        color: rgb(68, 68, 68);
        width: 111px;
        height: 70px;

        h3 {
          margin: 0;
        }

        ul {
          margin: 0;
        }
      }
    }
}



