// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

.arc path {
  stroke: #fff;
}

.arc text {
  fill: #fff;
}