// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

points-earned {
  background-color: #666;
  margin-right: 10px;
  display: inline-block;
  font-size: 31px;
  vertical-align: middle;
  position: relative;
  color: #fff;
  width: 56px;
  height: 56px;
  -webkit-transition: .2s width linear;
  -moz-transition: .2s width linear;
  -o-transition: .2s width linear;
  -ms-transition: .2s width linear;
  transition: .2s width linear;
  color: #29b8eb;
  text-decoration: none;
  font-weight: $ultra-thin;
  font-family: 'Open sans', 'Quicksand', Helvetica;
  width: 175px;

  .st-holder {
    height: inherit;
    display: block;
    font-size: 31px;
    color: #fff;
    text-align: right;
  }

  .st-summary,
  .st-details {
      float: left;
  }

  .st-summary {
    width: 56px;
    height: 56px;
    display: block;

    img {
      width: 45px;
      margin: 6px;
      border: 0;
    }

    .st-count {
      position: absolute;
      top: -8px;
      right: 4px;
      font-size: 13px;
      display: inline-block;
      color: #fff;
      background-color: #e74c3c;
      line-height: normal;
      padding: 0 5px;
      border-radius: 11px;
    }
  }

  .st-details {
    .st-count {
      font-size: 24px;
    }

    padding: 7px 0 2px;
    line-height: 20px;
    width: 107px;
    display: inline-block;

    .st-text {
      font-size: 13px;
      display: block;
    }
  }

  .embibium {
    background-color: #0d70b5;
  }

  .timeTrolls {
    background-color: #f29c21;
  }

  .wastedAttempts {
    background-color: #888;
    .st-summary {
      text-align: center;
      font-size: 48px;
      i {
        position: relative;
        top: -4px;
      }
    }
  }

  .st-icon {
    width: 57px;
  }

  .st-icon img {
    width: 45px;
    margin: 6px;
  }

  .st-details-count {
    font-size: 24px;
  }
}

