// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

profile {
  border-radius: 1px;
  width: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  background-color: #ddd;
  position: relative;

  .progress-bar {
    height: 17px;
    margin: 10px auto;
    margin-bottom: 0;
    border-radius: 1px;
    background-color: #fff;

    .bar {
      position: relative;
      width: 0%;
      height: 100%;
      background-color: $brand-color-blue;
    }

    &:hover .fake-tooltip {
      display: inline-block;
    }

    .fake-tooltip.active {
      display: inline-block;
    }
  }

  .air-prediction__unlock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 21px;
    padding: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 13px;
  }

  .upload-change {
    display: none;
    position: absolute;
    background: #fff;
    font-weight: 300;
    border: 0;
    padding: 5px 10px;
    font-size: 14px;
    top: 30px;
    left: 100px;
    z-index: 1;
    width: 140px;
    border: 1px solid #ddd;
    border-radius: 1px;
    cursor: pointer;
    &:hover {
      display: inline-block;
      background-color: $brand-color-blue;
      color: #fff;
      border-color: $brand-color-blue;
    }
  }

  .upload-file {
    margin-bottom: 10px;

    label {
      color: #fff;
      display: inline-block;
      background: #29b8eb;
      border: 0;
      padding: 4px 10px;
      cursor: pointer;
    }
  }

  img {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 2px solid #fff;
    margin-top: 20px;

    &:hover + .upload-change{
      display: inline-block;
    }
  }

  h3 {
    display: block;
    font-family: 'Open sans', Quicksand, Helvetica;
    font-size: 19px;
    font-weight: bold;
    height: 26px;
    margin-top: 5px;
    text-align: center;
    font-weight: 300;
  }

  .air-prediction {

    display: block;
    position: relative;
    text-align: left;
    width: 160px;
    margin: 20px auto;
    cursor: pointer;

    .wrapper {
      display: inline-block;
      vertical-align: middle;
    }

    .exam {
      display: block;
    }

    .title {
      font-size: 12px;
      text-align: left;
      line-height: 19px;
    }

    .disclaimer {
      font-size: 12px;
      margin-left: 5px;
      color: #f22133;
      text-align: left;
      line-height: 14px;
    }

    .rank {
      font-size: 21px;
      text-align: left;
      line-height: 35px;
      display: block;
      vertical-align: middle;
    }

    &:hover {
      //background-color: #d3d3d3;
    }
  }

  .profile-completeness {
    margin-bottom: 10px;

    span {
      font-weight: 100;
      margin: 10px 5px 10px 0;
      font-size: 13px;
    }
  }

  .img-load {
    width: 31px;
    height: 31px;
    border: 0;
    border-radius: 0;
    padding: 44px;
  }

  .fake-tooltip {
    display: none;
    position: absolute;
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    background: #444;
    border-radius: 2px;
    left: 100%;
    bottom: 25px;
    white-space: nowrap;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #444;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

}
