// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

referral-summary {
  height: 80px;
  width: 609px;
  border-radius: 2px;
  display: block;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: $ultra-thin;

  .invited {
    background-color: #0d70b5;
    height: inherit;
  }

  .joined {
    background-color: #94268f;
    height: inherit;
  }

  .bought {
    background-color: #55a417;
    height: inherit;
  }

  .invited,
  .joined,
  .bought,
  {
    .part {
      display: inline-block;
      width: 33.33%;
      height: inherit;
      float: left;

      .head {
        display: block;
        border-left: 0;
        font-size: 14px;
        line-height: 25px;
        margin-top: 10px;

      }

      .tail {
        display: block;
        font-size: 34px;
        line-height: 35px;
        font-weight: 300;
      }

      .center {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }
  }

  .invited,
  .joined,
  .bought,
  {

  }
}

