// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

section-summary,
section-summary-stats,
section-summary-attempts {
  display: inline-block;
  width: 313px;
  margin-right: 4px;

  .bdr-B {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .bdr-R {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }

  .feedback-points {
    > a {
      display: inline-block;
      font-size: 22px;
      font-weight: 300;
      width: 136px;
      vertical-align: middle;
      position: relative;
      color: #fff;
      height: 54px;
      padding: 3px 9px;

      &.desc {
        height: 61px;
        width: 154px;
        font-size: 11px;
        padding: 9px 5px 0 5px;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor: default;
      }
    }

    .stat-icon {
      width: 34px;
      text-align: center;

      i {
        font-size: 29px;
        line-height: 54px;
        padding: 2px 5px;
      }

      img {
        width: 30px;
        margin: 4px;
        margin-top: 10px;
      }
    }

    .stat-icon,
    .stat-details {
      float: left;
    }

    .stat-details {
      padding: 9px 0 2px;
      line-height: 20px;
      text-align: right;
      line-height: 22px;
      width: 102px;
    }

    .stat-details-text {
      font-size: 11px;
      display: block;
    }

    .wrong-tick {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }

  .score > span {
    display: inline-block;
    color: #000;
    margin: 2px 10px;
    font-size: 20px;
    font-weight: $ultra-thin;
  }

  .score .subject-summary {
    text-align: center;
    padding: 10px;

    span.subject-name {
      float: left;
    }

    span.subject-percentage {
      float: right;
    }
  }

    .feedback-points {
    background-color: #94268f;
    }

  .physics > .feedback-points {
    background-color: #94268f;
  }

  .chemistry > .feedback-points {
    background-color: #0d70b5;
  }

  .math > .feedback-points {
    background-color: #1abc9c;
  }

  .englishproficiency > .feedback-points {
    background-color: #4a5c6c;
  }

  .logicalreasoning > .feedback-points {
    background-color: #739c3c;
  }

  .score {
    border: 2px solid #94268f;
  }

  .score.physics {
    border: 2px solid #94268f;
  }

  .score.chemistry {
    border: 2px solid #0d70b5;
  }

  .score.math {
    border: 2px solid #1abc9c;
  }

  .score.englishproficiency {
    border: 2px solid #4a5c6c;
  }

  .score.logicalreasoning {
    border: 2px solid #739c3c;
  }
}