// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

sliding-tile {
  display: inline-block;
  font-size: 31px;
  vertical-align: middle;
  position: relative;
  width: 56px;
  height: 65px;
  color: #29b8eb;
  text-decoration: none;
  font-weight: $ultra-thin;
  -webkit-transition: .3s width ease;
  -moz-transition: .3s width ease;
  -o-transition: .3s width ease;
  -ms-transition: .3s width ease;
  transition: .3s width ease;

  .st-holder {
    height: 56px;
    display: block;
    color: #fff;
    text-align: right;
  }

  .st-summary,
  .st-details {
      float: left;
  }

  .st-summary {
    width: 56px;
    height: 56px;
    display: block;
    font-size: 44px;

    img {
      width: 45px;
      margin: 6px;
      border: 0;
    }

    .st-count {
      position: absolute;
      top: -8px;
      right: 4px;
      font-size: 13px;
      display: inline-block;
      color: #fff;
      background-color: #e74c3c;
      line-height: normal;
      padding: 0 5px;
      border-radius: 11px;
    }
  }

  .st-details {
    padding: 10px 0 2px;
    line-height: 20px;
    width: 107px;
    font-size: 24px;
    position: absolute;
    left: 56px;
    visibility: hidden;
    .st-text {
      font-size: 13px;
      display: block;
    }
  }

  .embibium {
    background-color: #0d70b5;
  }

  .friendsJoined {
    background-color: #94268f;
    img {
    	width: 34px !important;
			margin: 14px !important;
		}
  }

  .timeTrolls {
    background-color: #f29c21;
  }

  .cartItems {
    background-color: #a8d436;
    .st-summary {
      text-align: center;
    }

    i {
      display: inline-block;
    }
  }

  .wastedAttempts {
    background-color: #888;
    .st-summary {
      text-align: center;
      font-size: 48px;
      i {
        position: relative;
        top: -6px;
				font-size: 41px;
      }
    }
  }

  .st-icon {
    width: 57px;
  }

  .st-icon img {
    width: 45px;
    margin: 6px;
  }

  .st-details-count {
    font-size: 24px;
  }
}

sliding-tile:hover {
  width: 175px;

  .st-details {
    visibility: visible;
  }

  .st-summary {
    .st-count {
      display: none;
    }
  }
}

