// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

stat {
  display: block;
  margin-top: 1px;
  position: relative;
  background: #f5f5f5;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  width: 710px;

  .stat-holder {
    padding: 15px 7px 0;
    display: inline-block;
    vertical-align: top;
    height: 76px;
    width: 178px;
    color: #fff;
    font-weight: $ultra-thin;

    .stat-details {
      display: inline-block;
      float: right;
      text-align: right;

      .stat-details-count {
        display: block;
        font-size: 24px;
      }

      .stat-details-text {
        font-size: 14px;
      }
    }

    img,i {
      display: none;
      font-size: 55px;
      width: 50px;
      height: 50px;
    }
  }

  .perfect {
    background-color: #0d70b5;
    .perfect-active {
      display: inline-block;
    }
  }

  .strong {
    background-color: #94268f;
    .strong-active {
      display: inline-block;
    }
  }

  .overtime {
    background-color: #f29c21;
    .overtime-active {
      display: inline-block;
    }
  }

  .wasted {
    background-color: #888;
    .wasted-active {
      display: inline-block;
    }
  }

  p {
      margin-top: 0;
      color: #000;
      text-align: justify;
      width: 480px;
      font-size: 15px;
      display: inline-block;
      vertical-align: top;
      padding: 10px;
  }

  > a {
    display: inline-block;
    width: 153px;
    text-align: center;
    position: absolute;
    font-size: 13px;
    right: 0;
    bottom: 0;
    padding: 4px 0;
    margin-top: -10px;
    color: #fff;
    background: #0d70b5;
  }

  .embibium > a {
    width: 191px;
    background-color: #f29c21;
  }

  .wasted > a {
    width: 191px;
    background-color: #94268f;
  }

  .trash  > a {
    width: 191px;
    background-color: #888;
  }


}
