// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  width: 960px;
  font-size: 1em;
  margin: 0 auto;
  padding-bottom: 40px;
  min-height: 100%;
  font-weight: $ultra-thin;
  font-family: 'Open Sans', Helvetica;
}

.test-badge-holder {
  text-align: left;
}

.test-badge-holder > div {
  margin: 1px;
  padding: 9px;
  color: #fff;
}

.test-badge.empty {
  background: #ccc;
  color: #444;
}

.test-badge.empty img {
  -webkit-filter: grayscale(.5);
  -moz-filter: grayscale(.5);
  -ms-filter: grayscale(.5);
  -o-filter: grayscale(.5);
  filter: grayscale(.5);
}

.test-badge p {
  color: #444;
  text-align: center;
  font-size: 13px;
}

.test-badge img,
.test-badge > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.test-badge span.no-badge-msg {
  font-size: 13px;
  text-align: left;
  margin-left: 8px;
  width: 111px;
}

.test-badge img {
  width: 52px;
}

.test-badge .jee-main {
  background-color: #55a417;
}

.test-badge .jee-adv {
  background-color: #94268f;
}

.test-badge .bitsat {
  background-color: #0d70b5;
}

.profile-badge-holder {
  background-color: #ddd;
}

.profile-badge-holder .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border: 2px solid #fff;
  margin-top: 20px;
}

.profile-badge-holder h3.profile-full-name {
  margin-top: 5px;
}

.profile-badge-holder .air-prediction span.air-span {
  display: block;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
}

.profile-badge-holder .air-prediction span.air-predicted-span {
  font-size: 12px;
  color: #f22133;
  text-align: left;
}

.profile-badge-holder .air-prediction span.air-predicted-rank {
  font-size: 31px;
  text-align: right;
  margin-left: 10px;
}

.profile-badge-holder .profile-completeness {
  margin-top: 20px;
}

.profile-badge-holder .profile-completeness h4 {
  font-weight: 100;
  margin-top: 0;
}


.profile-badge-holder .air-prediction .air-left-span,
.profile-badge-holder .air-prediction .air-right-span {
  display: inline-block;
  vertical-align: top;
}

.clickable {
  cursor: pointer;
}

.question-accordion-container tr.clickable:hover td {
  background-color: #f9f9f9;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}


a {
  text-decoration: none;
  color: #000;
}

section#tabs-container {
  border-bottom: 2px solid #29b8eb;
}

section#tabs-container a {
  text-decoration: none;
  background: #ddd;
  display: inline-block;
  color: #888;
  padding: 2px 5px;
  margin-right: 34px;
  font-size: 15px;
  position: relative;
  width: 226px;
  padding: 5px 8px;
  height: 22px;
  cursor: pointer;
}

section#tabs-container a.active {
  background: #29b8eb;
  color: #fff;
}

section#tabs-container a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -30px;
  top: 0;
  border-top: 32px solid transparent;
}

section#tabs-container a.active:after {
  border-left: 30px solid #29b8eb;
}

section#tabs-container a:after {
  border-left: 30px solid #ddd;
}

button#overlay-close {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: 300;
  outline: none;
}

.overlay-container h3.message {
  color: #fff;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 100;
}

.overlay-container span.available {
  display: block;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}


.fancy-checkbox {
  width: 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 4px 10px 0 0;
}

.fancy-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #29b8eb;
}

.fancy-checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fancy-checkbox input[type=checkbox] {
  visibility: hidden;
}


.fancy-checkbox label:hover::after {
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  //filter: alpha(opacity=30);
  //opacity: .5;
}

.fancy-checkbox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

a.logout {
  background-color: #29b8eb;
  text-align: center;
  margin-left: 15px;
}

a.logout i {
  line-height: 56px;
}

.prediction-holder-rank {
  display: block;
}

section#tour .marker {
  width: 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

section#tour {
  font-family: 'Architects Daughter';
}

section#tour .click-msg {
  display: inline-block;
  position: absolute;
  color: #fff;
  font-weight: 100;
  right: 0;
  top: 0;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
}

.intro-msg {
  width: 167px;
  color: #fff;
  margin-top: 2px;
  position: relative;
  vertical-align: top;
  letter-spacing: 1px;
  font-family: 'Architects Daughter';
}

section.overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;

  .overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.4;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -moz-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.8);
    -o-transform: translateY(-50%) translateX(-50%) scale(0.8);
    transform: translateY(-50%) translateX(-50%) scale(0.8);
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

section.overlay.active {
  visibility: visible;
  opacity: 1;

  .overlay-container {
    opacity: 1;
    border-radius: 3px;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -moz-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    -o-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
}

.hidden {
  display: none;
}

a.outlineButton {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}

p.referral-message {
  color: #fff;
  text-align: center;
}

.buttons-container {
  text-align: center;
  margin-top: 22px;
}

.buttons-container .outlineButton {
  min-width: 180px;
  margin-left: 20px;
  display: inline-block;
}

.buttons-container .outlineButton:hover {
  background-color: #fff;
  color: #000;
}

*[intro-el] {
  z-index: 3 !important;
}

.badge-container {
  width: 35%;
  background: #fff;
  border: 2px solid $brand-color-blue;
}

.overlay.rank-unlock {
  z-index: 5 !important;
}

.overlay-container.badge-container {
  width: 470px !important;
}

.badge-container > .badge-img,
.badge-container .badge-msg {
  display: inline-block;
  vertical-align: middle;
}

.badge-container .badge-img {
  width: 30%;
  text-align: center;
}

.badge-container .badge-img img {
  width: 80%;
}

.badge-container .badge-msg {
  width: 64%;
  margin-left: -5px;
  padding: 3%;
  text-align: justify;
}

.badge-msg p {
  font-size: 14px;
  color: #444;
  margin-bottom: 30px;
}

.badge-msg h4 {
  font-size: 20px;
  color: #29b8eb;
  margin-bottom: 0;
  margin-top: 10px;
}

.profileLink {
  width: 100%;
  display: inline-block;
  line-height: 48px;
  margin-top: -12px;
}


.embibe-select {
  background: #fff;
  display: inline-block;
  color: #444;
  width: 180px;
  margin-left: 5px;
  position: relative;
  border-radius: 2px;
}

.embibe-select ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  background: #fff;
  width: 100%;
  top: 42px;
  max-height: 175px;
  overflow: scroll;
}

.embibe-select .select-trigger {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  color: #999;
  padding: 13px 14px;
  text-decoration: none;
}

.embibe-select ul li {
  padding: 8px 10px;
  font-size: 12px;
  cursor: pointer;
}

.embibe-select ul li:hover,
.embibe-select ul li.active {
  background: #29b8eb;
  color: #fff;
}

.embibe-select .select-trigger i {
  float: right;
}

//************* Profile CSS *************/

aside#profile-snapshot {
  border-radius: 1px;
  width: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  overflow: visible;
}

.with-background {
  background-color: #ddd;
}

aside#profile-snapshot .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border: 2px solid #fff;
  margin-top: 20px;
}

aside#profile-snapshot h3.profile-full-name {
  margin-top: 5px;
  font-weight: $ultra-thin;
}

aside#profile-snapshot .air-prediction span.air-span {
  display: block;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
}

aside#profile-snapshot .air-prediction span.air-predicted-span {
  font-size: 12px;
  color: #f22133;
  text-align: left;
}

aside#profile-snapshot .air-prediction span.air-predicted-rank {
  font-size: 31px;
  text-align: right;
  margin-left: 10px;
  font-weight: $ultra-thin;
}

aside#profile-snapshot .profile-completeness {
  margin: 20px 0;
  background: #ddd;
  display: inline-block;
  padding: 5px;
}

aside#profile-snapshot .profile-completeness h4 {
  font-weight: 100;
  margin-top: 0;
  font-size: 13px;
}


aside#profile-snapshot .air-prediction .air-left-span,
aside#profile-snapshot .air-prediction .air-right-span {
  display: inline-block;
  vertical-align: top;
}

section#main-content {
  display: inline-block;
  width: 744px;
  margin-left: 11px;
  vertical-align: top;
  position: relative;
}

section#main-content #tabs-container {
  margin-top: 0;
}

h3.profile-h-title {
  font-weight: 100;
}

section#preparing-exams input.save {
  background-color: $brand-color-blue;
  color: #fff;
  width: 216px;
  border: 0;
  padding: 9px;
  font-size: 14px;
  margin-top: 17px;
  margin-right: 32px;
  &:hover {
    background-color: darken($brand-color-blue, 5%);
  }
}

section#preparing-exams {
  margin-left: 12px;
}

section#preparing-exams > div {
  display: inline-block;
  vertical-align: top;
  width: 241px;
}

section#preparing-exams .text-right {
  width: 100%;
  height: auto;
}

section#preparing-exams > div h4 {
  color: #29b8eb;
  padding: 7px;
  display: inline-block;
  margin-top: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 100;
  padding-left: 5px;
  cursor: pointer;
  vertical-align: top;
}

section#preparing-exams > div span {
  display: block;
  color: #888;
  font-size: 13px;
  margin: 2px 0;
}

progress.profile-completeness-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

progress.profile-completeness-input::-webkit-progress-value  {
  background-color: $brand-color-blue;
}

section#preparing-exams > div span.number {
  border-bottom: 1px solid #29b8eb;
  width: 90%;
  margin-bottom: 10px;
}

section#mode-exam h3 {
  font-size: 14px;
}

section#mode-exam button {
  border: 0;
  color: #fff;
  outline: 0;
  background-color: #888;
  width: 100px;
}

section#mode-exam button.active {
  background-color: #55a417;
}

section#exam-date h3 {
  margin-bottom: 13px;
  font-size: 14px;
}

section#mode-exam,
section#exam-date {
  display: block;
}

section#exam-date span {
  font-size: 14px;
  color: #888;
  border-bottom: 1px solid #29b8eb;
  display: inline-block;
}

section#preparing-exams {
  .activate-msg {
    display: none;
  }

  .activate-msg.active {
    display: inline-block;
  }

  .input {
    margin-bottom: 10px;
    position: relative;
  }
}

section#preparing-exams .input > i {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #888;
  cursor: pointer;
  &:hover {
    color: #444;
  }
}

.profile-badges {
  text-align: left;
}

.profile-badges > div {
  margin: 1px;
  padding: 9px;
  color: #fff;
}

section#profile-form {
  margin-top: 13px;

  input.date {
    width: 168px;
    padding-right: 27px;
  }

  .dropdown {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ccc;
    width: 202px;
    font-weight: normal;

    .dropdown-toggle {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 8px 7px;
    }

    ul {
      border: 1px solid #ccc;
      width: 202px;
      border-top: 0;
      background-color: #fff;
      left: 0;

      li {
        padding: 10px 7px;
      }
    }
  }
}

section#profile-form form  fieldset > div {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  position: relative;
  font-weight: 300;

  > i {
    position: absolute;
    top: 30px;
    right: 45px;
    color: #888;
    cursor: pointer;
    &:hover {
      color: #444;
    }
  }
}

div.dropdown i {
  position: absolute;
  top: 30px;
  right: 45px;
  color: #888;
  cursor: pointer;
  &:hover {
    color: #444;
  }
}

section#profile-form form  fieldset > div input {
  padding: 8px 7px;
  border: 1px solid #ccc;
  width: 188px;
  font-size: 12px;
}

section#profile-form form fieldset {
  border: 0;
}

section#profile-form form  fieldset > div label {
  display: block;
  color: #444;
  font-size: 13px;
  margin-bottom: 3px;
}

section#profile-form form input[type="submit"] {
  background-color: $brand-color-blue;
  color: #fff;
  border: 0;
  width: 202px;
  padding: 7px 0;
  font-size: 13px;
  &:hover {
    background-color: darken($brand-color-blue,5%);
  }
}

section#profile-form .embibe-select ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  background: #fff;
  width: 201px;
  top: 32px;
  border: 1px solid #ccc;
  max-height: 175px;
  overflow: scroll;
}

section#profile-form .select-trigger {
  border: 1px solid #ccc;
  padding: 7px 8px;
  color: #000;
}

section#profile-form .embibe-select {
  margin-left: 0;
  width: 185px;
}

button.upload {
  color: #fff;
  background: #29b8eb;
  border: 0;
  padding: 4px 10px;
  margin-top: 10px;
}

//****************** Dashboard  ***********************/

section.tests {
  position: relative;
}

section.tests .exam-group {
  padding-top: 10px;

  &:first-child {
    padding-top: 20px;
  }
}

section.tests .exam-group .left,
section.tests .exam-group .right {
  display: inline-block;
  vertical-align: top;
}

section.tests .exam-group .left {
  width: 311px;
}

section.tests .exam-group .left .tile {
  background: #fff;
  border: 2px solid #f29c21;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
  height: 174px;
  width: 307px;
}

section.tests .exam-group .right {
  width: 630px;
  margin-left: 10px;
  position: relative;
}

section.tests .exam-group .right > i {
  position: absolute;
  right: -30px;
  top: 90px;
  color: #29b8eb;
}


ul.tests-list {
  width: 640px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  clear: both;
  margin-bottom: 0;
}

ul.tests-list > li {
  float: left;
  margin: 0 10px 10px 0;
  height: 180px;
  width: 150px;
}

ul.tests-list > li a {
  display: inline-block;
  position: relative;
  height: inherit;
  width: inherit;
}

a.tile .front,
a.tile .back {
  background-color: #29b8eb;
  color: #fff;
}

a.completed .front,
a.completed .back {
  background-color: #55a417;
  color: #fff;
}

a.locked .flip-button {
  display: none;
}

.tile {
  display: inline-block;
  position: relative;
}

.tile.exam {
  position: relative;
  border: 1px solid #29b8eb;
}

.wide {
  width: 200px;
  height: 120px;
}

.exam h3.title,
.chapter h3.title {
  margin-top: 10px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
}

.chapter h3.title {
  font-size: 15px;
}

.exam .lock {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #a8d436;
  border: 1px solid $brand-color-green;
  background-color: transparent;
  border-radius: 25px;
  font-size: 20px;
  line-height: 40px;
}

.exam .lock:hover {
  background-color: $brand-color-green;
  color: #fff;
}

.inner-tile .compare {
  position: absolute;
  bottom: 10px;
  left: 60px;
  width: 221px;
  height: 40px;
  text-align: center;
  color: #fff;
  border: 1px solid $brand-color-voilet;
  background-color: $brand-color-voilet;
  border-radius: 25px;
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 400;

  img {
    height: 29px;
    position: relative;
    margin: 0 3px;
    top: 8px;
    left: -3px;

    &.beforehover { display: none; }
  }
}

.inner-tile .compare:hover {
  background-color: $brand-color-voilet;
  color: #fff;

  .onhover { display: inline-block; }
  .beforehover { display: none; }
}

.long {
  width: 150px;
  height: 180px;
}

.blue {
  background-color: #29b8eb;
  color: #fff;
}

a.locked .front,
a.locked .back {
  background-color: #888;
  color: #fff;
}

a.partial .front,
a.partial .back {
  background-color: #f29c21;
  color: #fff;
}

a.low .front,
a.low .back {
  background-color: #f22133;
  color: #fff;
}

.chapter .fa-repeat {
  position: absolute;
  top: 156px;
  left: 10px;
}

.flipped .flip-holder .front {
  z-index: 3 !important;
}

.flipped .flip-holder .back {
  z-index: 4 !important;
}

a.chapter {
  display: inline-block;
}

.back p {
  margin: 10px;
}

.hidden {
  display: none !important;
}

#crystals {
  -webkit-transition: .3s all linear;
  -moz-transition: .3s all linear;
  -ms-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

section.tests .practice-search {
  margin: 10px 9px 0 0;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  input {
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 5px 25px 5px 5px;
    width: 160px;

    &:focus {
      outline: 1px solid #ddd;
    }
  }

  i {
    color: #888;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
  }

}

#crystals.scale {
  -webkit-transform: scale(1.1);
}

.tile .lock-button {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: none;
}

.locked .lock-button {
  display: inline-block;
}

.tile .flip-button,
section#practice-hint .flip-button {
  position: absolute;
  bottom: 7px;
  left: 9px;
  width: 23px;
  display: inline-block;
}

.tile .imp-chapter {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fbfdaa;
}

.back .tile-stats {
  margin: 27px 10px;
}

.back .tile-stats img {
  width: 17px;
}

.back .tile-stats > div {
  margin: 4px 0;
}

.back .tile-stats span {
  width: 106px;
  display: inline-block;
  text-align: right;
}

section#cart-overlay {
  z-index: 6;
}

section#cart-overlay .overlay-container {
  position: absolute;
  background: #fff;
  width: 640px;
}

section#cart-overlay h3 {
  font-weight: 100;
  color: #fff;
  background: #29b8eb;
  margin: 0;
  padding: 15px 22px;
  font-size: 17px;
}

section#cart-overlay h3 i {
  display: inline-block;
  margin-right: 10px;
}

section#cart-overlay h4 {
  background: #f5f5f5;
  color: #444;
  margin: 0;
  padding: 10px 20px;
  font-weight: 100;
  font-size: 13px;
}

section#cart-overlay .cart-items {
  max-height: 315px;
  border-bottom: 1px solid #ccc;
  overflow-y: scroll;
}

section#cart-overlay .cart-recommendation {
  max-height: 315px;
  width: 480px;
}

section#cart-ovarlay .cart-item i {
  font-size: 14px;
  margin-right: 5px;
}

section#cart-overlay .cart-recommendation .item-title {
  color: #888;
}

section#cart-overlay .cart-recommendation span.price {
  color: #888;

  i {
    font-size: 14px;
    margin-right: 5px;
  }
}


section#cart-overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#cart-overlay ul li {
  padding: 15px 10px 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: block;
}

section#cart-overlay ul li.header {
  padding: 4px 20px;
}

section#cart-overlay ul li .item-title {
  color: #444;
  display: inline-block;
  width: 475px;
  display: inline-block;
}

section#cart-overlay ul li .cart-recommendation .item-title {
  width: 300px;
}

section#cart-overlay ul li .item-title .intro {
  display: block;
  font-size: 12px;
}

section#cart-overlay ul li button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  color: #0d70b5;
}

section#cart-overlay ul li span.price {
  width: 65px;
  float: right;
  text-align: right;
  margin-right: 5px;
}

section#cart-overlay .footer {
  margin: 10px 15px 10px 10px;
  font-size: 14px;
}

section#cart-overlay .footer .coupon a.buy {
  margin-left: -6px;
  padding: 6px 10px 7px 10px;
  background: #ddd;
  color: #444;
  font-size: 12px;
  border: 1px solid #ccc;
}

section#cart-overlay .coupon {
  display: inline-block;
}

section#cart-overlay .coupon input {
  padding: 6px;
  font-size: 12px;
  width: 96px;
  border: 1px solid #ccc;

  &:focus {
    outline: 0;
  }
}

section#cart-overlay .checkout {
  margin-top: 5px;
  text-align: right;
}

section#cart-overlay .checkout a.buy,
section#cart-overlay .checkout input.buyu {
  background-color: #f29c21;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  margin-bottom: 3px;
  border: 0;
  display: inline-block;
  -webkit-transition: .2s all linear;
  -moz-transition: .2s all linear;
  -ms-transition: .2s all linear;
  -o-transition: .2s all linear;
  transition: .2s all linear;
  &:hover {
    background-color: darken(#f29c21,5%);
  }
}

section#cart-overlay .upsell {
  width: 74%;
  padding: 5px 10px;
  background-color: #f5f5f5;
  font-size: 12px;
}

section#cart-overlay .upsell .yes {
  color: #55a417;
  font-weight: bold;
}

section#cart-overlay .upsell .no {
  color: #94268f;
  font-weight: bold;
}


section#cart-overlay .footer > span {
  float: right;
  font-weight: 400;
  font-size: 16px;

  i {
    font-size: 15px;
    margin: 0 3px 0 10px;
  }
}

ul.tests-list.physics {
  width: 1760px;
}

ul.tests-list.chemistry {
  width: 1120px;
}

.right .list-holder {
  max-width: 635px;
  overflow: auto;
  position: relative;
  left: 16px;
}

.cart-recommendations {
  width: 70%;
  margin-left: 10%;
  margin-top: 7px;
}

.cart-recommendations > span {
  font-size: 11px;
}

.cart-recommendations ul {
  background-color: #f5f5f5;
  border-radius: 1px;
}

.cart-recommendations li {
  padding: 6px 9px;
}

.cart-recommendations .item-title {
  width: 280px !important;
  font-size: 13px;
}

.cart-recommendations .fancy-checkbox label {
  width: 19px;
  height: 19px;
}

.cart-recommendations span.price {
  font-size: 14px;
}

.cart-recommendations li {
  padding: 8px 10px !important;
}

.locked .buy-holder {
  text-align: center;
  margin-top: 48px;
  font-size: 14px;
  padding: 0 10px;
}

.locked .buy-holder button {
  width: 100px;
  margin: 5px;
  background: transparent;
  border: 1px solid #fff;
  outline: 0;
  color: #fff;

  i {
    margin-right: 5px;
  }
}

.locked .buy-holder button:hover {
  background-color: #fff;
  color: #444;
}

.tile .front .champ-badge {
  width: 42px;
  position: absolute;
  bottom: 5px;
  right: 6px;
}

.right .fa-chevron-left {
  position: absolute !important;
  left: 2px;
  right: auto !important;
}

.showintro,
.showReferral,
.play-btn {
  cursor: pointer;
  color: #29b8eb;
  font-size: 27px;
  float: right;
  margin-left: 10px;
  position: relative;
}

.play-btn {
  font-size: 20px;
  margin-top: 6px;
  color: $brand-color-green;
}

.showReferral {
  color: #e74c3c;
}

.showintro:hover {
  color: #0d70b5;
}

.showReferral:hover {
  color: #c43b2d;
}

.tile.exam {
  cursor: pointer;
}


//***************** Chapter **************/

section#practice {
  width: 745px;
  display: inline-block;
  vertical-align: top;
}

nav.practice-nav .empty-space {
  display: inline-block;
  width: 483px;
  height: 45px;
  vertical-align: top;
  background-color: #d9edf5;
}

nav.practice-nav button {
  background: #29b8eb;
  color: #fff;
  border: 0;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 2px;
  width: 114px;
}

nav.practice-nav button[disabled] {
  background: #ddd;
  color: #444;
  cursor: not-allowed;
}

aside#practice-sidebar {
  width: 230px;
  display: inline-block;
  vertical-align: top;
}

section#practice-timer {
  height: 150px;
  background-color: #ddd;
  position: relative;
}

section#practice-hint {
  position: relative;
  height: 150px;
  font-size: 16px;
  margin-top: 15px;

  .flip-holder,
  .front,
  .back {
    background-color: $brand-color-yellow;
    height: inherit;
    width: 100%;
  }

  h5 {
    margin: 0;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
  }

  h6 {
    display: inline-block;
    margin: 5px 10px;
    font-size: 14px;
  }

  p.hint {
    max-height: 88px;
    overflow: scroll;
  }

  a.more-help-btn {
    font-size: 14px;
    color: #f22133;
    float: right;
    margin: 5px 10px;
  }

  .flip-button {
    width: auto;
    font-size: 13px;
    color: #f22133;
    left: auto;
    right: 10px;
  }
}

section#practice-stats {
  background-color: #d9edf5;
  height: 320px;
  margin-top: 20px;
  background-image: image-url("ts_metro_theme/PotliCoinInSprite.png");
  text-align: center;
}

section#practice-stats a {
  display: inline-block;
  padding: 6px;
  margin: 10px 5px;
  position: relative;
}

section#practice-stats a.embibium {
  background-color: #0d70b5;
}

section#practice-stats a.overtime {
  background-color: #f29c21;
}

section#practice-stats a.trash {
  background-color: #888;
}

section#practice-stats a img {
  width: 40px;
}

section#practice-stats a span.count {
  position: absolute;
  top: -8px;
  right: 4px;
  font-size: 13px;
  display: inline-block;
  color: #fff;
  background-color: #e74c3c;
  line-height: normal;
  padding: 0 5px;
  border-radius: 11px;
}

section#practice-timer button.timer-hide {
  background-color: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
}

section#practice-timer span.time-left {
  display: block;
  display: block;
  text-align: center;
  height: 100%;
  font-size: 47px;
  line-height: 150px;
  font-weight: 300;
}

section#practice-question {
  margin-top: 30px;
}

section#practice-question ul.question-options {
  list-style: none;
  padding-left: 10px;
}

section#practice-question ul.question-options li {
  margin: 25px 0;
  padding: 0 10px;
}

section#practice-question ul.question-options li label {
  cursor: pointer;
}

section#practice-question ul.question-options li input.choice{
  display: none;
}

section#practice-question ul.question-options li i.choice {
  font-style: normal;
  padding: 2px 7px;
  font-size: 12px;
  border: 1px solid #444;
  border-radius: 17px;
  margin-right: 7px;
  cursor: pointer;
}

section#practice-question ul.question-options li span.correct,
section#practice-question ul.question-options li span.wrong {
  display: none;
  margin-left: 10px;
}

section#practice-question ul.question-options li.correct span.correct {
  display: inline-block;
  color: #55a417;
}

section#practice-question ul.question-options li.wrong span.wrong {
  display: inline-block;
  color: #f22133;
}

section#practice-question ul.question-options li.correct i.choice {
  background-color: #55a417;
  color: #fff;
}

section#practice-question ul.question-options li.wrong i.choice {
  background-color: #f22133;
  color: #fff;
}

section#practice-question ul.question-options li i.choice.square {
  border-radius: 0;
}

section#practice-question ul.question-options li.selected i.choice ,
section#practice-question ul.question-options li input.choice:checked + i.choice {
  background-color: #0d70b5;
  color: #fff;
  border-color: #0d70b5;
}

section#practice-question .question-buttons {
  margin: 20px 0;
  text-align: center;
}

section#practice-question .question-buttons button {
  color: #fff;
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
  outline: 0;
  border-radius: 2px;
  width: 145px;
  margin: 10px 55px;
}

section#practice-question .question-buttons button.dont-know {
  background-color: #f29c21;
}

section#practise-question .question-buttons button.goback {
  width: 210px;
}

section#practice-question .question-buttons button.submit {
  background-color: #55a417;
}

section#practice-question .question-buttons button.study {
  background-color: #55a417;
  width: 166px;
}

section#practice-question .question-buttons button.submit.study {
  width: 147px;
}

p.chapter-end-message {
  text-align: center;
}

//********************* Feedback *****************/

section#summary {
  margin-top: 10px;
}

section#summary .summary-title,
.summary-map {
  display: inline-block;
  vertical-align: top;
}

section#summary .summary-title {
  width: 290px;
  border: 2px solid #f29c21;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
  height: 156px;
  width: 307px;
  position: relative;

  button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    border: 0;
    background-color: #27ae60;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;

    i {
      margin-right: 7px;
    }
    &:hover {
      background-color: darken(#27ae60,5%);
    }
  }

  .discuss-btn {
    text-align: center;
    color: #a8d436;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 22px;
    border: 1px solid #a8d436;
    &:hover {
      background-color: #a8d436;
      color: #fff;
    }
  }
}

.summary-map {
  width: 631px;
  margin-left: 10px;
  position: relative;
}

section#summary .summary-title h3 {
  font-weight: 100;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}

section.section-summary-container {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  margin: 10px 0;
}

section#feedback-scores > div.score {
  width: 310px;
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

section-summary .score.default {
  border:2px solid rgb(13, 112, 181);

  > .feedback-points {
    background-color: $brand-color-blue;
  }
}

section#feedback-scores {
  div.score-percent {
    text-align: right;
    > div {
      display: inline-block;
      vertical-align: top;
      margin: 0 8px;
      text-align: center;
      color: #ddd;
      max-width: 80px;
      text-transform: uppercase;
      span {
        display: block;
        font-size: 18px;
      }

      span.name {
        font-size: 12px;
      }
    }
    > div.you {
      color: #fff;
      position: relative;

      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: -10px;
        left: 50%;
        left: calc(50% - 3px);
        border-top: 3px solid #fff;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -10px;
        left: 50%;
        left: calc(50% - 3px);
        border-bottom: 3px solid #fff;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }
}

svg image {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

h3.thin-title {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888;
  font-size: 18px;
}

h3.thin-title--sub-title {
  border-bottom: 0;
  font-size: 17px;
  color: #555;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 100;
}

h3.thin-title--time-management {
  padding-bottom: 10px
}

section#accuracy-graphs section#accuracy-map {
  display: inline-block;
  vertical-align: top;
}

section#accuracy-graphs {
  margin-bottom: 20px;

  .subject-filter {
    font-size: 0;
    margin: 10px auto 10px auto;
    width: 370px;
    padding: 6px;
    text-align: center;
    border: 1px solid #888;
    //border-radius: 3px;

    .filter {
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;
      text-align: center;
      font-size: 14px;
      color: #444;
      -webkit-transition: color .3s ease;
      -moz-transition: color .3s ease;
      -ms-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;

      i {
        margin-right: 5px;
        font-size: 17px;
        cursor: pointer;
      }

      label {
        cursor: pointer;
      }

      //&:hover {
        //color: #444 !important;
      //}

      &.inactive label {
        color: #ccc;
      }

      &.physics i { color: rgba(148, 38, 143, 0.5) }
      &.chemistry i { color: rgba(13, 112, 181, 0.5) }
      &.math i { color: rgba(26, 188, 156, 0.5) }
      &.correct i { color: $brand-color-green; }
      &.incorrect i {
        color: $brand-color-red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .subject-filter--bottom {
    margin-top: 0;
  }

  .subject-filter--academic {
    width: 230px;
    margin-bottom: 0;
  }

  .subject-filter--timemanagement {
    width: 530px;
    margin-bottom: 0;
  }
}

nav.accuracy-analytics a {
  display: block;
  background: #ddd;
  padding: 10px 10px 10px 20px;
  font-size: 13px;
  margin: 1px;
  width: 150px;
}

nav.accuracy-analytics a:hover,
nav.accuracy-analytics a.active {
  background-color: #29b8eb;
  color: #fff;
}

section#accuracy-map {
  margin-left: -5px;
}

section#accuracy-map img {
  width: 100%;
}

section.summary-chapters {
  margin-top: 20px;
  border: 1px solid #29b8eb;
}

/*section.summary-chapters h3 {
  font-weight: 100;
  padding: 5px;
  margin: 0;
  padding-left: 10px;
  background: #29b8eb;
  color: #fff;
}*/

section.summary-chapters ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  white-space: nowrap;
  width: 885px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 13px;
  margin-bottom: 7px;
}

section.summary-chapters button,
section.summary-chapters ul{
  display: inline-block;
  vertical-align: middle;
}


section.summary-chapters ul li {
  display: inline-block;
  margin-left: 10px;
  width: 120px;
  height: 150px;
  margin-left: 10px;
  vertical-align: top;
}

section.summary-chapters button {
  background: transparent;
  border: 0;
  outline: 0;
  color: #888;
}

section#chapters-right {
  border-color: #29d366;

  .header { background-color: #29d366; }

  a {
    background-color: #29d366;
  }
}

section#chapters-not-attempted {
  .header { color: #444 !important; }
  a {
    background-color: $brand-color-blue;
  }
}

section#chapters-wrong {
  border-color: #f15f54;

  .header { background-color: #f15f54; }

  a {
    background-color: #f15f54;
  }
}

section.summary-chapters a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  height: inherit;
  width: 100%;
  font-size: 13px;
  border-radius: 2px;
  white-space: normal;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  span.count {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    font-size: 11px;
  }

  i.imp-chapter {
    position: absolute;
    top: -2px;
    font-size: 15px;
    right: 10px;
    color: #FBFDAA;
  }
}

section.summary-chapters .chapters-holder a {
  background-color: #f22133;
}

section.summary-chapters .chapters {
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0;
}

section.summary-chapters {
  margin-top: 0;
}

section.summary-chapters .chapters i {
  cursor: pointer;
}

section.accordion {
  max-height: 32px;
  overflow: hidden;
  position: relative;
  margin-top: -1px;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

section.accordion .right-tick {
  color: #55A417;
}

section.accordion .wrong-tick {
  font-weight: bold;
  color: #f22133;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

section.accordion.open {
  //border-color: $brand-color-blue;
  z-index: 1;
}

section.accordion .header {
  background-color: #29b8eb;
  color: #fff;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

section.accordion .body {
  max-height: 330px;
  overflow-y: scroll;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
section#subject-physics {
  margin-top: 30px;
}

section#subject-math {
  margin-bottom: 30px;
}

section.accordion .header i {
  padding: 8px;
  font-size: 15px;
  color: #fff;
}

.chapters-accordion-container {
  border-radius: 2px;
  overflow: hidden;
}

section.accordion .header h3 {
  margin: 0;
  display: inline-block;
  padding: 5px 0;
  font-weight: 100;
  color: #fff;
}

.accordion.open {
  max-height: 435px;
  .collapse-btn {
    display: none;
  }
  .expand-btn {
    display: inline-block;
  }
}

.accordion .expand-btn {
  display: none;
}

.accordion tbody p.question {
  line-height: 40px;
  height: 40px;
  max-width: 300px;
  overflow: hidden;
  margin: 0;
}


.accordion tbody strong,
.accordion tbody b {
  font-weight: 300;
}

.accordion.open tbody tr:last-child td {
  border-bottom: 0;
}

.accordion table thead td {
  padding: 7px 0;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #888;
  background-color: #d9edf5;
  font-size: 14px;
}

.accordion table tbody td.question {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion table tbody td img,
.accordion table tbody td i.fa-trash-o {
  width: 18px;
  font-size: 18px;
  color: #888;
}


.accordion table tbody td {
  padding: 7px;
  text-align: center;
  border-bottom: 1px solid #888;
  font-size: 14px;
  min-width: 10px;
}

.toggle-trigger {
  cursor: pointer;
}

section#status-map {
  margin-top: 40px;
}

section#status-map > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.summary-title .btn-holder a {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.summary-title .btn-holder a:hover {
  background-position: 0 50px;
}

.btn-holder {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

input.number.date {
  width: 183px;
  padding-right: 29px;
}

input.number {
  width: 206px;
  margin-top: 2px;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ddd;
}

input#profilePic {
  display: none;
}

abbr[title] {
  border-bottom: none !important;
}

i.prepare-check {
  color: #29b8eb;
  font-size: 19px;
  width: 16px;
  vertical-align: top;
  margin-top: 2px;
  cursor: pointer;
}

.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 26px;
  width: 114px;
  background: rgba(0, 0, 0, .45);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
  margin-bottom: 10px;
}

.switch-label {
  position: relative;
  z-index: 1;
  float: left;
  width: 55px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  cursor: pointer;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  color: #fff;
  -webkit-transition: .15s ease-out;
  -moz-transition: .15s ease-out;
  -o-transition: .15s ease-out;
  transition: .15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  //* Note: left: 50% doesn't transition in WebKit */
  left: 54px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 0;
  top: 2px;
  left: 2px;
  width: 55px;
  height: 22px;
  margin: 0 !important;
  background: #55a417;
  border-radius: 1px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 0 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 0 2px rgba(0, 0, 0, .2);
  -webkit-transition: left .15s ease-out;
  -moz-transition: left .15s ease-out;
  -o-transition: left .15s ease-out;
  transition: left .15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

.profile-badge > span {
  text-align: right;
  width: 120px;
}

.profile-badge span.count {
  font-size: 24px;
}

.profile-badge span.badge {
  font-size: 14px;
}

.profile-badge span.count {
  display: block;
  margin-left: 5px;
}

section#tour {
  position: absolute !important;
  z-index: 2;
}

section#chapter-summary {
  margin-top: 10px;
}

section#chapter-summary .summary-title,
section#chapter-summary .summary-map,
section#chapter-summary .summary-gist {
  display: inline-block;
  vertical-align: top;
}

section#chapter-summary .summary-title {
  width: 290px;
  border: 2px solid #f29c21;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
  height: 156px;
  width: 307px;
  position: relative;
}

section#chapter-summary .summary-map {
  width: 330px;
  margin-left: 9px;
  position: relative;
}

section#chapter-summary .summary-gist {
  width: 300px;
  margin-left: 9px;
  position: relative;
}

section#chapter-summary .summary-map img {
  width: 100%;
}

section#chapter-summary .summary-title h3 {
  font-weight: 100;
  margin-top: 10px;
  padding-left: 10px;
}

.summary-gist .test-stat {
  font-size: 18px;
  margin: 15px 0;
}

.summary-gist a {
  display: inline-block;
  width: 180px;
  margin-bottom: 4px;
  border-radius: 2px;
  text-align: center;
}

.summary-gist a .stat-icon,
.summary-gist a .stat-details {
  display: inline-block;
  vertical-align: top;
}

.summary-gist a .stat-icon {
  padding: 13px 0;
}

.summary-gist a .stat-details {
  width: 127px;
  text-align: right;
}

.summary-gist a .stat-details-count {
  display: block;
  font-size: 24px;
  line-height: 20px;
  margin-top: 13px;
  font-weight: 300;
}

.summary-gist a .stat-details-text {
  font-size: 14px;
}

.summary-gist a.embibium {
  background-color: #0d70b5;
  color: #fff;
}

.summary-gist a.overtime {
  background-color: #f29c21;
  color: #fff;
}

.summary-gist a.wasted {
  background-color: #888;
  color: #fff;
}

.summary-gist a img {
  width: 30px;
}

.summary-gist .test-stat span:first-child {
  display: inline-block;
  width: 165px;
  text-align: left;
}

section#embibiums {
  display: inline-block;
  position: relative;
  background-color: #fff;
  height: 280px;
}

section#profile-stats {
  position: relative;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-left: 12px;
}

div.speed {
  height: 137px;
  overflow: hidden;
}

div.speed h4 {
  margin: 0 0 14px;
  text-align: center;
}

p.no-items {
  display: inline-block;
  width: 850px;
  text-align: center;
  margin-bottom: 30px;
}

section#chapter-feedback-graph {
  text-align: right;
}

section#chapter-feedback-graph div.map img {
  width: 100%;
}

section#chapter-feedback-graph ul.filter {
  list-style: none;
  padding: 0;
  background: #ddd;
  color: #444;
  margin: 30px 0 5px;
  border-radius: 2px;
  font-size: 13px;
  display: inline-block;
}

section#chapter-feedback-graph ul.filter li {
  float: left;
  text-align: center;
  cursor: pointer;
}

section#chapter-feedback-graph ul.filter li a {
  display: inline-block;
  padding: 5px 20px;
  color: #444;
}

section#chapter-feedback-graph ul.filter li.active a,
section#chapter-feedback-graph ul.filter li:hover a {
  color: #fff;
  background-color: #29b8eb;
}

section#notes {
  max-height: 300px;
  overflow: scroll;
  background-color: #fbfdaa;
  padding: 20px;
  margin-top: 10px;
}

section#notes h4.title {
  margin-top: 0;
}

section#notes div.notes {
  font-size: 14px;
}

section#notes textarea {
  background: image-url("ts_metro_theme/mynotes_BG.png") repeat 0 18px;
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  height: 120px;
}

section#notes button.save-notes {
  border: 0;
  background-color: #55a417;
  color: #fff;
  margin-top: 11px;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 2px;
}

section.video-solutions {
  background-color: #d9edf5;
  height: 160px;
  padding: 20px;
  margin-top: 10px;
  font-size: 14px;
}

#referral-overlay .overlay-container {
  display: inline-block;
  width: 809px;
  padding-bottom: 33px;
  border-radius: 3px;
  background: rgba(0,0,0,0.5);
}

section#referral-overlay-success {
  position: absolute !important
}

section#referral-overlay-success .overlay-container {
  top: 250px !important;
  text-align: center;
  height: 410px;
  overflow-x: hidden;
}

section#referral-overlay-success form {
  color: #fff;
  width: 30%;
  min-width: 350px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  left: 100%;
  top: 80px;
  -webkit-transition: .3s all linear;
  -moz-transition: .3s all linear;
  -o-transition: .3s all linear;
  -ms-transition: .3s all linear;
  transition: .3s all linear;

}

section#referral-overlay-success form.left {
  left: 36%;
  -webkit-transition: .4s all linear 0.3s;
  -moz-transition: .4s all linear 0.3s;
  -o-transition: .4s all linear 0.3s;
  -ms-transition: .4s all linear 0.3s;
  transition: .4s all linear 0.3s;
}

section#referral-overlay-success form.prev {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -o-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: .3s all linear;
  -moz-transition: .3s all linear;
  -o-transition: .3s all linear;
  -ms-transition: .3s all linear;
  transition: .3s all linear;
}

section#referral-overlay-success .embibium-animation,
section#facebook-invite-overlay .embibium-animation {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;

  #potli {
    width: inherit;
    height: inherit;
    background-position: -40px -120px;
    background-image: image-url("ts_metro_theme/PotliCoinInSprite.png");
  }

}

section#referral-overlay-success form.send-left {
  left: -70% !important;
  -webkit-transition: .3s all linear 0.3s;
  -moz-transition: .3s all linear 0.3s;
  -o-transition: .3s all linear 0.3s;
  -ms-transition: .3s all linear 0.3s;
  transition: .3s all linear 0.3s;
}

section#referral-overlay-success form.reset {
  left: 100% !important;
  -webkit-transition: 0s all linear 0.3s;
  -moz-transition: 0s all linear 0.3s;
  -o-transition: 0s all linear 0.3s;
  -ms-transition: 0s all linear 0.3s;
  transition: 0s all linear 0.3s;
}

section#referral-overlay-success form fieldset {
  border: 0;
}

section#referral-overlay-success form fieldset label {
  width: 101px;
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}

section#referral-overlay-success form fieldset input {
  font-size: 14px;
  padding: 7px 6px;
  width: 200px;
  border: 0;
}

section#referral-overlay-success .buttons-container {
  margin-top: 10px;
  position: relative;
  top: 230px;
}

#sendInviteBtn {
  background-color: #55a417;
  border-color: #55a417 !important;
}

#sendInviteBtn:hover {
  background-color: darken(#55a417,5%) !important;
  color: #fff;
}

section#facebook-invite-overlay {
  text-align: center;

  .overlay-container {
    display: inline-block;
    width: 652px;
    text-align: left;
    color: #fff;

    .friends-box {
      background-color: rgba(0, 0, 0, .4);
      height: 300px;
      list-style: none;
      overflow: scroll;
      margin: 0;
      padding: 20px;

      li {

        display: inline-block;
        margin: 0 20px 20px 0;
        width: 170px;
        padding: 10px 5px;
        border-radius: 2px;
        cursor: pointer;

        span {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          margin: 0 8px;
          font-size: 18px;
        }

        i.fa-check-square {
          display: none;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          margin-right: 10px;
        }

      }

      li:hover {
        background-color: rgba(41, 184, 235, .35);
      }

      li.checked {
        background-color: rgba(41, 184, 235, .35);

        i.fa-check-square {
          display: inline-block;
        }

        i.fa-square-o {
          display: none;
        }

      }

    }
  }

  h4 {
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    margin: 10px;
  }

  .buttons-holder {
    margin: 20px 0;
    text-align: right;

    button.outlineButton {
      color: #fff;
      background: transparent;
      margin-left: 10px;
      padding: 10px 20px;
      border: 1px solid #fff;

      &:hover {
        background-color: #fff;
        color: #000;
      }

    }
  }
}

button,
.btn {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.embibe-select-ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  background: #fff;
  width: 100%;
  width: calc(100% - 2px);
  top: 28px;
  max-height: 175px;
  overflow: scroll;
  border: 1px solid #ccc;
  border-top: 0;
}

.embibe-select-ul li {
  padding: 8px 10px;
  font-size: 12px;
  cursor: pointer;
}

.embibe-select-ul li:hover,
.embibe-select-ul li.active {
  background: #29b8eb;
  color: #fff;
}

.text-right {
  text-align: right;
}


/****** For tooltip *****/


.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.clickable {
  cursor: pointer;
}

section.cart-payment-success {

  .overlay-container {
    width: 540px;
    background-color: #fff;
    border-radius: 1px;

    h3 {
      font-weight: 300;
      margin: 0;
      padding: 20px;
      color: $brand-color-blue;
    }

    .payment-message {
      margin: 0 20px 20px 30px;
      font-size: 14px;

      p {
        margin-top: 0;
        margin-bottom: 5px;
        color: #888;
      }

      ul {
        list-style: none;

        li {
          margin: 3px 0;
          font-weight: 400;
          color: #888;

          i {
            color: #A8D436;
            margin-right: 10px;
          }
        }
      }

      .btns-container {
        margin-top: 10px;

        a {
          display: inline-block;
          margin-right: 10px;
          padding: 5px 10px;
          color: $brand-color-blue;
          border: 1px solid $brand-color-blue;

          &:hover {
            background-color: $brand-color-blue;
            color: #fff;
          }
        }
      }
    }
  }
}

body.blur section:not(.overlay),
body.blur header,
body.blur footer {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  //filter: image-url("ts_metro_theme/blur.svg#blur");
}

ui-view {
  display: block;
}

section#payment-form {
  text-align: center;
  h1 {
    font-weight: 300;
  }

  p {
    color: #666;
  }

  img {
    width: 32px;
  }
}

section#payment-confirm {
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 2px;

  h1 {
    font-weight: 300;
    font-size: 28px;
    color: #444;
  }

  h2 {
    font-weight: 300;
    color: #444;
    font-size: 22px;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    color: #444;
  }

  a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #666;
    border: 1px solid #666;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;

    &:hover {
      background-color: #666;
      color: #fff;
    }
  }
}

section.discuss-feedback {
  background-color: rgba(0,0,0,0.6);
  position: absolute !important;

  .overlay-container {
    top: 250px !important;
    width: 220px;
    color: #fff;
    padding: 20px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #ccc;

    h4 {
      font-weight: 300;
      text-align: center;
      margin: 10px;
    }

    .row {
      margin: 10px 0;
      font-size: 14px;
    }

    label {
      width: 100px;
      display: block;
      text-align: left;
      margin-right: 10px;
    }

    input#mobile {
      width: 200px;
      border: 0;
      padding: 8px 10px;
    }

    textarea {
      width: 200px;
      height: 75px;
      border: 0;
      resize: none;
      padding: 8px 10px;
    }

    span.msg {
      font-size: 13px;
    }

    button {
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      padding: 5px 10px;
      display: inline-block;
      font-weight: 300;
      font-size: 13px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

ol.feedback-desc,
.feedback-desc--small {
  text-align: justify;
}

ul.feedback-desc,
ol.feedback-desc {
  color: #fff;
  font-size: 16px;
  margin: 25px 0;
  padding: 20px 40px;
  background-color: $brand-color-blue;
  border-radius: 3px;

  li {
    margin: 7px 0;

    &.heading {
      list-style-type: none;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: -17px;
      margin-bottom: 20px;
    }
  }
}

.feedback-desc--attempts {
  margin-top: -10px !important;
}

.intro-helper {
  display: none;
}

.intro-helper.marker-right {

  img {
    -webkit-transform: rotateX(180deg) rotateZ(160deg);
    -moz-transform: rotateX(180deg) rotateZ(160deg);
    -ms-transform: rotateX(180deg) rotateZ(160deg);
    -o-transform: rotateX(180deg) rotateZ(160deg);
    transform: rotateX(180deg) rotateZ(160deg);
  }
}

.intro-helper.marker-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);

  img {
    left: 100%;
    -webkit-transform: translateX(-100%) rotate(-20deg);
    -moz-transform: translateX(-100%) rotate(-20deg);
    -ms-transform: translateX(-100%) rotate(-20deg);
    -o-transform: translateX(-100%) rotate(-20deg);
    transform: translateX(-100%) rotate(-20deg);
  }
}

.intro-helper.marker-top {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);

  img {
    position: absolute !important;
    bottom: 0px;
    -webkit-transform: rotate(171deg);
    -moz-transform: rotate(171deg);
    -ms-transform: rotate(171deg);
    -o-transform: rotate(171deg);
    transform: rotate(171deg);
  }

  .intro-msg {
    margin-bottom: 20px;
  }
}

.intro-helper.marker-bottom {
  -webkit-transform: translateX(-100%) translateY(-100%);
  -moz-transform: translateX(-100%) translateY(-100%);
  -ms-transform: translateX(-100%) translateY(-100%);
  -o-transform: translateX(-100%) translateY(-100%);
  transform: translateX(-100%) translateY(-100%);

  img {
    position: absolute !important;
    bottom: 0px;
    left: 100%;
    -webkit-transform: translateX(-100%) rotate(60deg);
    -moz-transform: translateX(-100%) rotate(60deg);
    -ms-transform: translateX(-100%) rotate(60deg);
    -o-transform: translateX(-100%) rotate(60deg);
    transform: translateX(-100%) rotate(60deg);
  }

  .intro-msg {
    margin-bottom: 20px;
  }
}

.intro-chart p {
  width: 237px;
}

section#tour.profile .profile-el,
section#tour.feedback .feedback-el,
section#tour.feedback-180 .feedback-180-el,
section#tour.feedback-18 .feedback-18-el,
section#tour.dashboard .dashboard-el,
section#tour.header .header-el,
section#tour.exam .exam-el,
section#tour.general .general-el {
  display: block;
}

footer {
  background-color: #29B8EB;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #444;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;

  .footer-container {
    width: 980px;
    margin: 0px auto;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

.flair-container {
  position: relative;
}

question-plot {
  display: block;
  position: relative;
  height: 350px;
  margin-top: 4px;
}

span.highlight {
  background-color: #fbfdaa;
  color: #444;
  display: inline-block;
  padding: 0 2px;
  margin: 0 5px;
  line-height: 17px;
}

flag-plot {
  display: inline-block;
}

section.chapters-accordion-container,
section.question-accordion-container {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

  .Physics { border-color: #94268f; }
  .Physics .header { background-color: #94268f; }
  .Chemistry { border-color: #0d70b5; }
  .Chemistry .header { background-color: #0d70b5; }
  .Mathematics { border-color: #1abc9c; }
  .Mathematics .header { background-color: #1abc9c; }
  .English { border-color: #4a5c6c; }
  .English .header { background-color: #4a5c6c; }
  .Logical { border-color: #739c3c; }
  .Logical .header { background-color: #739c3c; }
}

section.chapterwise-feedback {
  min-height: 572px;
}

section.rank-overlay {
  .overlay-container {
    width: 500px;
    background-color: #fff;
    border-radius: 2px;
    color: #444;
    font-size: 12px;
    padding: 14px;

    p {
      margin: 5px 0;
    }

    .air-prediction {
      display: block;
      width: 172px;
      margin: 10px auto 25px auto;

      .wrapper {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
      }

      .title {
        display: block;
        font-size: 18px;
      }

      .rank {
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        margin-left: 10px;
        color: $brand-color-blue
      }
    }
  }
}

section.minimal-graph {
  question-plot { margin-top:0; }
}

.minimal-graph .plot-marker {
  left: 187px;

  img {
    margin-left: 90px;
  }
}

.plot-marker {
  font-family: 'Architects Daughter';
  color: #444;
  font-size: 12px;
  display: inline-block;
  position: relative;
  bottom: -13px;
  left: 10px;
  z-index: 3;

  img {
    width: 50px;
    margin-left: -3px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  span {
    display: block;
    text-transform: uppercase;
    margin-top: -7px;
  }
}

.MathJax .math span,
.MathJax span {
  font-weight: 300 !important;
  letter-spacing: 0.02em;
}

[ng-cloak],
.ng-cloak {
  display: none !important;
}

section.strong-chapters.overlay .overlay-container {
  width: 930px;
  height: 90%;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;

  h3 {
    margin-top: 0 !important;
  }

  .chapters-accordion-container {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  ul {
    width: 96% !important;
  }
}

section.pattern-container {
  height: 590px;
  font-size: 0;
  margin-bottom: 65px;

  .header {
    font-size: 14px;
    display: inline-block;
    margin-left: 480px;
    padding: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $brand-color-blue;
    color: #fff;
    border-radius: 2px;
  }

  .left-patterns,
  .seperator,
  .right-patterns {
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  .seperator {
    height: inherit;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 10px;
      margin-left: -4px;
      border-radius: 5px;
      background-color: $brand-color-blue;
    }
  }

  .left-patterns,
  .right-patterns {
    width: 479px;
  }

  .seperator {
    width: 2px;
    background-color: $brand-color-blue;
  }

  .good {
    background-color: #92c84c;

    &:before {
      border-left: 5px solid #92c84c
    }
  }

  .bad {
    background-color: $brand-color-red;

    &:before {
      border-left: 5px solid $brand-color-red;
    }
  }

  .right-patterns .good:before {
      border-right: 5px solid #92c84c;
      border-left: 0;
  }

  .right-patterns .bad:before {
      border-left: 0;
      border-right: 5px solid $brand-color-red;
  }

  .pattern {
    font-size: 14px;
    font-weight: 300;
    width: 360px;
    padding: 15px;
    color: #fff;
    margin: 20px 0;
    border-radius: 2px;
    position: relative;

    h4 {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 15px;
    }

    p {
      margin-top: 0;
      margin-bottom: 15;
    }
  }


  .left-patterns {
    .pattern {
      text-align: right;
      margin-left: 42px;

      &:before {
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        right: -5px;
        top: 75%;
      }

      &:after {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        margin-top: 4px;
        margin-left: 4px;
        left: 100%;
        top: 75%;
        background-color: $brand-color-blue;
      }
    }
  }

  .right-patterns {
    .pattern {
      margin-left: 48px;

      &:before {
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -5px;
        top: 25%;
      }

      &:after {
        position: absolute;
        content: "";
        width: 44px;
        height: 2px;
        margin-top: 4px;
        left: -4px;
        top: 25%;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        background-color: $brand-color-blue;
      }
    }
  }
}

/*
nav.feedback-nav {
  height: 80px;
  font-size: 0;
  margin: 20px 0;
  border: 1px solid #ddd;

  a {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    font-size: 14px;
    padding: 10px;
    height: 100%;
    background-color: #fafafa;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: .3s background-color ease;
    -moz-transition: .3s background-color ease;
    -ms-transition: .3s background-color ease;
    -o-transition: .3s background-color ease;
    transition: .3s background-color ease;

    span.title {
      font-weight: bold;
      display: block;
      text-transform: uppercase;
    }

    span.desc {
      color: #888;
      font-size: 12px;
    }

    &:last-child {
      border-right: none;
    }

    &:hover,
    &.active {
      background-color: #f3f3f3;
    }
  }
}
*/

nav.tab-nav {
  border-bottom: 1px solid #999;
  padding-left: 20px;
}

a.tab-nav__pill {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 14px;
  color: $brand-color-blue;
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  -webkit-transition: .2s background-color ease;
  -moz-transition: .2s background-color ease;
  -ms-transition: .2s background-color ease;
  -o-transition: .2s background-color ease;
  transition: .2s background-color ease;

  &:hover:not(.tab-nav__pill--active) {
    background-color: #f5f5f5;
  }
}

a.tab-nav__pill--active {
  color: #888;
  bottom: -2px;
  border: 1px solid #999;
  border-bottom: 0;
  cursor: default;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.feedback-desc__button {
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: orange;
  outline: 0;
  border: 0;
  font-size: 12px;
  -webkit-transition: .3s background-color ease;
  -moz-transition: .3s background-color ease;
  -ms-transition: .3s background-color ease;
  -o-transition: .3s background-color ease;
  transition: .3s background-color ease;

  &:hover {
    background-color: darken(orange,2%);
  }
}

.sub-section {
  margin-left: 20px !important
}

.btns-container {
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }

  button {
    outline: 0;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid #bbb;
    border-radius: 1px;
    margin-right: 10px;
    font-size: 14px;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;

    &:hover {
      background-color: #eee;
      border-color: #888;
    }

    &.active {
      background-color: $brand-color-blue;
      border-color: $brand-color-blue;
      color: #fff;
    }
  }
}

section.ui-load {
  text-align:center;
  padding-top: 100px;
  color: #666;
}

figure.loader {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: image-url("ts_metro_theme/loader.gif");
}

p.nice-feedback-words {
  margin-top: 80px;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  background: #29b8eb;
  color: #fff;
  margin: 80px auto;
  padding: 6px;
}

section.test-duration {
  .not-important-link {
    color: #fff;
    border: 0;
  }
}

.above-fold-form--right {
  float: right;
}


.dashed-btn {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: $brand-color-blue;
  border: 2px dashed $brand-color-blue;

  &:hover {
    border-style: solid;
    //background-color: yellow;
    //color: $brand-color-blue;
  }
}

.summary-tiles {
  width: 307px;
  display: inline-block;
  vertical-align: top;

  > div {
    margin-bottom: 30px;

    img {
      width: 30px;
      vertical-align: middle;
      margin: 0 6px
    }
  }
}


section.key-overlay {
  .overlay-container {
    max-width: 94%;
    max-height: 94%;
    text-align: center;

    img {
      height: 575px;
    }
  }
}

.rank-predictor-form {
  border: 0;

  fieldset {
    border: 0;
  }

  a {
    width: 211px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    border: 1px solid rgb(187, 187, 187);

    i {
      top: 5px;
      right: 10px;
      font-size: 14px;
    }

    ul {
      left: 0;
      top: 27px;
    }

    ul li {
      padding: 10px;
      width: 191px;
    }
  }

  .col {
    display: inline-block;
    width: 48%;
    vertical-align: top;

    label {
      display: block;
      margin-bottom: 5px;
    }


    input {
      border: 1px solid #bbb;
      padding: 5px 10px;
      font-weight: 100;
    }

    input[type="submit"] {
      border: 0;
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      background-color: rgb(41, 184, 235);
      width: 211px;
      box-sizing: border-box;
    }
  }
}

.showAnswerKey {
  color: rgb(41, 184, 235);
  border-bottom: 1px solid rgb(41, 184, 235);
  font-size: 22px;
  display: inline-block;
  margin-bottom: 5px;
}

.no-video {
  padding: 70px 0;
  text-align: center;
  background-color: rgb(221, 221, 221);
  border-radius: 2px;

  i {
    font-size: 36px;
    color: #888;
  }
}

.rank-predictor-icon {
  padding: 2px !important;
  float: right !important;
  width: auto !important;
  background: rgba(0, 0, 0, 0) !important;
  color: rgb(41, 184, 235) !important;
  font-size: 16px !important;
  line-height: 23px !important;
  margin-right: 0 !important;
  margin-left: 7px;

  &:before,
  &:after {
    border: 0 !important;
  }
}

.tabs-container--applet a {
  width: 225px !important;
}

.college-predictor {
  width: 600px;
  display: inline-block;
  padding: 0 20px;

  .fixed-table {
    background-color: #d9edf5;

    td {
      padding: 5px;
    }
  }

  .body td {
    border-bottom: 1px solid #ddd;
  }
}

@-moz-document url-prefix() {
  .prediction-holder-rank {
    position: relative;
    top: -9px;
  }
}

.inline {
  display: inline !important;
  margin: 2px;
}

/**********************************
  Chapter lists style
  *********************************/

.test-list--chapters {
  width: 100% !important;
  white-space: nowrap;

  li {
    float: none !important;
    display: inline;
  }
}

.exam-group--chapters {
  padding-top: 50px !important;

  .list-holder {
    padding: 0 10px;
  }
}

.list-holder__null-msg {
  text-align: center;
  line-height: 185px;
  margin: 0;
}



/**********************************
  Chapter stat style
  *********************************/
.chapter-stat {
  display: inline-block;
  text-align: center;
  width: 145px;
  vertical-align: middle;
}

.chapter-title {
  display: inline-block;
  width: 162px;
  text-align: right;
}

.chapter-stat--attempts {
  width: 255px;
}

.chapter-stat__title-desc {
  font-size: 14px;
  color: #666;
}

.chapter-stat__sep {
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color: rgba(70,70,70,0.2);
  vertical-align: middle;
}

.chapter-stat__img {
  height: 40px;
}

.chapter-stat__icon {
  font-size: 40px;

  &.wrong-tick {
    color: $brand-color-red;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.right-tick {
    color: $brand-color-green;
  }

  &.fa-ban {
    color: #888;
  }

  &.fa-clock-o {
    color: $flat-color-carrot;
  }

  &.fa-star-o {
    color: $brand-color-blue;
  }
}

.chapter-stat__value {
  font-size: 40px;
}

.callout {
  display: block;
  width: 570px;
  text-align: center;
  margin: 15px auto 5px auto;
  padding: 5px;
  border: 2px dashed $flat-color-carrot;
  color: $flat-color-carrot;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;

  i {
    margin-left: 6px;
    margin-right: 3px;
  }

  &:hover {
    border-style: solid;
  }
}

.price-span {
  float: right;
  width: 70px;
  text-align: right;
}

span.total {
  float: left;
}

iframe[name="google_conversion_frame"] {
  display: block;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rank-summary__text {
  color: #666;
  padding: 20px;
  font-size: 16px;
  background: #f9f9f9;
  border-radius: 3px;
}

.rank-summary__block {
  width: 49%;
  float: left;
  text-align: center;

  &.rank-summary__block--last {
    border-left: 1px solid #ccc;
  }
}

.rank-summary__rank-text {
  font-size: 14px;
  color: #666;
}

.rank-summary__rank {
  display: block;
  font-size: 35px;
  color: #333;
}

.rank-summary__block--single {
  text-align: left;
  margin: 10px;
}

.topper-comparision {
	z-index: 7 !important;

  .overlay-container {
    position: absolute;
    width: 690px !important;
    background: rgba(255,255,255,1);
    padding: 20px;
    border-radius: 8px;
    color: #222;
  }

  .topper__title {
    font-weight: 100;
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
  }

  .topper__toggle {
    display: inline-block;
    margin-top: 20px;
    width: 540px;
    position: relative;
  }

  .topper__list {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow: auto;
  }

  .topper__topper-link {
    display: inline-block;
    border: none;
    outline: none;
    height: 56px;
    vertical-align: top;
    color: #fff;
    background: $brand-color-blue;
    width: 144px;
    text-align: center;
    line-height: 56px;
    border-radius: 0 3px 3px 0;
    position: relative;
    top: 20px;
    left: -5px;
    cursor: pointer;
  }

  .topper__item {
    position: relative;
    background: #fff;
    padding: 10px 15px;
    width: 510px;
    color: #444;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    @include transition(0.2s all ease);

    .topper__default {
      font-size: 14px;
      line-height: 36px;
      height: 31px;
      overflow: hidden;
      display: inline-block;
    }

    i {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -9px;
    }

    .topper__name {
      font-size: 14px;
      line-height: 36px;
    }

    .alias {
      float: right;
      font-size: 12px;
      color: #aaa;
      text-align: right;
    }

    &:hover { background: #fafafa; }

    &.topper__item--active {
      display: inline-block;
      border-radius: 2px;
      .alias { display: none; }
    }
  }

  .topper__toggle--open .topper__list { display: inline-block; }
}

.topper__reminder {
  display: block;
  margin: 12px auto 20px auto;
  padding: 10px 0;
  font-weight: 100;
  width: 740px;
  text-align: center;
  color: #444;

  button {
    background: transparent;
    border: 0;
    outline: 0;
    color: $blue;
    margin-left: 10px;
    font-weight: 100;
    padding: 0;
    border-bottom: 1px solid $blue;
  }
}

.chapter-stat--attempts {
  width: 254px !important;
}

.feedback-tabs__btn {
  width: 50%;
  font-size: 14px;
  float: left;
  background: #fff;
  border: 0;
  padding: 15px;
  background: #eee;
  border-bottom: 5px solid #ddd;
  outline: none;
  font-size: 18px;
  font-weight: 100;
}

.feedback-tabs__btn--active {
  border-color: #29b8eb;
  background: #fafafa;
}

.feedback-tabs__btn:hover {
  border-color: #29b8eb;
  background: #f1f1f1;
}

section.chapterwise-feedback { min-height: inherit !important; }

.feedback-tabs__btn-icn {
  margin-right: 10px;
}

.feedback-tabs__btn--feedback {
  background: #27ae60;
  color: #fff;

  &:hover {
    background: #27ae60;
    border-color: #229955 !important;
    color: #fff;
  }
}

.feedback-tabs__btn--compare {
  background: #29b8eb;
  color: #fff;

  &:hover {
    background: #29b8eb;
    border-color: darken(#29b8eb, 5%);
    color: #fff;
  }
}

.feedback-tabs__nav {
  margin: 20px 0 40px 0;
  height: 100px;
}

i.score {
  background-image: image-url("ts_metro_theme/overtime.svg");
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 2px;
}

i.solutions {
  background-image: image-url("ts_metro_theme/perfect.svg");
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 2px;
}

.feedback-tabs__btn--switch {
  width: 100%;
  color: #fff;
  background: #f15f54;

  &:hover {
    background: #f15f54;
    border-color: darken(#f15f54, 5%);
    color: #fff;
  }
}

.topper__active {
  border: 1px solid #eee;
  padding: 9px 15px !important;
}

.feedback .thin-title {
  font-weight: 400;
}

h1.thin-title {
  font-weight: 400;
  padding: 20px 0 0 0;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 15px;

  &.thin-title--bordered {
    //border-top: 1px dashed #aaa;
  }
}

.key-concept__test-link {
  font-weight: 400;
  color: $brand-color-blue;
  margin: 0 5px 0 5px;
}

.key-concept__tests {
  margin: 0;
  padding-bottom: 10px;
  font-size: 15px;
  color: #666;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eee;
}

div.feedback-desc {
  p {
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 15px;
  }

  ol {
    margin: 8px 0;
    padding-left: 33px;
    font-size: 15px;
    color: #fff;

    li {
      margin-bottom: 5px;
    }
  }
}

strong {
  font-weight: 400;
}

.strong-heading {
  font-size: 16px;
  margin-bottom: 2px;
  display: inline-block;
}

.test-on-test__half-title {
  margin: 0;
  font-weight: 300;
  margin-left: 25px;
}

.test-on-test__na .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  z-index: 5;

  .overlay-msg {
    position: fixed;
    top: 200px;
    width: 400px;
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
  }

  .test-on-test__continue {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: $brand-color-blue;
  }
}

.tot-large .test-on-test__tooltip {
  width: 190px;
}

.unlock-jee {
  color: #f22133;
  font-size: 15px !important;
  font-weight: 400;
  line-height: 23px;
  height: 22px !important;
  position: relative !important;
  top: 17px;
  left: 10px;
  //text-decoration: underline;
}

.has-chapters .breakdown__stat-value {
  float: none;
}

.data-unlock-section {
  background-color: rgba(168, 212, 54, 0.56);
  padding: 20px 15px;
  border-radius: 8px;
  margin: 10px 0;
  border: 1px solid #eee;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  .data-unlock-overlay__prompt-msg {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    vertical-align: middle;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .data-unlock-overlay__action-btns {
    padding-left: 158px;
    margin-top: 20px;
  }

  .data-unlock-overlay__btn-cancel {
    display: inline-block;
    margin-left: 20px;
    padding: 7px;
    font-size: 14px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    outline: none;
    width: 122px;
    margin-left: 5px;
    border-color: $brand-color-blue;
    color: $brand-color-blue;
    vertical-align: middle;
    @include transition(0.2s all ease);

    &:hover {
      background: $brand-color-blue;
      color: #fff;
    }
  }

  .data-unlock__right {
  	position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 310px;
    text-align: right;
  }

  .data-unlock-overlay__btn-ok {
    display: inline-block;
    margin-left: 20px;
    width: 250px;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    background: #29b8eb;
    border-radius: 3px;
    outline: none;
    width: 122px;
    margin-left: -5px;
    vertical-align: middle;
    @include transition(0.2s all ease);

    &:hover {
      background: darken(#29b8eb, 5%);
    }
  }

  .data-unlock-overlay__label {
    display: inline-block;
    width: 165px;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
  }

  .data-unlock-overlay__input {
    padding: 7px 10px;
    vertical-align: middle;
    width: 162px;
    display: inline-block;
    background: #fff;
    border: 1px solid #eee;
    outline: none;
    border-radius: 3px;
    margin-left: -5px;
    color: #444;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    @include transition(0.2s all ease);

    &:focus {
      border-color: #ccc;
    }
  }

  .data-unlock-overlay__input--error {
    border-color: #f22133;
  }
}

.data-unlock-overlay__close {
  position: absolute;
  font-weight: 400;
  color: rgba(89, 51, 51, 0.48);
  font-size: 16px;
  cursor: pointer;
	top: -21px;
	right: -8px;
}

.data-unlock__error {
  display: inline;
  font-size: 11px;
  color: #f22133;
  position: absolute;
  top: 36px;
  font-weight: 400;
  right: 0;
  white-space: nowrap;
}