// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

test-bar {
  display: block;
  border-radius: 3px;
  @include transform(rotate(-90deg) translateY(100%));
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

.test-bar__container {
  position: relative;
  background-color: $white-smoke;
}

.test-bar__tick {
  position: absolute;
  height: 100%;
  top: 0;
  width: 2px;
  background: #fff;
  @include transition(0.3s ease);
}

.test-bar__bar {
  display: inline-block;
  height: 100%;
  width: 0;
  border-radius: 0 3px 3px 0;
  min-width: 2%;
  @include transition(0.3s ease);
}

.test-bar__bar--dark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  border-radius: 0 3px 3px 0;
  min-width: 2%;
  @include transition(0.3s ease);
}


.test-bar__bars {
  display: inline-block;
  height: 100%;
  min-width: 2%;

  span {
    width: 100%;
  }
}