// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

test-summary {
  width: 320px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;

  > div {
    height: 114px;
  }

  .physics {
    background-color: #94268f;
    padding: 10px;
  }

  .chemistry {
    background-color: #a8d436;
    padding: 10px;
  }

  .maths {
    background-color: #f22133;
    padding: 10px;
  }

  div span {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }

  div span.percent {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    font-size: 24px !important;
  }

}
