// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

test-on-test {
  display: inline-block;
  position: relative;
}

.test-on-test__container {
  .axis path,
  .axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
  }

  .tick text {
    fill: #888;
    font-size: 12px;
    text-anchor: center !important;
  }

  .x.axis path,
  .y.axis path {
    display: none;
  }

  .point {
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
  }

  .line {
    fill: none;
    stroke-width: 1.5px;
  }

  .test-on-test__bg {
    fill: #f5f5f5;
  }

  .test-on-test__bg-line {
    stroke: #fff;
    stroke-width: 2px;
  }

  .test-on-test__item-icon {
    background-color: blue;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
  }

  .test-on-test__item-text {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 20px 0 5px;
  }
}

.test-on-test__legend {
  margin-top: 10px;
  text-align: center;
}

.test-on-test__ylabel {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
  @include transform(rotate(-90deg) translateX(-50%));
 -webkit-transform-origin: top left;
 -moz-transform-origin: top left;
 -ms-transform-origin: top left;
 -o-transform-origin: top left;
 transform-origin: top left;
}

.test-on-test__half {
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
  vertical-align: top;
  padding: 10px;

  ul {
    list-style: none;
    padding: 10px 20px !important;
  }
}

.feedback-desc--small {
  padding: 4px 35px !important;
  margin-top: 5px !important;
  margin-left: 47px !important;
  font-size: 15px !important;
}

.test-on-test__tooltip {
  position: absolute;
  display: inline-block;
  width: 230px;
  background: #fff;
  color: #fff;
  top: -5000px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  @include transition(0.2s all ease);
  -webkit-transform: translateY(-100%) translateX(-50%);
  -moz-transform: translateY(-100%) translateX(-50%);
  -ms-transform: translateY(-100%) translateX(-50%);
  -o-transform: translateY(-100%) translateX(-50%);
  transform: translateY(-100%) translateX(-50%);

  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -8px;
    margin-left: -2px;
    left: 50%;
    border-top: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 1;
  }
}

.test-on-test__tooltip-heading {
  display: block;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.test-on-test__tooltip-stat {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
}

.test-on-test__tooltip-stats {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 10px;
}

.test-on-test__tooltip-stat-value {
  float: right;
}

.x.axis text {
  fill: $brand-color-blue;
  cursor: pointer;
  font-weight: 400;
}

.test-on-test__xaxis {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
  margin-top: -10px;
}

.test-on-test__msg {
	color: #fff;
	font-size: 15px;
}