// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

unlock-jee {

	.unlock-advanced-progress {
	  width: 150px;
	  margin-top: 45px !important;
	  color: #fff;
    height: 90px;
	  background: #888;
	  font-size: 12px;
	  text-align: center;
	}

	ul {
	  list-style: none;
	  display: inline-block;
    padding-left: 0;
    height: 10px;
	}

	ul li {
	  width: 5px;
	  float: left;
	  height: 5px;
	  border-radius: 5px;
	  margin-right: 5px;
	  margin-top: -3px;
	}

	ul li img {
	  width: 7px;
	}

	ul .tile {
	  text-align: center;
	}

	h3 {
	  margin: 5px 10px;
	  font-size: 12px;
	}

	ul li.active {
	  width: 10px;
	  height: 10px;
	  border-radius: 10px;
	  margin-top: 0;
	  margin-right: 7px;
	}

	ul li.active img {
	  width: 14px;
	}

  .jee-advanced-progress {
    background-color: #55a417;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

}