// csslint adjoining-classes: false, universal-selector: false, box-sizing: false, important: false, ids: false, box-model: false, qualified-headings: false
@import "../base";

section.video-solution {
  .overlay-container {
    width: 820px;
    height: 96%;
  }
  section.key-concept-question {
    border-bottom: 2px solid $brand-color-blue;
    width: 98%;
    margin: 0px auto;
  }

  section.key-concept-video {
    padding: 10px;
  }

  section.key-concept-explanation {
    background-color: #fff;
    width: 64%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: auto;
    h4 {
      font-weight: 300;
      padding-left: 20px;
      color: $brand-color-blue;
    }
    p {
      padding: 0px 20px;
    }
  }
  section.key-concept-formula {
    width: 36%;
    height: 100%;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    section.bookmark {
      background-color: #D9EDF5;
      height: 100%;
      padding: 10px 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      .btns-holder {
        button {
          border: 0px;
          margin-right: 5px;
          padding: 8px;
          font-size: 14px;
          width: 119px;
          border-radius: 2px;
        }
        button.bookmark {
          color: $brand-color-red;
          background: #ddd;
          border: 1px solid $brand-color-red;
          i {
            margin-right: 10px;
          }
        }
        button.continue {
          background-color: $brand-color-green;
          border: 1px solid $brand-color-green;
          color: #fff;
        }
      }
      p {
        background: #fff;
        height: 120px;
        height: calc(100% - 80px);
        overflow: auto;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 0px;
      }
      nav {
        text-align: center;
        a {
          font-size: 13px;
          margin: 12px;
          color: #888;
        }
        a.active {
          color: $brand-color-blue;
          font-weight: bold;
        }
      }
    }
    section.notes {
      background-color: #FBFDAA;
      height: 50%;
      padding: 10px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      h5 {
        font-weight: $ultra-thin;
        display: inline-block;
        float: left;
        margin-top: 5px;
      }
      button {
        float: right;
        background-color: $brand-color-green;
        color: #fff;
        padding: 5px 10px;
        border: 0px;
        border-radius: 2px;
        font-size: 13px;
      }
      textarea {
        background: image-url("ts_metro_theme/mynotes_BG.png") repeat 0 18px;
        display: block;
        width: 100%;
        border: 0;
        resize: none;
        height: calc(100% - 80px);
        &:focus {
          border: 0px;
          outline: 0px;
        }
      }
    }
  }
}
