.container
  br
  header
    .row
      .span6.header-left
        = link_to image_tag("embibe_logo.png", alt: "Embibe", class: "brand"), root_path
      .span6.header-right
  br
  .row
    .span7
      #home-top-box.embibe-box.well.well-large.home-box
        p
          strong Fast track to IIT with smart practice
    .span5
  - if current_user
    .row
      .span7
        p.jumbotron
          a.btn.btn-success#test_series href="/l" Go to the landing page
          br
          br
          a.btn.btn-success#test_series href="/i" Go to the interface
          br
          br
          a.btn.btn-success#test_series href="/test" Go to the test app
      .span5
        = form_tag "/logout", method: "post" do
          p.jumbotron
            = "You are logged in as id #{current_user.id}, name: #{current_user.name}"
            = submit_tag "Logout"
          p.jumbotron
            = "This is Theme version #{TsMetroTheme::VERSION}."
            a href="/status?key=status123" Details
