.container
  header
    br
    .col-md-12
      .span6.header-left
        = link_to image_tag("embibe_logo.png", alt: "Embibe", class: "brand"), root_path
      .span6.header-right
  .col-md-12
    br
    h1 Login as a test user:
    .col-md-9.jumbotron
      = form_tag "/login", method: "post", class: "form-inline" do
        = text_field :user, :name, class: "", placeholder: "User ID", style: "margin-right: 20px"
        = password_field :user, :password, class: "", placeholder: "Password", style: "margin-right: 20px"
        = submit_tag "Sign in", class: "btn btn-success"
    .col-md-3
