.container
  #main_container.row
    .span9
      .row
        dl
          - @status.as_json.each do |key, value|
            dt
              = key
            dd
              pre
                = value
    .span3
      h3 Embibe is up.
