- if Rails.env.development? || Rails.env.test?
  = stylesheet_link_tag  "ts_metro_theme/landing_assets"
- else
  / Exactly the same assets but from the web cdn
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', media: "all"
  = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300'