- if Rails.env.development? || Rails.env.test?
  = javascript_include_tag "ts_metro_theme/jquery"
  = javascript_include_tag "ts_metro_theme/placeholder-shiv.jquery.js"
  = javascript_include_tag "ts_metro_theme/scrollReveal"
- else
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/placeholder-shiv/0.2/placeholder-shiv.jquery.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/0.1.2/scrollReveal.min.js"