- landing_page_data ||= {}
- heading_font_size = landing_page_data["header"] ? 25 + (45-landing_page_data["header"].length)/5 : 36;
- heading_small_font_size = heading_font_size*0.75;
- signupText = landing_page_data["signup_text"] || ((landing_page_data['slug'] == 'jee-2014-offline-paper-with-solutions') && 'Take the JEE 2014 offline test!' || 'Take a FREE TEST now!');
header
  .heading-container
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/allen.png"}" alt="Embibe" style="max-height: 46px;width: auto;margin: 7px 0 0;"
    .login-holder
      a.login-button.btn[href="#login"]
        i.fa.fa-lock
        span
          | Login
      a.header-signup-button.btn href="#sign-up"
        i.fa.fa-user
        | Sign Up
section.above-fold#sign-up.sign-up style="margin-top: 42px;padding-bottom: 75px;background-color:#FDF3AB"
  img src="#{image_path "ts_metro_theme/allen_bg.jpg"}" style="position: absolute;top: 10px;height: 530px;z-index: 0; left: 50%; -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);"
  .intro style="position: relative;"
    .above-fold-details style="background: rgba(0,0,0,0.7);padding: 41px 20px;border-radius: 3px"
      h3.above-fold-details-heading data-scrollreveal="enter top"
        span style="font-size: #{heading_font_size}px"
          = landing_page_data["header"] || 'Allen Career Institiute'
        small style="font-size: 21px"
          = landing_page_data["sub_header"] || 'JEE Main and Advanced - Maths chapterwise tests'
      .above-fold-details-feature
        span.feature-details
          ul
            li data-scrollreveal="enter left"
              i.fa.fa-check
              = landing_page_data["bullet_1"] || '31 challenging tests with solutions & speed tips'
            li data-scrollreveal="enter left move 5px after 0.1s"
              i.fa.fa-check
              = landing_page_data["bullet_2"] || 'Take tests on the ACTUAL 2014 online JEE format'
            li data-scrollreveal="enter left move 5px after 0.2s"
              i.fa.fa-check
              = landing_page_data["bullet_3"] || 'Plan your ATTEMPT STRATEGY only with Embibe analysis'
            li data-scrollreveal="enter left move 5px after 0.3s"
              i.fa.fa-check
              = landing_page_data["bullet_4"] || 'Master TIME MANAGEMENT only with Embibe analysis'
            li data-scrollreveal="enter left move 5px after 0.5s"
              i.fa.fa-check
              = landing_page_data["bullet_6"] || 'Get concept level feedback to improve your score'
        div.testi-link data-section="testimonial" data-scrollreveal="enter left move 5px after 0.6s" IITians on Embibe
        div.testi-link.testi-link--right data-section="about" data-scrollreveal="enter left move 5px after 0.6s" Meet our faculty
    .above-fold-form class=(page == "signup" ? "wobble" : nil)
      = form_for(signup_resource, as: resource_name, url: registration_path(resource_name), html: {class:  "signup-form", style: "padding: 14px 0;background-color: rgba(0,0,0,0.7);"} ) do |f|
        - if @request_ids
          = f.hidden_field :facebook_request_ids, value: @request_ids
          = f.hidden_field :uid, value: @uid
        h4
          | Quick Signup for Free Test in Maths
        - [:alert, :notice, :error].each do |fl|
          - if flash[fl] && page == "signup"
            p[class= fl]= flash[fl]
        - if signup_resource.errors.any?
          - signup_resource.errors.full_messages.each do |msg|
            p.error= msg
        fieldset
          = f.text_field :first_name, placeholder: "First Name", required: true, class: signup_resource.errors[:first_name].blank? ? nil : "error", tabindex: 1, maxlength: 30
          = f.text_field :last_name, placeholder: "Last Name", required: true, class: signup_resource.errors[:last_name].blank? ? nil : "error", tabindex: 2, maxlength: 30
        fieldset
          = f.text_field :mobile, placeholder: "Mobile Number", required: true, class: signup_resource.errors[:mobile].blank? ? nil : "error", tabindex: 3, maxlength: 10
          /= f.select :city, cities, placeholder: "City", include_blank: true, required: true, class: signup_resource.errors[:city].blank? ? nil : "error"
          .typeahead
            =f.text_field :city, placeholder: "City", required: true, class: signup_resource.errors[:city].blank? ? nil : "error", autocomplete: "off", tabindex: 4, maxlength: 30
        fieldset
          = f.text_field :email, placeholder: "Email Address", required: true, class: signup_resource.errors[:email].blank? ? nil : "error", autocomplete: "off", tabindex: 5, maxlength: 40
          .select-box
            label.select-arrow for="user_primary_goal_name"
            	i.fa.fa-sort-down
            = f.select :primary_goal_name, options_for_select([["Preparing for",nil, {disabled: 'disabled', selected: 'selected'}],*f.object.valid_goal_names], f.object.primary_goal_name), {}, { :tabindex => 6 }

        fieldset
          = f.password_field :password, placeholder: "Password", required: true,  class: signup_resource.errors[:password].blank? ? nil : "error", autocomplete: "off", tabindex: 7, maxlength: 30
          = f.password_field :password_confirmation, placeholder: "Confirm Password", required: true,  class: signup_resource.errors[:password_confirmation], tabindex: 8, maxlength: 30
          = f.hidden_field :landing_details, value: landing_page_data.to_json
          = f.hidden_field :olark_details, value: {"olark" => nil}.to_json
        fieldset.terms
          = f.check_box :tos, placeholder: "Terms of Service", required: true, checked: true, class: signup_resource.errors[:tos].blank? ? nil : "error"
          label for="user_tos"
            | I agree to Embibe's &nbsp;
            a href="http://www.embibe.com/tos" target="_blank" Terms of Service
            | &nbsp; & &nbsp;
            a href="http://www.embibe.com/privacy_policy" target="_blank" Privacy Policy
        fieldset
          input.form-submit[type="submit" value="#{signupText}" tabindex="8" ga-track="landing_page, click, signup"]
a.down-arrow href="javascript:;"
    i.fa.fa-chevron-down
a.up-arrow.hidden href="javascript:;"
    i.fa.fa-chevron-up
h4.how-it-works
  | Preparing for JEE Advanced or taking JEE Main Online?
  br
  span.fake-signup-btn style="color:rgb(41, 184, 235);cursor:pointer" Signup
  |  to get India's best test analysis. See how it
  span data-section="feedback-video" style="color:rgb(41, 184, 235);cursor:pointer"  works
  | .
section.stat style="height: 600px"
  .row
    h2.stat__heading.small-8.column.light Cumulative Ranks Improved
    h2.stat__value.small-4.column.light.text-center 234,600
    p
      | embibe has helped thousands of students to improve their
      strong ranks
      | in several competitive exams
    .row.clearfix
      .small-3.column.text-center
        i.fa.fa-trash-o.stat__long-stat-icon
        .stat__long-stat 3.9
        strong.stat__long-stat-title.text-center
          | Number of wasted
          br
          | attempts reduced
        p.stat__long-stat-desc.text-justify Wasted attempts were detected in more than 3304 tests taken in ultimate test series. embibe helps the student to reduce their wasted attempts and improve their ranks by as much as 60,000.
      .small-3.small-push-1.column.text-center
        i.fa.fa-clock-o.stat__long-stat-icon
        .stat__long-stat 13.6
        strong.stat__long-stat-title.text-center
          | Questions lead to
          br
          | majority of time wasted
        p.stat__long-stat-desc.text-justify Average student loses 13,628 ranks due to spending much time on 12.6 questions (on average). embibe helped them improve by thousands of ranks by accurate feedback on exam time management.
      .small-3.small-push-1.column.text-center
        i.fa.fa-rocket.stat__long-stat-icon
        .stat__long-stat 11,287
        strong.stat__long-stat-title.text-center
          | Ranks improved by test
          br
          | takers on an average
        p.stat__long-stat-desc.text-justify embibe has helped thousands of students to improve their rank irrespective of their proficiency level. embibe’s accurate feedback on academic performance and time management helped even toppers to improve their ranks by hundreds.

section#about.about.teachers style="height: 1025px; background-color: #fff;"
	img src="#{image_path "ts_metro_theme/allen_bg_2.jpg"}" style="margin: 0 auto; height: 100%;display: block"

section#ultimate-test-series.ultimate-test-series.fixed-back
  .footer-msg
      h4
        | Ultimate Test Series
      ul
        li
          i.fa.fa-angle-right
          | Experience the real JEE 2014 online interface
        li
          i.fa.fa-angle-right
          | Know which questions hurt your rank because you wasted time attempting them
        li
          i.fa.fa-angle-right
          | Know which questions you went over time on even if you got them right
        li
          i.fa.fa-angle-right
          | Know which chapters you make perfect attempts on
/section#revision-rocket.revision-rocket.fixed-back
  .container
    h4
      | Revision Rocket
    br
    span
      | BOOST EXAM STRATEGY, REVISE WHAT IS IMPORTANT!
    br
    span
      | SPEED TIPS for the fastest solutions
    br
    span
      | Confidence building HINTS & VIDEO SOLUTIONS
/section.testi-header
  .overlay-c
section#testimonial.testi.testimonial
  section#active-testimonial
    iframe[src="//player.vimeo.com/video/85818152?title=0&api=1&amp;byline=0&amp;portrait=0" width="888" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen]
    /i.fa.fa-play.fat-play-btn onclick="playTestimonial(event)"
  aside
    nav.students.clearfix
      a.active href="javascript:;" data-key="1"
          figure.s-1-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="2"
          figure.s-2-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="3"
          figure.s-3-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="4"
          figure.s-4-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="5"
          figure.s-5-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="6"
          figure.s-6-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="7"
          figure.s-7-thumb
          span.inactive-img-overlay
    section#student-info
      h4#testi-name
        | Arjun Rao
      span.city
        | Mumbai, Maharashtra
      span.rank
        | A.I.R &nbsp;
        span#testi-rank 216
      /p.testi
        | &ldquo; Embibe saved me a lot of time &rdquo;
      p.question
        | What was the biggest challenge you faced while preparing for JEE?
      p#testi-challenge.answer
        | The challenge of accuracy by not making silly mistakes and of maintaining a steady focus in the examination.
      p.question
        | What should a student focus in the last 2 months before JEE?
      p#testi-last2months.answer
        | The student must attempt several sample papers in order to develop focus and learn time management.
      p.question
        | What is your favourite Embibe feature and why?
      p#testi-favfeature.answer
        | The feature of weakness detection was a very helpful feature for me.
      p.question
        | What is your advice for JEE Aspirants this year?
      p#testi-advice.answer
        | Study, Study Hard. Study because you love to study.
section#video-overlay.overlay

section#login.overlay class=(page == "login" ? 'active' : nil)
  .overlay-container
    h6
      | Login

    - if login_resource.errors.any?
      - login_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "login"
        p[class= fl]= flash[fl]
    = form_for(login_resource, as: resource_name, url: session_path(resource_name), html: {class:  nil}) do |f|
      = f.text_field :login, placeholder: "Email Id or Mobile Number", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error login" : "login"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error" : nil
      = f.hidden_field :login_landing_details, value: landing_page_data.to_json
      = f.hidden_field :login_olark_details, value: {"olark" => nil}.to_json
      = f.check_box :remember_me, checked: true
      label for="user_checkbox" Keep me logged in
      button.signin-button ga-track="landing_page, click, login"
        i.fa.fa-lock
        span
          =  login_resource.errors.any? ? "Try again" : "Sign In"
      a.forgot-password-tooltip[href="#forgot-password"]
        | Forgot Password?
  button.overlay-close x

section#reset-password.overlay class=(page == "reset-password" ? 'active' : nil)
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button ga-track="landing_page, click, reset_password"
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' : nil)
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send ga-track="landing_page, click, forgot_password"
        i.fa.fa-chevron-right
  button.overlay-close x

footer
  .footer-note
    p
      span Revise the most important questions for JEE 2014!
      a target="_blank" href="http://embibe.com/" ga-track="landing_page, click, footer_main_app_link" title="IIT JEE Practise for free" Start practising for free
  .footer-container
    p.copyright
      | © 2014 Indiavidual Learning Pvt. Ltd.
    nav.footer-nav
      a[href="/pricing" target="_blank"]
        | Plans & Pricing
      a[href="http://www.embibe.com/about_us" target="_blank"]
        | About us
      a[href="http://www.embibe.com/tos" target="_blank"]
        | Terms of Service
      a[href="http://www.embibe.com/privacy_policy" target="_blank"]
        | Privacy Policy
      a[href="http://embibe.freshdesk.com" target="_blank"]
        | FAQ
      a[href="http://www.embibe.com/contact_us" target="_blank"]
        | Contact Us
    nav.social-icons
      a[href="https://www.facebook.com/embibe.me" target="_blank"]
        i.fa.fa-facebook
      a[href="https://twitter.com/embibe" target="_blank"]
        i.fa.fa-twitter
css:
	body {
		min-width: 1100px !important;
	}