- landing_page_data ||= {}
- heading_font_size = landing_page_data["header"] ? 25 + (45-landing_page_data["header"].length)/5 : 36;
- heading_small_font_size = heading_font_size*0.75;
- signupText = landing_page_data["signup_text"] || ((landing_page_data['slug'] == 'jee-2014-offline-paper-with-solutions') && 'Take the JEE 2015 offline test!' || 'Take a FREE TEST now!');
header style="height: 73px;position: static;"
  .heading-container style="position: relative;"
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/carmel2.png"}" alt="carmel" style="max-height: 73px; width: auto; margin: 0;"
    h3 style="display: inline; position: relative; top: 6px; left: -395px; color: #bf1e2e; font-size: 24px;text-transform: uppercase" Carmel ExamBox
    span style="font-weight: 600; color: #bf1e2e; font-size: 16px; position: absolute; left: 91px;top: 38px;text-transform: uppercase" JEE Main & Advanced, AIPMT, MHCET, BITSAT entrance exams
    img src="#{image_path "ts_metro_theme/iso_carmel.png"}" style="position: absolute; right: 0; top: 4px;height: 67px;"
section.above-fold#sign-up.sign-up style="padding-top: 0; padding-bottom: 30px;"
  .intro
    .above-fold-details style="background: #c71d22;padding: 20px;border-radius: 3px; margin-left: 5%"
      h3.above-fold-details-heading data-scrollreveal="enter top"
        span style="font-size: #{heading_font_size}px"
          = landing_page_data["header"] || 'Carmel Test Series provides'
        small style="font-size: 21px"
          = landing_page_data["sub_header"] || 'JEE Main & Advanced, AIPMT, MHCET, BITSAT'
      .above-fold-details-feature
        span.feature-details
          ul
          	li data-scrollreveal="enter left move 5px after 0.1s"
          		i.fa.fa-check
          		| Compare yourself with Real 2014 rankers
            li data-scrollreveal="enter left move 5px after 0.2s"
              i.fa.fa-check
              = landing_page_data["bullet_1"] || '140 challenging tests with video solutions & speed tips'
            li data-scrollreveal="enter left move 5px after 0.3s"
              i.fa.fa-check
              = landing_page_data["bullet_2"] || 'Take tests on the ACTUAL 2015 online JEE format'
            li data-scrollreveal="enter left move 5px after 0.4s"
              i.fa.fa-check
              = landing_page_data["bullet_3"] || 'Plan your ATTEMPT STRATEGY only with Carmel analysis'
            li data-scrollreveal="enter left move 5px after 0.5s"
            	i.fa.fa-check
            	| Experience the best rank predictor in the industry
            /li data-scrollreveal="enter left move 5px after 0.6s"
              i.fa.fa-check
              = landing_page_data["bullet_4"] || 'Master TIME MANAGEMENT only with Carmel analysis'
            /li data-scrollreveal="enter left move 5px after 0.7s"
              i.fa.fa-check
              = landing_page_data["bullet_6"] || 'Get concept level feedback to improve your score'
    .above-fold-form class=(page == "login" ? "wobble" : nil) style="width: 35%"
      form.carmel-form accept-charset="UTF-8" action="http://localhost:4545/users/sign_in" method="post" style="background: #bf1e2e;height: 301px"
        h4 style="font-size: 20px;text-align: center;padding-top: 0" Login
        - if login_resource.errors.any?
          - login_resource.errors.full_messages.each do |msg|
            p.error= msg
        - [:alert, :notice, :error].each do |fl|
          - if flash[fl] && page == "login"
            p[class= fl]= flash[fl]
        input name="utf8" type="hidden" value="✓" /
        input name="intent" type="hidden" value="carmel" /
        input type="hidden" name="sign_in_from" value="http://carmelexambox.in/"
        input#user_login.login autocomplete="off" name="user[login]" placeholder="Email Id or Mobile Number" required="required" type="text" value=""
        input#user_password autocomplete="off" name="user[password]" placeholder="Password" required="required" type="password" /
        input#user_login_landing_details name="user[login_landing_details]" type="hidden" value="{}" /
        input#user_login_olark_details name="user[login_olark_details]" type="hidden" value="{&quot;olark&quot;:null}" /
        input name="user[remember_me]" type="hidden" value="0" /
        input#user_remember_me checked="checked" name="user[remember_me]" type="checkbox" value="1" /
        label for="user_checkbox"  Keep me logged in
        button.signin-button ga-track="landing_page, click, login"
          i.fa.fa-lock style="margin-right: 5px"
          span Sign In
        a.forgot-password-tooltip href="http://ultimate.embibe.com/carmel#forgot-password"  Forgot Password?

section#about.about.teachers
  .container
    h4 data-scrollreveal="enter bottom"
      | Teachers from India's best institutes challenge you to the online JEE & AIPMT
    ul.team-members.clearfix
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63170633" title="Abhishek Jain"]
          figure.Abhishek-Jain
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Abhishek Jain
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63183244" title="Sanjay Agarwal"]
          figure.Sanjay
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sanjay Agarwal
      li data-scrollreveal="enter top after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63072297" title="Hemant Kumar"]
          figure.Hemant
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Hemant Kumar
      li.text data-scrollreveal="enter right after 0.4s"
        p
          | Our faculty members are passionate about teaching. Between all of them, they have produced thousands of top IIT rankers.
      li data-scrollreveal="enter bottom after 0.5s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074105" title="Sanjay Bahety"]
          figure.Bahety
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sanjay Bahety
      li data-scrollreveal="enter left after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074484" title="Sunil Kishanchandani"]
          figure.Sunil
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sunil Kishanchandani
      li data-scrollreveal="enter right after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/62986208" title="Rakesh Shah"]
          figure.Rakesh
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Rakesh Shah
      li data-scrollreveal="enter bottom after 0.4s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63070643" title="Amrit Anand"]
          figure.Amrit
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Amrit Anand
      li data-scrollreveal="enter bottom after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63170634" title="Sawaisingh Rajpurohit"]
          figure.Sawai
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sawaisingh Rajpurohit
      li data-scrollreveal="enter right after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/86096526" title="Nipun Tandon"]
          figure.nipun
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Nipun Tandon
      li data-scrollreveal="enter bottom after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/86096527" title="Girish Kadam"]
          figure.girish
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Girish Kadam
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63072297" title="Atish Agarwal"]
          figure.atish
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Atish Agarwal
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074482" title="Shashikant Seth"]
          figure.Seth
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Shashikant Seth
      li data-scrollreveal="enter right after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63070645" title="MN Singh"]
          figure.MNSingh
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | MN Singh
      li.text data-scrollreveal="enter bottom after 0.4s"
        span
          | Faculty Members
        ul
          li
            | Mumbai
          li
            | Patna
          li
            | Kota
          li
            | New Delhi
          li
            | Hyderabad
        ul
          li
            | Pune
          li
            | Ranchi
          li
            | Indore
          li
            | Vadodara
          li
            | Alwar...
      li data-scrollreveal="enter right after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63159578" title="Prashant Bhatt"]
          figure.Prashant
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Prashant Bhatt
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63075625" title="Rajendra Kori"]
          figure.Kori
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Rajendra Kori
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63183237" title="Harsh Rajpal"]
          figure.Harshal
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Harsh Rajpal
      li.text.alumni data-scrollreveal="enter right after 0.3s"
        span
          | Alumni of
        ul
          li
            | IIT Bombay
          li
            | IIT Delhi
          li
            | IIT Kharagpur
          li
            | IIT Roorkee
          li
            | Delhi University
        ul
          li
            | Mumbai University
      li data-scrollreveal="enter left after 0.4s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63071852" title="Devendra Chandrakar"]
          figure.Devendra
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Devendra Chandrakar
      li data-scrollreveal="enter bottom after 0.5s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63187774" title="Ranveer Singh"]
          figure.Ranveer
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Ranveer Singh

section#ultimate-test-series.ultimate-test-series.fixed-back
  .footer-msg
      h4
        | Carmel Test Series
      ul
        li
          i.fa.fa-angle-right
          | Experience the real JEE 2015 online interface
        li
          i.fa.fa-angle-right
          | Know which questions hurt your rank because you wasted time attempting them
        li
          i.fa.fa-angle-right
          | Know which questions you went over time on even if you got them right
        li
          i.fa.fa-angle-right
          | Know which chapters you make perfect attempts on

footer style="position: static"
  .footer-container
    p.copyright
      | Technology partner - &nbsp;
      a href="http://ultimate.embibe.com" style="color: #888" target="_blank" embibe.com

section#reset-password.overlay class=(page == "reset-password" ? 'active' : nil)
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button ga-track="landing_page, click, reset_password"
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' : nil)
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send ga-track="landing_page, click, forgot_password"
        i.fa.fa-chevron-right
  button.overlay-close x

css:
  .carmel-form {
    padding: 20px;
  }

  #user_login,
  #user_password {
    padding: 12px 20px;
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
    border: 0;
    margin-bottom: 5px;
  }

  .signin-button {
    background-color: #FBC02D;
    color: #555;
    font-size: 17px;
    font-weight: 400;
    border: 0px;
    border-radius: 2px;
    width: 302px;
    margin-top: 5px;
    padding: 10px;
  }

  .signin-button:hover {
    background-color: #FBC02D;
    color: #333;
  }

  .forgot-password-tooltip {
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
  }

  .stat__heading,
  .stat__value { font-weight: 400; }