- landing_page_data ||= {}
- heading_font_size = landing_page_data["header"] ? 25 + (45-landing_page_data["header"].length)/5 : 36;
- heading_small_font_size = heading_font_size*0.75;
- signupText = landing_page_data["signup_text"] || ((landing_page_data['slug'] == 'jee-2014-offline-paper-with-solutions') && 'Take the JEE 2014 offline test!' || 'SIGNUP FOR FREE');

header
  .heading-container
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/embibe-logo-landing.png"}" alt="Embibe" style="width:auto"
    .login-holder
      /a.login-button.btn href="#login" style="margin-top: 10px;"
        i.fa.fa-lock
        span
          | Login
      /a.header-signup-button.btn href="#sign-up"
        i.fa.fa-user
        | Sign Up
      span style="color: #444;font-weight: bold;float: right;margin-top: 12px;"
	    	| Call us: +91-7666597555
	    	br
	    	span style="font-size: 12px;margin-left: 55px;" 8am - Midnight
section.above-fold#sign-up.sign-up
  .intro
    .above-fold-details
      h3.above-fold-details-heading data-scrollreveal="enter top"
        span style="font-size: 34px"
          | JEE Chemistry Online Test Series
      .above-fold-details-feature
        span.feature-details
          ul
            li data-scrollreveal="enter left move 5px after 0.1s"
              i.fa.fa-check
              strong.caps 36 Full tests
              |  for JEE Main, Advanced & BITSAT
            li data-scrollreveal="enter left move 5px after 0.1s"
              i.fa.fa-check
              strong.caps 90 Chapter tests
              | across Physics, Chemistry and Maths
            li data-scrollreveal="enter left move 5px after 0.1s"
              i.fa.fa-check
              | Plan your
              strong ATTEMPT STRATEGY
              | only with Embibe analysis
            li data-scrollreveal="enter left move 5px after 0.2s"
              i.fa.fa-check
              | Master
              strong TIME MANAGEMENT
              | only with Embibe analysis
            li data-scrollreveal="enter left move 5px after 0.3s"
              i.fa.fa-check
              | Experience the best
              strong.caps rank predictor
              | in the industry
            li data-scrollreveal="enter left move 5px after 0.4s"
              i.fa.fa-check
              | Get
              strong.caps concept level feedback
              | to improve your score
            li data-scrollreveal="enter left move 5px after 0.5s"
              i.fa.fa-check
              strong.caps Speed tips & video solutions
              | for important questions
    .above-fold-form data-scrollreveal="enter right after 0.4s" class=(page == "signup" ? "wobble" : nil)
      = form_for(signup_resource, as: resource_name, url: registration_path(resource_name), html: {class:  "signup-form"} ) do |f|
        - if @request_ids
          = f.hidden_field :facebook_request_ids, value: @request_ids
          = f.hidden_field :uid, value: @uid
        h4
          | Quick Signup for Free Test
        - [:alert, :notice, :error].each do |fl|
          - if flash[fl] && page == "signup"
            p[class= fl]= flash[fl]
        - if signup_resource.errors.any?
          - signup_resource.errors.full_messages.each do |msg|
            p.error= msg
        fieldset
          = f.text_field :first_name, placeholder: "First Name", required: true, class: signup_resource.errors[:first_name].blank? ? nil : "error", tabindex: 1, maxlength: 30
          = f.text_field :last_name, placeholder: "Last Name", required: true, class: signup_resource.errors[:last_name].blank? ? nil : "error", tabindex: 2, maxlength: 30
        fieldset
          = f.text_field :mobile, placeholder: "Mobile Number", required: true, class: signup_resource.errors[:mobile].blank? ? nil : "error", tabindex: 3, maxlength: 10
          /= f.select :city, cities, placeholder: "City", include_blank: true, required: true, class: signup_resource.errors[:city].blank? ? nil : "error"
          .typeahead
            =f.text_field :city, placeholder: "City", required: true, class: signup_resource.errors[:city].blank? ? nil : "error", autocomplete: "off", tabindex: 4, maxlength: 30
        fieldset
          = f.text_field :email, placeholder: "Email Address", required: true, class: signup_resource.errors[:email].blank? ? nil : "error", autocomplete: "off", tabindex: 5, maxlength: 40
          .select-box
            = f.select :primary_goal_name, options_for_select([["Preparing for",nil, {disabled: 'disabled', selected: 'selected'}],*f.object.valid_goal_names], f.object.primary_goal_name), {}, { :tabindex => 6 }
            label.select-arrow for="user_primary_goal_name"
            	i.fa.fa-sort-down
        fieldset
          = f.password_field :password, placeholder: "Password", required: true,  class: signup_resource.errors[:password].blank? ? nil : "error", autocomplete: "off", tabindex: 7, maxlength: 30
          = f.password_field :password_confirmation, placeholder: "Confirm Password", required: true,  class: signup_resource.errors[:password_confirmation], tabindex: 8, maxlength: 30
          = f.hidden_field :landing_details, value: landing_page_data.to_json
          = f.hidden_field :olark_details, value: {"olark" => nil}.to_json
        fieldset.terms
          = f.check_box :tos, placeholder: "Terms of Service", required: true, checked: true, class: signup_resource.errors[:tos].blank? ? nil : "error"
          label for="user_tos"
            | I agree to Embibe's &nbsp;
            a href="http://www.embibe.com/tos" target="_blank" Terms of Service
            | &nbsp; & &nbsp;
            a href="http://www.embibe.com/privacy_policy" target="_blank" Privacy Policy
        fieldset
          input.form-submit[type="submit" value="#{signupText}" tabindex="8" ga-track="landing_page, click, signup"]
a.down-arrow href="javascript:;"
  i.fa.fa-chevron-down
a.up-arrow.hidden href="javascript:;"
  i.fa.fa-chevron-up
section#video-overlay.overlay
section#login.overlay class=(page == "login" ? 'active' : nil)
  .overlay-container
    h6
      | Login

    - if login_resource.errors.any?
      - login_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "login"
        p[class= fl]= flash[fl]
    = form_for(login_resource, as: resource_name, url: session_path(resource_name), html: {class:  nil}) do |f|
      = f.text_field :login, placeholder: "Email Id or Mobile Number", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error login" : "login"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error" : nil
      = f.hidden_field :login_landing_details, value: landing_page_data.to_json
      = f.hidden_field :login_olark_details, value: {"olark" => nil}.to_json
      = f.check_box :remember_me, checked: true
      label for="user_checkbox" Keep me logged in
      button.signin-button ga-track="landing_page, click, login"
        i.fa.fa-lock
        span
          =  login_resource.errors.any? ? "Try again" : "Sign In"
      a.forgot-password-tooltip[href="#forgot-password"]
        | Forgot Password?
  button.overlay-close x

section#reset-password.overlay class=(page == "reset-password" ? 'active' : nil)
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button ga-track="landing_page, click, reset_password"
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' : nil)
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send ga-track="landing_page, click, forgot_password"
        i.fa.fa-chevron-right
  button.overlay-close x
h1.text-center.thin.light style="font-weight: 100;" embibe JEE 2014 Achievers
ul.fluid-gallery
  li.fluid-gallery__item.large
    /.fluid-gallery__user style="font-size: 28px;line-height: 40px;"
      .fluid-gallery__user-name Chitraang Murdia
      .fluid-gallery__user-city Udaipur
      strong JEE Adv rank: 1
      br
      .fluid-gallery__user-target
        span JEE Main score: 335
        br
        spanJEE Adv score: 334
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Chitraang-Murdia.png"}"
    p.fluid-gallery__testi
      i.fa.fa-quote-left style="margin-left: -27px;margin-right: 14px;"
      | In a coaching institute test, you can never come to know time spent per question. embibe helped in understanding how I manage my time in a test and also in pin pointing exact conceptual mistakes.
      i.fa.fa-quote-right style="margin-left: 14px;margin-right: 14px;"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Govind Lahoti
      .fluid-gallery__user-city Indore
      strong JEE Adv rank: 3
      br
      .fluid-gallery__user-target
        span JEE Main score: 340
        br
        spanJEE Adv score: 322
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/govind-hd.jpg"}"

  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Kushal Babel
      .fluid-gallery__user-city Udaipur
      strong JEE Adv rank: 27
      br
      .fluid-gallery__user-target
        span JEE Main score: 345
        br
        spanJEE Adv score: 305
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Kushal-Babel.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Aryan Garg
      .fluid-gallery__user-city Chandigarh
      strong JEE Adv rank: 71
      br
      .fluid-gallery__user-target
        span JEE Main score: 335
        br
        spanJEE Adv score: 284
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Aryan.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Prathu Baronia
      .fluid-gallery__user-city Kota
      strong JEE Adv rank: 241
      br
      .fluid-gallery__user-target
        span JEE Main score: 342
        br
        spanJEE Adv score: 264
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Prathu-Baromia.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Siddhant Gupta
      .fluid-gallery__user-city Udaipur
      strong JEE Adv rank: 538
      br
      .fluid-gallery__user-target
        span JEE Main score: 330
        br
        spanJEE Adv score: 224
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Siddhant-Gupta.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Naman Tambi
      .fluid-gallery__user-city Rajasthan
      strong JEE Adv rank: 1423
      br
      .fluid-gallery__user-target
        span JEE Main score: 271
        br
        spanJEE Adv score: 217
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Naman-Tambi.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Rajat Sharma
      .fluid-gallery__user-city Uttar Pradesh
      strong JEE Adv rank: 1700
      br
      .fluid-gallery__user-target
        span JEE Main score: 221
        br
        spanJEE Adv score: 210
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Rajat-Sharma.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Hardik Vijay
      .fluid-gallery__user-city Udaipur
      strong JEE Adv rank: 2364
      br
      .fluid-gallery__user-target
        span JEE Main score: 301
        br
        spanJEE Adv score: 201
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Hardik-Vijay.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Kartikeya Shahi
      .fluid-gallery__user-city Ludhiana
      strong JEE Adv rank: 4612
      br
      .fluid-gallery__user-target
        span JEE Main score: 256
        br
        spanJEE Adv score: 179
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Kartikeya-Shahi.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Shubham Sharma
      .fluid-gallery__user-city Kota
      strong JEE Adv rank: 5156
      br
      .fluid-gallery__user-target
        span JEE Main score: 224
        br
        spanJEE Adv score: 205
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Shubham-Sharma.jpg"}"
  li.fluid-gallery__item
    .fluid-gallery__user
      .fluid-gallery__user-name Jay Ganesh
      .fluid-gallery__user-city Noida
      .fluid-gallery__user-target
        span JEE Main score: 215
        br
        spanJEE Adv score: 152
    img.fluid-gallery__item-img src="#{image_path "ts_metro_theme/landing/Jai-Ganesh.jpg"}"
  li.fluid-gallery__item
    p style="font-weight: bold;font-size: 32px;text-align: center;margin-top: 116px;" And many more..
section.stat
  .row
    h2.stat__heading.small-8.column.light Cumulative Ranks Improved
    h2.stat__value.small-4.column.light.text-center 234,600
    p
      | embibe has helped thousands of students to improve their
      strong ranks
      | in several competitive exams
    .row.clearfix
      .small-3.column.text-center
        i.fa.fa-trash-o.stat__long-stat-icon
        .stat__long-stat 3.9
        strong.stat__long-stat-title.text-center
          | Number of wasted
          br
          | attempts reduced
        p.stat__long-stat-desc.text-justify Wasted attempts were detected in more than 3304 tests taken in ultimate test series. embibe helps the student to reduce their wasted attempts and improve their ranks by as much as 60,000.
      .small-3.small-push-1.column.text-center
        i.fa.fa-clock-o.stat__long-stat-icon
        .stat__long-stat 13.6
        strong.stat__long-stat-title.text-center
          | Questions lead to
          br
          | majority of time wasted
        p.stat__long-stat-desc.text-justify Average student loses 13,628 ranks due to spending much time on 12.6 questions (on average). embibe helped them improve by thousands of ranks by accurate feedback on exam time management.
      .small-3.small-push-1.column.text-center
        i.fa.fa-rocket.stat__long-stat-icon
        .stat__long-stat 11,287
        strong.stat__long-stat-title.text-center
          | Ranks improved by test
          br
          | takers on an average
        p.stat__long-stat-desc.text-justify embibe has helped thousands of students to improve their rank irrespective of their proficiency level. embibe’s accurate feedback on academic performance and time management helped even toppers to improve their ranks by hundreds.

footer
  .footer-container
    p.copyright
      | © 2014 Indiavidual Learning Pvt. Ltd.
    nav.footer-nav
      a[href="/pricing" target="_blank"]
        | Plans & Pricing
      a[href="http://www.embibe.com/about_us" target="_blank"]
        | About us
      a[href="http://www.embibe.com/tos" target="_blank"]
        | Terms of Service
      a[href="http://www.embibe.com/privacy_policy" target="_blank"]
        | Privacy Policy
      a[href="http://embibe.freshdesk.com" target="_blank"]
        | FAQ
      a[href="http://www.embibe.com/contact_us" target="_blank"]
        | Contact Us
    nav.social-icons
      a[href="https://www.facebook.com/embibe.me" target="_blank"]
        i.fa.fa-facebook
      a[href="https://twitter.com/embibe" target="_blank"]
        i.fa.fa-twitter

css:
  .caps {
    text-transform: uppercase;
  }
  .form-submit {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 21px;
  }