css:
  body {
    margin: 0 auto;
    width: 730px;
  }

  .embibe-iframe__container {
    position: relative;
    height: 563px;
    background-image: url("#{image_path "ts_metro_theme/ideacts.jpg"}")
  }

  .embibe-iframe__carousel-items {
    position: absolute;
    top: 82px;
    height: 250px;
    width: 730px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .embibe-iframe__carousel-item {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0px;
    width: 730px;
    height: 250px;
  }

  .embibe-iframe__carousel-item.embibe-iframe__active { visibility: visible; }

  .embibe-iframe__carousel-indicators {
    position: absolute;
    top: 315px;
    left: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .embibe-iframe__carousel-indicator {
    float: left;
    width: 5px;
    height: 5px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
  }


  .embibe-iframe__form {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 278px;
    height: 165px;
  }

  .embibe-iframe__form-input {
    position: absolute;
    left: -2px;
    width: 264px;
    border: 0;
    outline: 0;
    padding: 7px 8px;
  }

  .embibe-iframe__carousel-email { top: 34px; }
  .embibe-iframe__carousel-phone { top: 67px; }
  .embibe-iframe__carousel-exam {
    -webkit-appearance: none;
    -moz-appearance: none;
    top: 99px;
    width: 280px;
    overflow: hidden;
    padding: 8px;
    border-radius: 0;
  }

  select::-ms-expand { display: none; }

  select {
    background: url("/assets/ts_metro_theme/down_arrow_select.jpg") no-repeat #fff 265px center;
    background-size: 8px;
  }

  .embibe-iframe__form-submit {
    position: absolute;
    top: 136px;
    border-radius: 0px;
    border: 0;
    outline: 0;
    width: 279px;
    padding: 8px 0px;
    font-size: 14px;
    color: #fff;
    background-color: #115C80;
    cursor: pointer;
  }
  .embibe-iframe__1 {
    background-image: url(#{image_path "ts_metro_theme/ideacts1.png"});
  }
  .embibe-iframe__2 {
    background-image: url(#{image_path "ts_metro_theme/ideacts2.png"});
  }
  .embibe-iframe__3 {
    background-image: url(#{image_path "ts_metro_theme/ideacts3.png"});
  }
  .embibe-iframe__carousel-indicator.embibe-iframe__active { background-color: yellow; }
<!--[if gte IE 5]>
css:
  .embibe-iframe__1 {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path "ts_metro_theme/ideacts1.png"}' ,sizingMethod='crop');
  }
  .embibe-iframe__2 {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path "ts_metro_theme/ideacts2.png"}' ,sizingMethod='crop');
  }
  .embibe-iframe__3 {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{image_path "ts_metro_theme/ideacts3.png"}' ,sizingMethod='crop');
  }
<![endif]-->

.embibe-iframe__container
  .embibe-iframe__carousel
    ul.embibe-iframe__carousel-items
      li.embibe-iframe__1.embibe-iframe__carousel-item.embibe-iframe__active
      li.embibe-iframe__2.embibe-iframe__carousel-item
      li.embibe-iframe__3.embibe-iframe__carousel-item
    ul.embibe-iframe__carousel-indicators
      li.embibe-iframe__carousel-indicator.embibe-iframe__active
      li.embibe-iframe__carousel-indicator
      li.embibe-iframe__carousel-indicator
  form.embibe-iframe__form action='/ideacts' method='post'
    input.embibe-iframe__form-input.embibe-iframe__carousel-user.has-placeholder value=(@user.name.to_s.blank? ? 'Name' : @user.name) onclick="removePlaceholder(this)" placeholder="Name" name='user[name]' style=('name'.in? @errors_on  ? 'border: 1px solid #f32' : '')
    input.embibe-iframe__form-input.embibe-iframe__carousel-email.has-placeholder value=(@user.email.to_s.blank? ? 'Email' : @user.email) placeholder="Email" onclick="removePlaceholder(this)" name='user[email]' style=('email'.in? @errors_on  ? 'border: 1px solid #f32' : '')
    input.embibe-iframe__form-input.embibe-iframe__carousel-phone.has-placeholder value=(@user.mobile.to_s.blank? ? 'Mobile number' : @user.mobile) placeholder="Mobile number" onclick="removePlaceholder(this)" name='user[mobile]' style=('mobile'.in? @errors_on  ? 'border: 1px solid #f32' : '')
    input type='hidden' name='user[intent]' value='ideacts_iframe'
    select.embibe-iframe__form-input.embibe-iframe__carousel-exam name='user[primary_goal_name]' style=('email'.in? @errors_on  ? 'border: 1px solid #f32' : '')
      option selected="selected" disabled="disabled" Select exam
      option value='Engineering' Engineering
      option value='Medical' Medical
    button.embibe-iframe__form-submit Enroll Now

javascript:
  var indicators = document.querySelectorAll('.embibe-iframe__carousel-indicators > li');
  var items = document.querySelectorAll('.embibe-iframe__carousel-items > li');
  var index = 1;
  var currentActiveIndicator = indicators[0];
  var currentActiveItem = items[0];

  setInterval(function(){
    currentActiveIndicator.className = currentActiveIndicator.className.replace('embibe-iframe__active', '');
    currentActiveItem.className = currentActiveItem.className.replace('embibe-iframe__active', '');
    var nthChild = index + 1;
    var query = '.embibe-iframe__carousel-indicator:nth-child('+ nthChild + ')';
    var query2 = '.embibe-iframe__carousel-item:nth-child('+ nthChild + ')';
    var newlyActiveIndicator = document.querySelector(query);
    var newlyActiveItem = document.querySelector(query2);
    newlyActiveIndicator.className = newlyActiveIndicator.className.replace('embibe-iframe__carousel-indicator', 'embibe-iframe__carousel-indicator embibe-iframe__active');
    newlyActiveItem.className = newlyActiveItem.className.replace('embibe-iframe__carousel-item', 'embibe-iframe__carousel-item embibe-iframe__active');
    index++;
    if (index >= indicators.length) { index = 0; }
    currentActiveIndicator = newlyActiveIndicator;
    currentActiveItem = newlyActiveItem;
  }, 5000);

  function removePlaceholder(e) {
    var el = e || window.event;
    if(el.className.indexOf('has-placeholder') === -1) {
      return;
    }
    el.value = '';
    el.className.replace('has-placeholder', '')
  }
- if !@errors.blank?
  javascript:
    setTimeout(function() {
      alert("#{@errors.join('\n').gsub('"',"'").html_safe}")
    }, 750);
