css:
  body {
    margin: 0 auto;
    width: 730px;
  }

  .embibe-iframe__container {
    position: relative;
    height: 563px;
    background-image: url("#{image_path "ts_metro_theme/static-page.jpg"}")
  }

  .embibe-iframe__password-link {
    position: absolute;
    top: 280px;
    left: 50%;
    background: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    margin-left: -135px;
    font-family: arial, tahoma;
    border-radius: 3px;
    color:#00719c;
  }

.embibe-iframe__container
  a.embibe-iframe__password-link href="/users/password/edit?reset_password_token=#{@token}" target="_blank" Click here to set your password
javascript:
