script type="text/ng-template" id="TsMetroTheme.interface.pieChart.html"
  div

script type="text/ng-template" id="TsMetroTheme.interface.help.html"
  section.overlay ng-class="visible ? 'active' : ''" ng-click="visible = false"
    .overlay__container.help__container
    p.click-msg Click anywhere to close help

script type="text/ng-template" id="TsMetroTheme.interface.testOnTest.html"
  span.test-on-test__ylabel ng-bind="label"
  .test-on-test__container
    .test-on-test__legend
      span.test-on-test__item ng-repeat="item in attempts"
        span.test-on-test__item-icon style="background-color: {{item.color}}"
        span.test-on-test__item-text ng-bind="item.label"
    .test-on-test__tooltip ng-show="tooltip" style="top: {{tooltip.top}}px; left: {{tooltip.left}}px; background-color: {{tooltip.color}}"
      span.test-on-test__msg ng-bind="tooltip.msg"
      span.test-on-test__tooltip-heading ng-if="!tooltip.msg"
        | {{tooltip.label}} : {{tooltip.value}}
      span.test-on-test__tooltip-stats ng-if="tooltip.tooltip"
        span.test-on-test__tooltip-stat ng-repeat="stat in tooltip.tooltip"
          span.test-on-test__tooltip-stat-label ng-bind="stat.label"
          span.test-on-test__tooltip-stat-value ng-bind="stat.value"
    svg
    .test-on-test__xaxis Tests Taken


script type="text/ng-template" id="TsMetroTheme.interface.breakdown.html"
  .breakdown__container ng-class="chapters ? 'has-chapters' : ''"
    .breakdown__legend
      span ng-repeat="item in legend"
        span.breakdown__legend-icon style="background-color: {{item.colors[1]}}"
        span.breakdown__legend-text
        	|  {{chapters ? 'No. of ': ''}} {{item.label}}
    ul.breakdown__attempts-axis
      li.breakdown__attempt-tick ng-repeat="tick in ticks" style="top: {{20*$index}}%"
        | {{tick}} -
    span.breakdown__legend-y ng-bind="yaxis"
    .breakdown__attempts.daily
      ul style="list-style: none; padding: 0; margin: 0;"
        li.breakdown__attempt
        li.breakdown__attempt ng-repeat="attempt in attempts" style="width: {{legend.length*30}}px; "
          test-bar layout="vertical" width="'25px'" value="[attempt.newResult[0]]" color="legend[0].colors" style="width: 280px;"
            .breakdown__tooltip style="background-color: {{legend[0].colors[1]}}; left: {{attempt.newResult[0]-10}}%; margin-left: {{!attempt.subjects ? (chapters?-3:-20) : 4}}px"
              .breakdown__stat ng-if="!attempt.subjects"
                span
                  | {{chapters ? 'No. of ': ''}} {{legend[0].label}}:
                span.breakdown__stat-value
                  |  {{attempt.result[0] || 0 }} {{unit}}
              .breakdown__stat ng-if="attempt.subjects" ng-repeat="item in attempt.subjects[0]"
                span ng-bind="item.label"
                span.breakdown__stat-value ng-bind="item.value"
          test-bar layout="vertical" width="'25px'" value="[attempt.newResult[1]]" color="legend[1].colors" style="width: 280px;" ng-if="legend[1]"
            .breakdown__tooltip style="background-color: {{legend[1].colors[1]}}; left: {{attempt.newResult[1]-10}}%; margin-left: {{!attempt.subjects ? (chapters?-3:-20) : 4}}px"
              .breakdown__stat ng-if="!attempt.subjects"
                span
                  | {{chapters ? 'No. of ': ''}} {{legend[1].label}} :
                span.breakdown__stat-value
                  |  {{attempt.result[1] || 0 }} {{unit}}
              .breakdown__stat ng-if="attempt.subjects" ng-repeat="item in attempt.subjects[1]"
                span ng-bind="item.label"
                span.breakdown__stat-value ng-bind="item.value"
          test-bar layout="vertical" width="'25px'" value="[attempt.newResult[2]]" color="legend[2].colors" style="width: 280px;" ng-if="legend[2]"
            .breakdown__tooltip style="background-color: {{legend[2].colors[1]}}; left: {{attempt.newResult[2]-10}}%; margin-left: {{!attempt.subjects ? (chapters?-3:-20) : 4}}px"
              .breakdown__stat ng-if="!attempt.subjects"
                span
                  | {{chapters ? 'No. of ': ''}} {{legend[2].label}} :
                span.breakdown__stat-value
                  |  {{attempt.result[2] || 0}} {{unit}}
              .breakdown__stat ng-if="attempt.subjects" ng-repeat="item in attempt.subjects[2]"
                span ng-bind="item.label"
                span.breakdown__stat-value ng-bind="item.value"
          test-bar layout="vertical" width="'25px'" value="[attempt.newResult[3]]" color="legend[3].colors" style="width: 280px;" ng-if="legend[3]"
            .breakdown__tooltip style="background-color: {{legend[3].colors[1]}}; left: {{attempt.newResult[3]-10}}%; margin-left: {{!attempt.subjects ? -25 : 4}}px"
              .breakdown__stat ng-if="!attempt.subjects"
                span
                  | {{chapters ? 'No. of ': ''}} {{legend[3].label}} :
                span.breakdown__stat-value
                  |  {{attempt.result[3] || 0 }} {{unit}}
              .breakdown__stat ng-if="attempt.subjects" ng-repeat="item in attempt.subjects[3]"
                span ng-bind="item.label"
                span.breakdown__stat-value ng-bind="item.value"
          test-bar layout="vertical" width="'25px'" value="[attempt.newResult[4]]" color="legend[4].colors" style="width: 280px;"  ng-if="legend[4]"
            .breakdown__tooltip style="background-color: {{legend[4].colors[1]}}; left: {{attempt.newResult[4]-10}}%; margin-left: {{!attempt.subjects ? -25 : 4}}px"
              .breakdown__stat ng-if="!attempt.subjects"
                span
                  | {{chapters ? 'No. of ': ''}} {{legend[4].label}} :
                span.breakdown__stat-value
                  |  {{attempt.result[4] || 0 }} {{unit}}
              .breakdown__stat ng-if="attempt.subjects" ng-repeat="item in attempt.subjects[4]"
                span ng-bind="item.label"
                span.breakdown__stat-value ng-bind="item.value"
          a.breakdown__label ng-href="{{attempt.url}}" ng-bind="attempt.label" target="_blank"
        li.breakdown__attempt
    .breakdown__bg
    p.breakdown__label--bottom Tests Taken

script type="text/ng-template" id="TsMetroTheme.interface.test_bar.html"
  .test-bar__container class="{{'test-bar__container--' + layout}}" style="height: {{width}}"
    span.test-bar__tick ng-repeat="tick in tickArr" style="left: {{tick * tickInterval}}%; background-color: {{tick * tickInterval < value[0] ? color[1] : (tick * tickInterval < value[0] + value[1] ? color[3] : (tick * tickInterval < value[0] + value[1] + value[2] ? color[5] : tickColor ))}}"
    span.test-bar__bars style="width: {{value[0]}}%;"
      span.test-bar__bar style="background-color: {{color[0]}}"
      span.test-bar__bar--dark style="width: {{value[0]}}%; background-color: {{color[1]}}"
    div ng-transclude="true"

script type="text/ng-template" id="TsMetroTheme.interface.introEl.imageMap.json"
  = { bottom: asset_path('ts_metro_theme/marker-bottom.png'), top: asset_path('ts_metro_theme/marker-top.png'), left: asset_path('ts_metro_theme/marker-left.png'), right: asset_path('ts_metro_theme/marker-right.png') }.to_json.html_safe

script type="text/ng-template" id="TsMetroTheme.interface.questionPlot.imageMap.json"
  = { embibium: asset_path('ts_metro_theme/graph/embibium.gif'),
      trash: asset_path('ts_metro_theme/graph/trash.gif'),
      timeTroll: asset_path('ts_metro_theme/graph/time-troll.gif'),
      tick: asset_path('ts_metro_theme/graph/tick.gif'),
      cross: asset_path('ts_metro_theme/graph/cross.gif'),
      physicsTick: asset_path('ts_metro_theme/graph/physics-right.png'),
      physicsCross: asset_path('ts_metro_theme/graph/physics-wrong.png'),
      chemistryTick: asset_path('ts_metro_theme/graph/chemisty-right.png'),
      chemistryCross: asset_path('ts_metro_theme/graph/chemistry-wrong.png'),
      mathematicsTick: asset_path('ts_metro_theme/graph/math-right.png'),
      mathematicsCross: asset_path('ts_metro_theme/graph/math-wrong.png'),
      physicsPerfect: asset_path('ts_metro_theme/graph/physics-perfect.png'),
      physicsWasted: asset_path('ts_metro_theme/graph/physics-wasted.png'),
      physicsOvertime: asset_path('ts_metro_theme/graph/physics-overtime.png'),
      chemistryPerfect: asset_path('ts_metro_theme/graph/chemistry-perfect.png'),
      chemistryWasted: asset_path('ts_metro_theme/graph/chemistry-wasted.png'),
      chemistryOvertime: asset_path('ts_metro_theme/graph/chemisty-overtime.png'),
      mathermaticsPerfect: asset_path('ts_metro_theme/graph/math-perfect.png'),
      mathermaticsWasted: asset_path('ts_metro_theme/graph/math-wasted.png'),
      mathermaticsOvertime: asset_path('ts_metro_theme/graph/math-overtime.png')}.to_json.html_safe

script type="text/ng-template" id="TsMetroTheme.interface.globalNav.html"
  div.global-nav__top
    div.global-nav__left
      a href="/"
        img.global-nav__logo.global-nav__logo--main src="#{image_path "ts_metro_theme/logo-white.svg"}"
      img.global-nav__logo.global-nav__logo--round ng-if="subdomainPic" ng-src="subdomainPic"
      i.global-nav__logo.global-nav__logo--round.fa.fa-question-circle ng-if="!subdomainPic" src="#{image_path "ts_metro_theme/help.svg"}" tooltip-html-unsafe="Get your institute to use embibe.<br>  Call +91-766-659-7555" tooltip-placement="bottom"
      a ng-href="{{profileUrl}}"
        img.global-nav__logo.global-nav__logo--round ng-src="{{ userPic || '#{image_path "ts_metro_theme/default_user.jpg"}'}}"
    nav.global-nav__main.abs-center
      a.global-nav__goal ng-repeat="category in categories" ng-click="clickFn('category', category)" ng-class="category == activeCategory ? 'global-nav__goal--active' : ''" ng-bind="category"
    div.global-nav__right
      a.global-nav__top-right-link tooltip="Cart" tooltip-placement="bottom" ng-click="clickFn('cart')"
        i.cart.global-nav__top-right-link-icon
      a.global-nav__top-right-link tooltip="Add friend" tooltip-placement="bottom" ng-click="clickFn('addFriend')"
        i.users.global-nav__top-right-link-icon
      a.global-nav__top-right-link tooltip="QOTD" tooltip-placement="bottom" ng-click="clickFn('qotd')"
        i.qotd.global-nav__top-right-link-icon
      a.global-nav__top-right-link ng-href="{{profileUrl}}" tooltip="Edit profile" tooltip-placement="bottom"
        i.profile.global-nav__top-right-link-icon
      a.global-nav__top-right-link tooltip="Help" tooltip-placement="bottom" ng-click="clickFn('help')"
        i.help.global-nav__top-right-link-icon
      a.global-nav__top-right-link tooltip="Logout" tooltip-placement="bottom" ng-click="clickFn('logout')"
        i.logout.global-nav__top-right-link-icon
  div.global-nav__bottom
    button.global-nav__rank ng-if="statusInfo" ng-click="clickFn('statusBtn')"
      i.fa.fa-lock.global-nav__rank-icon
      span.global-nav__rank-text ng-bind="statusInfo"
    nav.global-nav__nav.abs-center
      a.global-nav__nav-link ng-class="item.active ? 'global-nav__nav-link--active':'';" ng-href="{{item.url}}" ng-repeat="item in navItems[activeCategory]" ng-bind="item.label"
    div.global-nav__right
      div.global-nav__stat ng-if="stats.embibiums"
        img.global-nav__stat-icon src="#{image_path "ts_metro_theme/embibium.png"}"
        span.global-nav__stat-value
          | {{ stats.embibium || 0 }}
        span.global-nav__stat-title embiums earned
      div.global-nav__sep
      div.global-nav__stat ng-if="stats.overtimes"
        img.global-nav__stat-icon src="#{image_path "ts_metro_theme/overtime-white.png"}"
        span.global-nav__stat-value
          |  {{ stats.overtimes || 0 }}
        span.global-nav__stat-title overtime attempts
      div.global-nav__sep
      div.global-nav__stat ng-if="stats.wastedAttempts"
        img.global-nav__stat-icon src="#{image_path "ts_metro_theme/trash-white.png"}"
        span.global-nav__stat-value
          | {{ stats.wastedAttempts || 0 }}
        span.global-nav__stat-title wasted attempts

/Unlock JEE tile
script type="text/ng-template" id="TsMetroTheme.interface.unlockJee.html"
  .tile ng-class="!unlockJee && 'unlock-advanced-progress' || 'jee-advanced-progress'"
    h3 ng-if="!unlockJee"
      | Unlock
      br
      | JEE Advanced
      br
      | for free
    h3 ng-if="unlockJee"
      | Congratulations!
      br
      | You have unlocked
      br
      | JEE Advanced
    ul.clearfix
      li ng-class="$index < count && 'active'" ng-repeat="i in [1,2,3]"
        img[src="#{image_path "ts_metro_theme/250/JEEMain-70.png"}" alt="stats"]

/Section Summary
script type="text/ng-template" id="TsMetroTheme.interface.sectionSummary.html"
  .score ng-class="{Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', LogicalReasoning: 'logicalreasoning'}[section] ? {Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', LogicalReasoning: 'logicalreasoning'}[section] : 'default' "
    .subject-summary
      span.subject-name
        | {{ section }}
      span.subject-score
        | {{ stats[section].marks || '-/-' }}
      span.subject-percentage
        | {{ stats[section].score || '- %' }}
    .feedback-points
      a.bdr-B.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-check.right-tick
          .stat-details
            span.stat-details-count
              | {{ stats[section].correctness || '0' }}
            span.stat-details-text
              | Right answers
      a.bdr-B
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="Embibium"]
          .stat-details
            span.stat-details-count
              | {{ stats[section].embibium || '0' }}
            span.stat-details-text
              | Perfect attempts
      a.bdr-B.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-plus.wrong-tick
          .stat-details
            span.stat-details-count
              | {{ stats[section].wrongness || '0' }}
            span.stat-details-text
              | Wrong answers
      a.bdr-B
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | {{ stats[section].timeTrolls || '0' }}
            span.stat-details-text
              | Overtime attempts
      a.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-ban
          .stat-details
            span.stat-details-count
              | {{ stats[section].nonAttempts || '0' }}
            span.stat-details-text
              | Not Attempted
      a
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-trash-o
          .stat-details
            span.stat-details-count
              | {{ stats[section].wastedAttempts || '0' }}
            span.stat-details-text
              | Wasted attempts
script type="text/ng-template" id="TsMetroTheme.interface.sectionSummaryStats.html"
  .score ng-class="{Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', 'English Proficiency': 'englishproficiency', LogicalReasoning: 'logicalreasoning', 'Logical Reasoning': 'logicalreasoning'}[section] ? {Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', 'English Proficiency': 'englishproficiency', LogicalReasoning: 'logicalreasoning', 'Logical Reasoning': 'logicalreasoning'}[section] : 'default' "
    .subject-summary
      span.subject-name
        | {{ section }}
      span.subject-score
        | {{ stats[section].marks || '-/-' }}
      span.subject-percentage
        | {{ stats[section].score || '- %' }}
    .feedback-points
      a.bdr-B.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-check.right-tick
          .stat-details
            span.stat-details-count
              | {{ stats[section].correctness || '0' }}
            span.stat-details-text
              | Right answers
      a.bdr-B
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-plus.wrong-tick
          .stat-details
            span.stat-details-count
              | {{ stats[section].wrongness || '0' }}
            span.stat-details-text
              | Wrong answers
      a.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-ban
          .stat-details
            span.stat-details-count
              | {{ stats[section].nonAttempts || '0' }}
            span.stat-details-text
              | Not Attempted
      a
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-clock-o
          .stat-details
            span.stat-details-count
              | {{ stats[section].timeTaken || '0' }}
            span.stat-details-text
              | Minutes Taken

script type="text/ng-template" id="TsMetroTheme.interface.sectionSummaryAttempts.html"
  .score ng-class="{Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', 'English Proficiency': 'englishproficiency', LogicalReasoning: 'logicalreasoning', 'Logical Reasoning': 'logicalreasoning'}[section] ? {Physics: 'physics', Chemistry: 'chemistry', Mathematics: 'math', EnglishProficiency: 'englishproficiency', 'English Proficiency': 'englishproficiency', LogicalReasoning: 'logicalreasoning', 'Logical Reasoning': 'logicalreasoning'}[section] : 'default' "
    .subject-summary
      .subject-name
        | {{ section }} Time Management
    .feedback-points
      a.bdr-R.bdr-B
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="Embibium"]
          .stat-details
            span.stat-details-count
              | {{ stats[section].embibium || '0' }}
            span.stat-details-text
              | Perfect attempts
      a.bdr-B.desc href="javascript:;"
        | You got these right within ideal time!
      a.bdr-R.bdr-B
        .stat-holder.clearfix
          .stat-icon
            img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
          .stat-details
            span.stat-details-count
              | {{ stats[section].timeTrolls || '0' }}
            span.stat-details-text
              | Overtime attempts
      a.bdr-B.desc href="javascript:;"
        | You took more than ideal time on these.
      a.bdr-R
        .stat-holder.clearfix
          .stat-icon
            i.fa.fa-trash-o
          .stat-details
            span.stat-details-count
              | {{ stats[section].wastedAttempts || '0' }}
            span.stat-details-text
              | Wasted attempts
      a.desc href="javascript:;"
        | You got these wrong after spending very little time on them.
/Profile Image
script type="text/ng-template" id="TsMetroTheme.interface.profileImage.html"
  img ng-src="{{ src || '#{image_path "ts_metro_theme/default_user.jpg"}' }}" alt="{{ name || 'profile' }}"

/Test Summary
script type="text/ng-template" id="TsMetroTheme.interface.testSummary.html"
  div class="{{ type }}"
    span
      | {{ name[type] }}
    span
      | {{ coverage }}
    span.percent
      | {{ score }}%

/Profile
script type="text/ng-template" id="TsMetroTheme.interface.profile.html"
  img ng-if="uploading" ng-src="{{ '#{image_path "ts_metro_theme/loading.gif"}' }}" alt="Profile pic" class="img-load"
  img ng-if="!uploading" ng-src="{{ src || '#{image_path "ts_metro_theme/default_user.jpg"}' }}" alt="Profile pic"
  label.upload-change for="profilePic" ng-if="!upload" Change Profile Picture
  input#profilePic name="profile-pic" type="file" ng-file-select=""
  h3
    | {{ name }}
  div.upload-file ng-if="upload" ng-transclude=""
  .air-prediction ng-repeat="exam in exams"
    span.wrapper
      span.exam
        | {{exam.title}}
      span.title A.I.R
      span.disclaimer prediction
    span.rank ng-if="airPrediction"
      | {{ exam.airPrediction || '-' }}
    .air-prediction__unlock-overlay ng-if="airPrediction == 'na'"
      | Complete profile to unlock rank prediction
  .profile-completeness
    / help-el="true" help-msg="Check your percentage of profile completion here"
    .progress-bar
      .bar  style="width:{{completion}}%"
        // add active class to show encouraging message
        .fake-tooltip class="{{ui.fakeTooltipVisible}}" {{tooltipMsg || "Great going!"}}
    span.percent-span
      | {{ completion }}%
    span
      | Profile Completed

/Flair
script type="text/ng-template" id="TsMetroTheme.interface.flair.html"
  a href="/" ng-class="type + ' count-is-' + (count || 0) " tooltip-html-unsafe="<div style='width:150px'>Take more tests and earn <br>when you do well!<div>" tooltip-placement="right"
    img.advanced ng-src=image_path("ts_metro_theme/test/JEEAdvanced.png") alt="JEE Advanced badges"
    img.main ng-src=image_path("ts_metro_theme/test/JEEMain.png") alt="JEE Main badges"
    img.bitsat ng-src=image_path("ts_metro_theme/test/BITSAT.png") alt="BITSAT Ace badges"
    .message
      span.zero
        | No {{ officialName[type] }}
        br
        | badges earned yet
      span.count
        | {{ count }}
      span.badge-name
        | {{ name[type] }}

/Stat
script type="text/ng-template" id="TsMetroTheme.interface.stat.html"
  .stat-holder.clearfix class="{{ type }}"
    img ng-src=image_path("ts_metro_theme/embibium.png") alt="Perfect" class="perfect-active"
    img ng-src=image_path("ts_metro_theme/smile.png") alt="Strong" class="strong-active"
    img ng-src=image_path("ts_metro_theme/time-troll.png") alt="Overtime" class="overtime-active"
    i.fa.fa-trash-o title="Wasted" class="wasted-active"

    .stat-details
      .stat-details-count
        | {{ count }}
      .stat-details-text
        | {{ name[type] }}
  p
    | {{ description[type] }}


/Referral Summary
script type="text/ng-template" id="TsMetroTheme.interface.referralSummary.html"
  .referral-summary-holder class="{{ type }}"
    .part
      .head
        | Friends {{ type }}
      .tail
        | {{ number }}
    .part
      .head.center
        | Crystals per invite
      .tail.center
        | {{ crystalsPerType }}
    .part
      .head
        | Total earned
      .tail
        | {{ number * crystalsPerType }}

/Points Earned
script type="text/ng-template" id="TsMetroTheme.interface.pointsEarned.imageMap.json"
  = { embibium: asset_path('ts_metro_theme/embibium.png'), timeTrolls: asset_path('ts_metro_theme/time-troll.png') }.to_json.html_safe

script type="text/ng-template" id="TsMetroTheme.interface.pointsEarned.html"
  .st-holder.clearfix ng-class="type"
    .st-summary
      i.fa.fa-trash-o ng-if="type == 'wastedAttempts'"
      img ng-src="{{ imageMap[type] }}" alt="{{ type }}" ng-if="type != 'wastedAttempts'"
    .st-details
      span.st-count
        | {{ count }}
      span.st-text
        | {{ textMap[type] }}

/Sliding Tile
script type="text/ng-template" id="TsMetroTheme.interface.slidingTile.imageMap.json"
  = { embibium: asset_path('ts_metro_theme/embibium.png'), timeTrolls: asset_path('ts_metro_theme/time-troll.png'), wastedAttempts: asset_path('ts_metro_theme/trash.png'), strongChapters: asset_path('ts_metro_theme/smile.png'), friendsJoined: asset_path('ts_metro_theme/addfriend.svg') }.to_json.html_safe

script type="text/ng-template" id="TsMetroTheme.interface.slidingTile.html"
  .st-holder.clearfix ng-class="type"
    .st-summary
      i.fa.fa-shopping-cart ng-if="type == 'cartItems'"
      i.fa.fa-trash-o ng-if="type == 'wastedAttempts'"
      img ng-src="{{ imageMap[type] }}" alt="{{ type }}" ng-if="type != 'cartItems' && type != 'wastedAttempts'"
      span.st-count
        | {{ count }}
    .st-details
      span.st-count
        | {{ count }}
      span.st-text
        | {{ (type == 'friendsJoined' && count == 1) ? 'Friend Joined' : textMap[type] }}

/Master tile
script type="text/ng-template" id="TsMetroTheme.interface.masterTile.html"
  .inner-tile
    h3.title
      | {{ heading }}
    span.lock ng-show="status == 'locked'" tooltip="{{ title }} {{ heading }}" tooltip-placement="bottom" ng-click="lockFn()" analytics-label=current_user.try(:email) analytics-on="click" analytics-event="Unlock All" analytics-category="Buy"
      i.fa.fa-lock
    span.compare style="{{status != 'locked' ? 'left: 10px' : ''}}" ng-if="showCompare" ng-click="compFn()" help-el="true" help-msg="Check how your exam technique is improving test on test  in {{heading}}"
      img.beforehover src="#{image_path "ts_metro_theme/testontest.svg"}"
      img.onhover src="#{image_path "ts_metro_theme/testontest-white.svg"}"
      span style="position: relative;top: -3px;" Compare Test on Test

/Flip tile
script type="text/ng-template" id="TsMetroTheme.interface.flipTile.html"
  .flip-holder ng-class="status"
    .front
      h3.title
        | {{ heading }}
      span.flip-tile__front-msg ng-bind="frontMessage"
      span.flip-tile__front-timer ng-if="isLive && frontCountdownInit"
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="front.hours"
          span.flip-tile__time-unit hrs
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="front.minutes"
          span.flip-tile__time-unit mins
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="front.seconds"
          span.flip-tile__time-unit secs
      img.flip-button src=image_path("ts_metro_theme/flip-btn.png") alt="Flip Button"
      img.champ-badge src=image_path("ts_metro_theme/badge.png") alt="Champ badge" ng-if="stats.rating=='champ'"
      span.count 2 of 3
      i.fa.fa-bookmark.imp-icon ng-if="isImportant" tooltip="Important chapter"
    .back ng-if="status=='locked' && !isPartTest && !isLive"
      .buy-holder
        span
          | {{ message }}
        button ng-if="price"
          i.fa.fa-rupee
          | {{ price }}
      img.flip-button[src="#{image_path "ts_metro_theme/flip-btn.png"}" alt="flip-btn"]
      i.fa.fa-bookmark.imp-icon ng-if="isImportant" tooltip="Important chapter"
    .back ng-if="(status=='locked' || status=='coming-soon' || status=='fresh') && isPartTest && !isLive"
      ul
        li.clearfix ng-repeat="chapter in chapters track by $index" style="display:block"
          span.bullet
          span.text
            | {{chapter}}
      i.fa.fa-bookmark.imp-icon ng-if="isImportant" tooltip="Important chapter"
    .back ng-if="isLive"
      .buy-holder
        span
          | {{ message }}
      span.flip-tile__front-timer ng-if="isLive && backCountdownInit"
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="back.hours"
          span.flip-tile__time-unit h
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="back.minutes"
          span.flip-tile__time-unit m
        span.flip-tile__countdown
          span.flip-tile__time ng-bind="back.seconds"
          span.flip-tile__time-unit s
      img.flip-button[src="#{image_path "ts_metro_theme/flip-btn.png"}" alt="flip-btn"]
      i.fa.fa-bookmark.imp-icon ng-if="isImportant" tooltip="Important chapter"
    .back ng-if="!isLive && ((status!='locked' && status!='coming-soon' && status!='fresh' && status!='solution') || (status == 'fresh' && !isPartTest))"
      p
        | Summary
      .tile-stats
        .tile-stats-crystals
          img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats"]
          span.tile-stats-text
            | {{ stats.embibium }}
        .tile-stats-crystals
          img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats"]
          span.tile-stats-text
            | {{ stats.timeTrolls }}
        .tile-stats-crystals
          img[src="#{image_path "ts_metro_theme/trash.png"}" alt="stats"]
          span.tile-stats-text
            | {{ stats.wastedAttempts }}
      img.flip-button[src="#{image_path "ts_metro_theme/flip-btn.png"}" alt="flip-btn"]
      i.fa.fa-bookmark.imp-icon ng-if="isImportant" tooltip="Important chapter"

/ Flag Plot
script type="text/ng-template" id="TsMetroTheme.interface.flagPlot.html"
  .summary-map
    / intro-el="true" intro-pos="left" intro-text="Check your test summary here"
    span.stat.air-prediction ng-if="category == 'full_test' && category != 'live_test'"
      span.prediction-holder-rank
        | {{stats.airPrediction || '------'}}
      span.prediction-holder-exam
        | A.I.R
      span.prediction-holder-rank-type
        |  prediction
      a.flag-plot__unlock-overlay ng-if="stats.airPrediction == 'na'" href="/i/profile"
        | Complete profile to unlock rank prediction
    span.stat.embibium help-el="true" help-msg="These are your strongest attempts" help-pos="left" help-offtop="-20" help-class="help-perfect"
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/embibium.png"}" alt="stats-icon"]
        .stat-details
          span.stat-details-count
            | {{stats.embibium || '0'}}
          span.stat-details-text
            | Perfect attempts
    span.stat.wrong help-el="true" help-msg="These questions spoil your time management" help-offTop="7" help-class="help-overtime"
      .stat-holder.clearfix
        .stat-icon
          img[src="#{image_path "ts_metro_theme/time-troll.png"}" alt="stats-icon"]
        .stat-details
          span.stat-details-count
            | {{stats.timeTrolls || '0'}}
          span.stat-details-text
            | Overtimes
    span.stat.trash help-el="true" help-msg="These are your careless mistakes" help-pos="top" help-class="help-wasted" help-offtop="-5" help-offleft="80"
      .stat-holder.clearfix
        .stat-icon
          i.fa.fa-trash-o
        .stat-details
          span.stat-details-count
            | {{stats.wastedAttempts || '0'}}
          span.stat-details-text
            | Wasted attempts
    span.stat.not-attempted
      .stat-holder.clearfix
        .stat-icon
          i.fa.fa-ban
        .stat-details
          span.stat-details-count
            | {{stats.nonAttempts || '0'}}
          span.stat-details-text
            | Not Attempted
  .map-div
    .running-red ng-style="peerFastStyle" ng-if="topper || topper == 0"
      img src="#{image_path "ts_metro_theme/feedback/runningRed.png"}"
      .on-hover ng-if="topper || topper == 0"
        p
          | {{ labels.topper || 'Top user' }}: {{topper}}%
    .running-green ng-style="peerSlowStyle" ng-if="average || average == 0"
      img src="#{image_path "ts_metro_theme/feedback/runningGreen.png"}"
      .on-hover ng-if="average || average == 0"
        p
          | {{ labels.average || 'Average user' }}: {{average}}%
    .runing-black ng-style="userStyle" ng-if="user || user == 0"
      img src="#{image_path "ts_metro_theme/feedback/runningBlack.png"}"
      .on-hover.on-init ng-if="user || user == 0"
        p
          | {{ labels.user || 'You' }}: {{user}}%
          br
          | Score: {{stats.marks}}
    .flag ng-style="flagStyle" ng-if="flag" style="margin-left: 32px"
      img src="#{image_path "ts_metro_theme/feedback/flag.png"}"
      /.on-hover ng-if="flag"
        p
          | {{flag}}%
      span
        | {{ labels.exam == 'JEE Main' ? 'JEE Mains' : (labels.exam ? labels.exam : 'Exam') }}
      span.flag__cutoff-msg
        | Expert teachers say {{flag}}% is expected {{ labels.exam == 'JEE Main' ? 'NIT' : (medical ? 'for admission into govt. medical college' : '' )}} {{ medical ? '' : 'cut off'}}
  .map-scale
    span style="left:0%" 0%
    span style="left:{{user}}%" {{user}}%
    span style="left:{{flag}}%" {{flag}}%
    span style="left:100%;margin-left:-31px;" 100%
script type="text/ng-template" id="TsMetroTheme.interface.inviteByEmail.html"
  .overlay-container
    h3.message GET YOUR FRIENDS EMBIBING NOW!
    form.referralForm data-id="1" style="left: 36%"
      fieldset
        label First Name
        input ng-model='referralModel.first_name' type="text" tabindex="1"
      fieldset
        label Last Name
        input ng-model='referralModel.last_name' type="text" tabindex="2"
      fieldset
        label Mobile No
        input ng-model='referralModel.mobile' type="text" tabindex="3"
      fieldset
        label Email Id
        input ng-model='referralModel.email' type="text" tabindex="4"
      /fieldset
        label Referral Link
        label style="width: 191px;" DASD231D

    form.referralForm.prev data-id="1"
      fieldset
        label First Name
        input ng-model='referralModel.first_name' type="text"
      fieldset
        label Last Name
        input ng-model='referralModel.last_name' type="text"
      fieldset
        label Mobile No
        input ng-model='referralModel.mobile' type="text"
      fieldset
        label Email Id
        input ng-model='referralModel.email' type="text"
      /fieldset
        label Referral Link
        label style="width: 191px;" DASD231D

    .buttons-container
      a#sendInviteBtn.outlineButton href="#" ng-click="addMore()" tabindex="5" Send Invite &amp; Add More
