- landing_page_data ||= {}
- heading_font_size = landing_page_data["header"] ? 25 + (75-landing_page_data["header"].length)/5 : 36;
- heading_small_font_size = heading_font_size*0.75;
header
  .heading-container
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/embibe-logo-landing.png"}" alt="Embibe"
    .login-holder
      a.login-button.btn[href="#login"]
        i.fa.fa-lock
        span
          | Login
      a.header-signup-button.btn href="#sign-up"
        i.fa.fa-user
        | Sign Up
section.above-fold#sign-up.sign-up
  .intro
    .above-fold-details
      h3.above-fold-details-heading
        span style="font-size: 28px"
          | JEE Main 2014 Answer Key and Solutions

      /.pointer.pointer--with-dashed-btn data-scrollreveal="enter left move 5px after 0.2s"
        a.dashed-btn.showAnswerKey href="javascript:;" Click here to see the JEE Main 2014 answer key
      .above-fold-details-feature
	      span.feature-details
	      	ul
	      		li
	            i.fa.fa-check style="margin-right: 10px;"
	            span Quickest way to solve questions with Video solutions
	      		li
	            i.fa.fa-check style="margin-right: 10px;"
	            span 16 exact JEE Main format mock tests with AIR prediction
	      		li
	            i.fa.fa-check style="margin-right: 10px;"
	            span 100+ Physics, Chemistry and Maths chapter & unit tests
      .pointer.pointer--with-marker
        span style="font-size:15px"
          | Fill this form to get answer key with detailed solutions for each question
          img src="#{image_path "ts_metro_theme/marker-right.png"}"

      div.testi-link data-section="testimonial" IITians on Embibe
      div.testi-link.testi-link--right data-section="about" Meet our faculty
    .above-fold-form class=(page == "signup" ? "wobble" : nil)
      = form_for(signup_resource, as: resource_name, url: registration_path(resource_name), html: {class:  "signup-form"} ) do |f|
        - if @request_ids
          = f.hidden_field :facebook_request_ids, value: @request_ids
          = f.hidden_field :uid, value: @uid
        h4
          | Fill this form for detailed solutions
        - [:alert, :notice, :error].each do |fl|
          - if flash[fl] && page == "signup"
            p[class= fl]= flash[fl]
        - if signup_resource.errors.any?
          - signup_resource.errors.full_messages.each do |msg|
            p.error= msg
        fieldset
          = f.hidden_field :intent, value: "jee_2014_solutions"
          = f.text_field :first_name, placeholder: "First Name", required: true, class: signup_resource.errors[:first_name].blank? ? nil : "error", tabindex: 1, maxlength: 30
          = f.text_field :last_name, placeholder: "Last Name", required: true, class: signup_resource.errors[:last_name].blank? ? nil : "error", tabindex: 2, maxlength: 30
        fieldset
          = f.text_field :mobile, placeholder: "Mobile Number", required: true, class: signup_resource.errors[:mobile].blank? ? nil : "error", tabindex: 3, maxlength: 10
          /= f.select :city, cities, placeholder: "City", include_blank: true, required: true, class: signup_resource.errors[:city].blank? ? nil : "error"
          .typeahead
            =f.text_field :city, placeholder: "City", required: true, class: signup_resource.errors[:city].blank? ? nil : "error", autocomplete: "off", tabindex: 4, maxlength: 30
        fieldset
          = f.text_field :email, placeholder: "Email Address", required: true, class: signup_resource.errors[:email].blank? ? "form-email" : "error form-email", autocomplete: "off", tabindex: 5, maxlength: 40
          .typeahead
          = f.hidden_field :primary_goal_name, value: "Engineering"
        fieldset
          = f.password_field :password, placeholder: "Password", required: true,  class: signup_resource.errors[:password].blank? ? nil : "error", autocomplete: "off", tabindex: 6, maxlength: 30
          = f.password_field :password_confirmation, placeholder: "Confirm Password", required: true,  class: signup_resource.errors[:password_confirmation], tabindex: 7, maxlength: 30
          = f.hidden_field :landing_details, value: landing_page_data.to_json
          = f.hidden_field :olark_details, value: {"olark" => nil}.to_json
          = f.check_box :tos, placeholder: "Terms of Service", required: true, checked: true, class: signup_resource.errors[:tos].blank? ? nil : "error", 'style' =>"display:none"
        /fieldset.terms
          label for="user_tos"
            | I agree to Embibe's &nbsp;
            a href="http://www.embibe.com/tos" target="_blank" Terms of Service
            | &nbsp; & &nbsp;
            a href="http://www.embibe.com/privacy_policy" target="_blank" Privacy Policy
        fieldset
          input.form-submit[type="submit" value="View detailed solutions for free!" tabindex="8" ga-track="landing_page, click, signup"]
a.down-arrow href="javascript:;"
    i.fa.fa-chevron-down
a.up-arrow.hidden href="javascript:;"
    i.fa.fa-chevron-up
h4.how-it-works
  | Preparing for JEE Advanced or BITSAT or taking JEE Main Online?
  br
  span.fake-signup-btn style="color:rgb(41, 184, 235);cursor:pointer" Signup
  |  to get India's best test analysis. See how it
  span data-section="feedback-video" style="color:rgb(41, 184, 235);cursor:pointer" works
  | .
javascript:
  var video =
  '<section class="feedback-video">'+
    '<video autoplay loop>'+
      '<source src="#{image_path "ts_metro_theme/feedback.m4v"}" type="video/mp4" />'+
      '<source src="#{image_path "ts_metro_theme/feedback.webm"}" type="video/webm" />'+
      '<source src="#{image_path "ts_metro_theme/feedback.ogv"}" type="video/ogg" />'+
      '<source src="#{image_path "ts_metro_theme/feedback.mp4"}" />'+
    '</video>'+
  '</section>';
  if(!navigator.userAgent.match(/Mobi/i)) {
    document.write(video)
  }
section#about.about.teachers
  .container
    h4 data-scrollreveal="enter bottom"
      | Teachers from India's best institutes challenge you to the online JEE
    ul.team-members.clearfix
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63170633" title="Abhishek Jain"]
          figure.Abhishek-Jain
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Abhishek Jain
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63183244" title="Sanjay Agarwal"]
          figure.Sanjay
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sanjay Agarwal
      li data-scrollreveal="enter top after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63072297" title="Hemant Kumar"]
          figure.Hemant
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Hemant Kumar
      li.text data-scrollreveal="enter right after 0.4s"
        p
          | Our faculty members are passionate about teaching. Between all of them, they have produced thousands of top IIT rankers.
      li data-scrollreveal="enter bottom after 0.5s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074105" title="Sanjay Bahety"]
          figure.Bahety
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sanjay Bahety
      li.teaching data-scrollreveal="enter bottom after 0.1s"
        span
          | Teaching Experience
        ul
          li
            | Aakash
          li
            | Allen
          li
            | Apt Academic
          li
            | Arun Roy Classes
          li
            | Bansal Classes
          li
            | Brilliant Tutorial
          li
            | Career Launcher
          li
            | Career Point
          li
            | FIITJEE
          li
            | HMZ Classes
          li
            | IIT Pratishthan
          li
            | IITians PACE
        ul
          li
            | Motion IIT JEE
          li
            | Narayana
          li
            | Rao IIT Academy
          li
            | Resonance
          li
            | Sri Chaitanya
          li
            | The Scholars Hub
          li
            | Turning Point
          li
            | Vedanta Tutorial
          li
            | Vibrant IITJEE Kota
          li
            | Vidyasagar
          li
            | Yukti Education...
      li data-scrollreveal="enter left after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074484" title="Sunil Kishanchandani"]
          figure.Sunil
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sunil Kishanchandani
      li data-scrollreveal="enter right after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/62986208" title="Rakesh Shah"]
          figure.Rakesh
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Rakesh Shah
      li data-scrollreveal="enter bottom after 0.4s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63070643" title="Amrit Anand"]
          figure.Amrit
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Amrit Anand
      li data-scrollreveal="enter bottom after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63170634" title="Sawaisingh Rajpurohit"]
          figure.Sawai
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Sawaisingh Rajpurohit
      li data-scrollreveal="enter right after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/86096526" title="Nipun Tandon"]
          figure.nipun
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Nipun Tandon
      li data-scrollreveal="enter bottom after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/86096527" title="Girish Kadam"]
          figure.girish
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Girish Kadam
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63072297" title="Atish Agarwal"]
          figure.atish
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Atish Agarwal
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63074482" title="Shashikant Seth"]
          figure.Seth
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Shashikant Seth
      li data-scrollreveal="enter right after 0.3s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63070645" title="MN Singh"]
          figure.MNSingh
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | MN Singh
      li.text data-scrollreveal="enter bottom after 0.4s"
        span
          | Faculty Members
        ul
          li
            | Mumbai
          li
            | Patna
          li
            | Kota
          li
            | New Delhi
          li
            | Hyderabad
        ul
          li
            | Pune
          li
            | Ranchi
          li
            | Indore
          li
            | Vadodara
          li
            | Alwar...
      li data-scrollreveal="enter right after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63159578" title="Prashant Bhatt"]
          figure.Prashant
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Prashant Bhatt
      li data-scrollreveal="enter left after 0.1s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63075625" title="Rajendra Kori"]
          figure.Kori
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Rajendra Kori
      li data-scrollreveal="enter bottom after 0.2s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63183237" title="Harsh Rajpal"]
          figure.Harshal
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Harsh Rajpal
      li.text.alumni data-scrollreveal="enter right after 0.3s"
        span
          | Alumni of
        ul
          li
            | IIT Bombay
          li
            | IIT Delhi
          li
            | IIT Kharagpur
          li
            | IIT Roorkee
          li
            | Delhi University
        ul
          li
            | Mumbai University
      li data-scrollreveal="enter left after 0.4s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63071852" title="Devendra Chandrakar"]
          figure.Devendra
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Devendra Chandrakar
      li data-scrollreveal="enter bottom after 0.5s"
        a[href="javascript:;" target="_blank" data-video="//player.vimeo.com/video/63187774" title="Ranveer Singh"]
          figure.Ranveer
          span.play-video-action
            i.fa.fa-play
            span.faculty-name
              | Ranveer Singh

section#ultimate-test-series.ultimate-test-series.fixed-back
  .footer-msg
      h4
        | Ultimate Test Series
      ul
        li
          i.fa.fa-angle-right
          | Experience the real JEE 2014 online interface
        li
          i.fa.fa-angle-right
          | Know which questions hurt your rank because you wasted time attempting them
        li
          i.fa.fa-angle-right
          | Know which questions you went over time on even if you got them right
        li
          i.fa.fa-angle-right
          | Know which chapters you make perfect attempts on
/section#revision-rocket.revision-rocket.fixed-back
  .container
    h4
      | Revision Rocket
    br
    span
      | BOOST EXAM STRATEGY, REVISE WHAT IS IMPORTANT!
    br
    span
      | SPEED TIPS for the fastest solutions
    br
    span
      | Confidence building HINTS & VIDEO SOLUTIONS
/section.testi-header
  .overlay-c
section#testimonial.testi.testimonial
  section#active-testimonial
    iframe[src="//player.vimeo.com/video/85818152?title=0&api=1&amp;byline=0&amp;portrait=0" width="888" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen]
    /i.fa.fa-play.fat-play-btn onclick="playTestimonial(event)"
  aside
    nav.students.clearfix
      a.active href="javascript:;" data-key="1"
          figure.s-1-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="2"
          figure.s-2-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="3"
          figure.s-3-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="4"
          figure.s-4-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="5"
          figure.s-5-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="6"
          figure.s-6-thumb
          span.inactive-img-overlay
      a href="javascript:;" data-key="7"
          figure.s-7-thumb
          span.inactive-img-overlay
    section#student-info
      h4#testi-name
        | Arjun Rao
      span.city
        | Mumbai, Maharashtra
      span.rank
        | A.I.R &nbsp;
        span#testi-rank 216
      /p.testi
        | &ldquo; Embibe saved me a lot of time &rdquo;
      p.question
        | What was the biggest challenge you faced while preparing for JEE?
      p#testi-challenge.answer
        | The challenge of accuracy by not making silly mistakes and of maintaining a steady focus in the examination.
      p.question
        | What should a student focus in the last 2 months before JEE?
      p#testi-last2months.answer
        | The student must attempt several sample papers in order to develop focus and learn time management.
      p.question
        | What is your favourite Embibe feature and why?
      p#testi-favfeature.answer
        | The feature of weakness detection was a very helpful feature for me.
      p.question
        | What is your advice for JEE Aspirants this year?
      p#testi-advice.answer
        | Study, Study Hard. Study because you love to study.
section#video-overlay.overlay

section#login.overlay class=(page == "login" ? 'active' : nil)
  .overlay-container
    h6
      | Login

    - if login_resource.errors.any?
      - login_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "login"
        p[class= fl]= flash[fl]
    = form_for(login_resource, as: resource_name, url: session_path(resource_name), html: {class:  nil}) do |f|
      = f.text_field :login, placeholder: "Email Id or Mobile Number", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error login" : "login"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error" : nil
      = f.check_box :remember_me, checked: true
      label for="user_checkbox" Keep me logged in
      button.signin-button ga-track="landing_page, click, login"
        i.fa.fa-lock
        span
          =  login_resource.errors.any? ? "Try again" : "Sign In"
      a.forgot-password-tooltip[href="#forgot-password"]
        | Forgot Password?
  button.overlay-close x

section#reset-password.overlay class=(page == "reset-password" ? 'active' : nil)
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button ga-track="landing_page, click, reset_password"
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' : nil)
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send ga-track="landing_page, click, forgot_password"
        i.fa.fa-chevron-right
  button.overlay-close x

footer
  .footer-note
    p
      span Revise the most important questions for JEE 2014!
      a target="_blank" href="http://embibe.com/" ga-track="landing_page, click, footer_main_app_link" title="IIT JEE Practise for free" Start practising for free
  .footer-container
    p.copyright
      | © 2014 Indiavidual Learning Pvt. Ltd.
    nav.footer-nav
      a[href="/pricing" target="_blank"]
        | Plans & Pricing
      a[href="http://www.embibe.com/about_us" target="_blank"]
        | About us
      a[href="http://www.embibe.com/tos" target="_blank"]
        | Terms of Service
      a[href="http://www.embibe.com/privacy_policy" target="_blank"]
        | Privacy Policy
      a[href="http://embibe.freshdesk.com" target="_blank"]
        | FAQ
      a[href="http://www.embibe.com/contact_us" target="_blank"]
        | Contact Us
    nav.social-icons
      a[href="https://www.facebook.com/embibe.me" target="_blank"]
        i.fa.fa-facebook
      a[href="https://twitter.com/embibe" target="_blank"]
        i.fa.fa-twitter