header
  .heading-container
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/embibe-logo-landing.png"}" alt="Embibe"
    .login-holder
      a.login-button.btn[href="#login"]
        i.fa.fa-lock
        span
          | Login
      a.header-signup-button.btn href="#sign-up"
        i.fa.fa-user
        | Sign Up
section.above-fold#sign-up.sign-up.pricing
  .intro
    .above-fold-details
      h3.above-fold-details-heading style="font-weight: 100;font-size: 27px;"
        | The Ultimate Test Series Plans & Pricing
      .tab-nav__pricing
        button.active data-tab="engineering" Engineering
        button data-tab="medical" Medical
      ul.pricing-table.engineering.active
        li.clearfix
          .left
            span.item JEE Main Test Series
            span.pitch
              | 16 full length tests with video solutions and speed tips including
              br
              | 2014 online and offline paper
          .right style="line-height: 84px"
            span.price
              i.fa.fa-rupee
              | 999 /-
        li.clearfix
          .left
            span.item JEE Advanced Test Series
            span.pitch 14 full length tests with video solutions and speed tips
          .right
            i.fa.fa-rupee
            span.price  1499/-
        li.clearfix
          .left
            span.item BITSAT Test Series
            span.pitch
              | 6 full length tests with video solutions and speed tips
              br
              | including english
          .right style="line-height: 84px"
            i.fa.fa-rupee
            span.price  499/-
        li.clearfix
          .left
            span.item Full Length Part Tests
            span.pitch 16 full length tests with personalized feedback
          .right
            i.fa.fa-rupee
            span.price  999/-
        li.clearfix
          .left
            span.item Physics Chapter Wise Tests
            span.pitch 28 chapter wise tests with personalized feedback
          .right
            i.fa.fa-rupee
            span.price  999/-
        li.clearfix
          .left
            span.item Chemistry Chapter Wise Tests
            span.pitch 33 chapter wise tests with personalized feedback
          .right
            i.fa.fa-rupee
            span.price  999/-
        li.clearfix
          .left
            span.item Mathematics Chapter Wise Tests
            span.pitch 31 chapter wise tests with personalized feedback
          .right
            i.fa.fa-rupee
            span.price  999/-
        li.clearfix
          .left
            span.item Combo of all the tests
            span.pitch 16 JEE mains + 14 JEE Advance + 6 BITSAT + 16 Part tests + 28 Physics 26 Chemistry and 31 Mathematics chapter-wise tests
          .right style="height: 86px;line-height: 86px;position: relative; padding: 16px; line-height: 24px;"
            i.fa.fa-rupee
            span.price  7000/-
            br
            span style="position: absolute; height: 2px; width: 65px; background-color: #29b8eb; top: 27px; left: 17px"
            i.fa.fa-rupee
            span.price  6000/-
      ul.pricing-table.medical
        li.clearfix
          .left
            span.item PMT / CET / AIIMS Physics
            span.pitch
              | 31 Chapter-wise Tests
          .right style="line-height: 68px"
            span.price
              i.fa.fa-rupee
              | 999 /-
        li.clearfix
          .left
            span.item PMT / CET / AIIMS Chemistry
            span.pitch
              | 26 Chapter-wise Tests
          .right style="line-height: 68px"
            span.price
              i.fa.fa-rupee
              | 999 /-
        li.clearfix
          .left
            span.item PMT / CET / AIIMS Biology
            span.pitch
              | 38 Chapter-wise Tests
          .right style="line-height: 68px"
            span.price
              i.fa.fa-rupee
              | 999 /-
        li.clearfix
          .left
            span.item AIPMT Test Series
            span.pitch
              | 10 full length tests with video solutions
          .right style="line-height: 68px"
            span.price
              i.fa.fa-rupee
              | 999 /-
    .above-fold-form class=(page == "signup" ? "wobble" : nil)
      = form_for(signup_resource, as: resource_name, url: registration_path(resource_name), html: {class:  "signup-form"} ) do |f|
        - if @request_ids
          = f.hidden_field :facebook_request_ids, value: @request_ids
          = f.hidden_field :uid, value: @uid
        h4
          | Quick Signup for Free Test
        - [:alert, :notice, :error].each do |fl|
          - if flash[fl] && page == "signup"
            p[class= fl]= flash[fl]
        - if signup_resource.errors.any?
          - signup_resource.errors.full_messages.each do |msg|
            p.error= msg
        = f.hidden_field :user_type, value: 'student'
        fieldset
          = f.text_field :first_name, placeholder: "First Name", required: true, class: signup_resource.errors[:first_name].blank? ? nil : "error", tabindex: 1
          = f.text_field :last_name, placeholder: "Last Name", required: true, class: signup_resource.errors[:last_name].blank? ? nil : "error", tabindex: 2
        fieldset
          = f.text_field :mobile, placeholder: "Mobile Number", required: true, class: signup_resource.errors[:mobile].blank? ? nil : "error", tabindex: 3
          /= f.select :city, cities, placeholder: "City", include_blank: true, required: true, class: signup_resource.errors[:city].blank? ? nil : "error"
          .select-box
            =f.text_field :city, placeholder: "City", required: true, class: signup_resource.errors[:city].blank? ? nil : "error", autocomplete: "off", tabindex: 4, style: "width: 98%"
        fieldset
          = f.text_field :email, placeholder: "Email Address", required: true, class: signup_resource.errors[:email].blank? ? nil : "error", autocomplete: "off", tabindex: 5
          .typeahead
            = f.select :primary_goal_name, options_for_select([["Preparing for",nil, {disabled: 'disabled', selected: 'selected'}],*f.object.valid_goal_names], f.object.primary_goal_name), {}, { :tabindex => 6 }
            label.select-arrow for="user_primary_goal_name"
            	i.fa.fa-sort-down
        fieldset
          = f.password_field :password, placeholder: "Password", required: true,  class: signup_resource.errors[:password].blank? ? nil : "error", autocomplete: "off", tabindex: 7
          = f.password_field :password_confirmation, placeholder: "Confirm Password", required: true,  class: signup_resource.errors[:password_confirmation], tabindex: 8
        fieldset.terms
          = f.check_box :tos, placeholder: "Terms of Service", required: true, class: signup_resource.errors[:tos].blank? ? nil : "error", tabindex: 8
          label for="user_tos"
            | I agree to Embibe's
            a href="http://www.embibe.com/tos" target="_blank" Terms of Service
            | &nbsp; & &nbsp;
            a href="http://www.embibe.com/privacy_policy" target="_blank" Privacy Policy
        fieldset
          input.form-submit[type="submit" value="Lets get started!" tabindex="9"]
      .signup-marker
        span Signup to buy
        img src="#{image_path "ts_metro_theme/marker-right.png"}"
section#login.overlay class=(page == "login" ? 'active' :nil )
  .overlay-container
    h6
      | Login

    - if login_resource.errors.any?
      - login_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "login"
        p[class= fl]= flash[fl]
    = form_for(login_resource, as: resource_name, url: session_path(resource_name), html: {class:  nil}) do |f|
      = f.text_field :login, placeholder: "Email Id or Mobile Number", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error login" : "login"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error" : nil
      button.signin-button
        i.fa.fa-lock
        span
          =  login_resource.errors.any? ? "Try again" : "Sign In"
      a.forgot-password-tooltip[href="#forgot-password"]
        | Forgot Password?
  button.overlay-close x

section#reset-password.overlay class=(page == "reset-password" ? 'active' :nil )
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' :nil )
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send
        i.fa.fa-chevron-right
  button.overlay-close x

footer
  .footer-note
    p
      span Take a FREE TEST now
      button.footer-signup-button Sign Up
  .footer-container
    p.copyright
      | © 2014 Indiavidual Learning Pvt. Ltd.
    nav.footer-nav
      a[href="/pricing" target="_blank"]
        | Plans & Pricing
      a[href="http://www.embibe.com/about_us" target="_blank"]
        | About us
      a[href="http://www.embibe.com/tos" target="_blank"]
        | Terms of Service
      a[href="http://www.embibe.com/privacy_policy" target="_blank"]
        | Privacy Policy
      a[href="http://embibe.freshdesk.com" target="_blank"]
        | FAQ
      a[href="http://www.embibe.com/contact_us" target="_blank"]
        | Contact Us
    nav.social-icons
      a[href="https://www.facebook.com/embibe.me" target="_blank"]
        i.fa.fa-facebook
      a[href="https://twitter.com/embibe" target="_blank"]
        i.fa.fa-twitter