header
  .heading-container
    a.logo-holder href=root_path rel="Home"
      img.logo src="#{image_path "ts_metro_theme/embibe-logo-landing.png"}" alt="Embibe"
    .login-holder
      a.login-button.btn[href="#login"]
        i.fa.fa-lock
        span
          | Login
      a.header-signup-button.btn href="#sign-up"
        i.fa.fa-user
        | Sign Up
section.pricing
  br
  br
  br
  h1.text-center.light.section-heading Plans & Pricing
  h3.text-center.light style="position: relative;top: -25px;color: #777;" Start improving your score today with India's best preparation platform for JEE & AIPMT.
  nav.pricing__nav.text-center
    button.pricing__nav-link.pricing__nav-link--active data-pricing="engineering" Engineering
    button.pricing__nav-link data-pricing="medical" Medical
  .pricing__tables-div
    .row.row__pricing.row__pricing--active data-sec="engineering"
      .pricing__card
        .pricing__card-header
          strong.pricing__card-title JEE Practice 2015
        .pricing__card-price
          /strong.pricing__discount.pricing__discount--active Rs. 22,000
          strong.pricing__price Rs. 11,999
          span.block.pricing__extras
            | (combo offer: includes test series)
          span.pricing__validity.block Validity: 1 Year
          /nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 15,999" data-discount="Rs. 22,000" 2 years
            button.pricing__card-year data-price="Rs 11,999" data-discount="Rs. 18,000" 1 year
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 20,000 Questions for Adaptive Practice
            li.pricing__card-feature 10 years+ AIEEE, IIT JEE, BITSAT, JEE Main'13, JEE Advanced '13, JEE Main '14 and Boards
            li.pricing__card-feature All Chapterwise Test Series
            li.pricing__card-feature 5,000+ Video Solutions
            li.pricing__card-feature Hints & Tips to ensure attempt
            li.pricing__card-feature Mobile app to ensure revision on the go
            li.pricing__card-feature Question and Chapterwise time management
            li.pricing__card-feature Chapterwise accuracy and speed tracking
            li.pricing__card-feature All India performance comparison
          a.pricing__card-buy href="http://embibe.com" target="_blank"  Buy Now
      .pricing__card
        .pricing__card-header
          strong.pricing__card-title JEE Practice 2016
        .pricing__card-price
          strong.pricing__price Rs. 15,999
          span.block.pricing__extras
            | (combo offer: includes test series)
          span.pricing__validity.block Validity: 2 Years
          /nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 16,000" data-discount="" 2 years
            li.pricing__card-feature 20,000 Questions for Adaptive Practice
            button.pricing__card-year data-price="Rs 12,000" 1 year
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 20,000 Questions for Adaptive Practice
            li.pricing__card-feature 10 years+ AIEEE, IIT JEE, BITSAT, JEE Main'13, JEE Advanced '13, JEE Main '14 and Boards
            li.pricing__card-feature All Chapterwise Test Series
            li.pricing__card-feature 5,000+ Video Solutions
            li.pricing__card-feature Hints & Tips to ensure attempt
            li.pricing__card-feature Mobile app to ensure revision on the go
            li.pricing__card-feature Question and Chapterwise time management
            li.pricing__card-feature Chapterwise accuracy and speed tracking
            li.pricing__card-feature All India performance comparison
          a.pricing__card-buy href="http://embibe.com" target="_blank" Buy Now
      .pricing__card
        .pricing__card-header
          strong.pricing__card-title JEE Test Series
        .pricing__card-price
          strong.pricing__discount.pricing__discount--active Rs. 7,000
          strong.pricing__price Rs. 6,000
          /nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 5,999" data-discount="Rs. 7,000" 1 years
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 28 Physics chapterwise tests
            li.pricing__card-feature 33 Chemistry chapterwise tests
            li.pricing__card-feature 31 Mathematics chapterwise tests
            li.pricing__card-feature 16 JEE Main full tests including 2013 & 2014 online and offline tests
            li.pricing__card-feature 14 JEE Advanced full tests
            li.pricing__card-feature 6 BITSAT full tests
          a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy Now
    .row.row__pricing data-sec="medical" style="text-align: center"
      .pricing__card  style="min-height: 600px;"
        .pricing__card-header
          strong.pricing__card-title AIPMT Practice Series 2015
        .pricing__card-price
          /strong.pricing__discount.pricing__discount--active Rs. 22,000
          strong.pricing__price Rs. 11,999
          span.block.pricing__validity Validity: 1 Year
          /nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 15,999" data-discount="Rs. 22,000" 2 years
            button.pricing__card-year data-price="Rs 11,999" data-discount="Rs. 18,000" 1 year
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 16,000 Questions for Adaptive Practice
            li.pricing__card-feature 10 years+ PMT, AIPMT, NEET, CBSE, and Boards
            li.pricing__card-feature Hints & Tips to ensure attempt
            li.pricing__card-feature Mobile app to ensure revision on the go
            li.pricing__card-feature Question and Chapterwise time management
            li.pricing__card-feature Chapterwise accuracy and speed tracking
            li.pricing__card-feature All India performance comparison
          a.pricing__card-buy href="http://embibe.com" target="_blank" Buy Now
      .pricing__card style="min-height: 600px;"
        .pricing__card-header
          strong.pricing__card-title AIPMT Practice Series 2016
        .pricing__card-price
          strong.pricing__price Rs. 15,999
          span.block.pricing__validity Validity: 2 Years
          /nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 16,000" 2 years
            button.pricing__card-year data-price="Rs 12,000" 1 year
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 16,000 Questions for Adaptive Practice
            li.pricing__card-feature 10 years+ PMT, AIPMT, NEET, CBSE, and Boards
            li.pricing__card-feature Hints & Tips to ensure attempt
            li.pricing__card-feature Mobile app to ensure revision on the go
            li.pricing__card-feature Question and Chapterwise time management
            li.pricing__card-feature Chapterwise accuracy and speed tracking
            li.pricing__card-feature All India performance comparison
          a.pricing__card-buy href="http://embibe.com" target="_blank" Buy Now
      /.pricing__card
        .pricing__card-header
          strong.pricing__card-title Test Series
        .pricing__card-price
          strong.pricing__discount.pricing__discount--active Rs. 3,600
          strong.pricing__price Rs. 2,999
          nav
            button.pricing__card-year.pricing__card-year--active data-price="Rs 2,999" data-discount="Rs. 3,600" 1 year
        .pricing__card-features
          ul.pricing__card-feature-list
            li.pricing__card-feature 100 Chapter wise tests of P+C+B
            li.pricing__card-feature Detail solutions of each question
          button.pricing__card-buy Buy Now
  h1.text-center.light Test yourself with India's Ultimate Test Series!
  .pricing__accordion
    .pricing__accordion-header.active
      | Engineering
      /i.fa.fa-minus
      i.fa.fa-plus
    .pricing__accordion-content
      table
        thead
          th width="25%" Product
          th width="50%" Description
          th width="10%" Price
          th width="5%"
            | &nbsp;
        tbody
          /tr
            td Combo of all tests
            td.pricing__description 16 JEE main + 14 JEE Advanced + 6 BITSAT + 16 Part tests + 28 Physics + 26 Chemistry and 31 Mathematics chapter-wise tests
            td
              span style="text-decoration: line-through;display: block;margin-bottom: 5px;margin-top: -10px;" 7,000
              span style="color: #f22133" 6,000
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td JEE Main Test Series
            td.pricing__description 16 full length tests with video solutions and speed tips including 2014 online and offline paper
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td JEE Advanced Test Series
            td.pricing__description 14 full length tests with video solutions and speed tips
            td 1,499
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td BITSAT Test Series
            td.pricing__description 6 full length tests with video solutions and speed tips including english
            td 499
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td Full Syllabus Part Tests
            td.pricing__description 16 full length tests with personalized feedback
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td Physics Chapterwise Tests
            td.pricing__description 28 chapter wise tests with personalized feedback
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td Chemistry Chapterwise Tests
            td.pricing__description 33 chapter wise tests with personalized feedback
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td Mathematics Chapterwise Tests
            td.pricing__description 31 chapter wise tests with personalized feedback
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now

    .pricing__accordion-header
      | Medical
      /i.fa.fa-minus
      i.fa.fa-plus
    .pricing__accordion-content
      table
        thead
          th Product
          th Description
          th Price
          th
            | &nbsp;
        tbody
          tr
            td PMT/AIPMT Physics
            td.pricing__description 31 Chapter-wise Tests
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td PMT/AIPMT Chemistry
            td.pricing__description 26 Chapter-wise Tests
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
          tr
            td PMT/AIPMT Biology
            td.pricing__description 38 Chapter-wise Tests
            td 999
            td
              a.pricing__card-buy href="http://ultimate.embibe.com" target="_blank" Buy now
  br
  br
section#login.overlay class=(page == "login" ? 'active' :nil )
  .overlay-container
    h6
      | Login

    - if login_resource.errors.any?
      - login_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "login"
        p[class= fl]= flash[fl]
    = form_for(login_resource, as: resource_name, url: session_path(resource_name), html: {class:  nil}) do |f|
      = f.text_field :login, placeholder: "Email Id or Mobile Number", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error login" : "login"
      = f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: login_resource.errors.any? ? "error" : nil
      button.signin-button
        i.fa.fa-lock
        span
          =  login_resource.errors.any? ? "Try again" : "Sign In"
      a.forgot-password-tooltip[href="#forgot-password"]
        | Forgot Password?
  button.overlay-close x

section#reset-password.overlay class=(page == "reset-password" ? 'active' :nil )
  .overlay-container
    h6
      | Change your Password
    - if reset_resource.errors.any?
      - reset_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "reset-password"
        p[class= fl]= flash[fl]
    = form_for(reset_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "reset-password-form"}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, placeholder: "Your New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password"
      = f.password_field :password_confirmation, placeholder: "Confirm New Password..", required: true, class: reset_resource.errors.any? ? "error" : nil, id: "reset_user_password_confirmation"
      button.signin-button
        i.fa.fa-refresh
        span
          =  reset_resource.errors.any? ? "Try again" : "Reset my password"
  button.overlay-close x

section#forgot-password.overlay class=(page == "forgot-password" ? 'active' :nil )
  .overlay-container
    h4.forgot-password-message
      | Forgot your password?
    - if forgot_resource.errors.any?
      - forgot_resource.errors.full_messages.each do |msg|
        p.error= msg
    - [:alert, :notice, :error].each do |fl|
      - if flash[fl] && page == "forgot-password"
        p[class= fl]= flash[fl]
    = form_for(forgot_resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.text_field :email, placeholder: "Your Registered Email Id", class: forgot_resource.errors.any? ? "error forgot-password-email" : "forgot-password-email", id: 'forgot_password_user_email', autocomplete: 'off'
      button.send
        i.fa.fa-chevron-right
  button.overlay-close x

footer
  /.footer-note
    p
      span Take a FREE TEST now
      button.footer-signup-button Sign Up
  .footer-container
    p.copyright
      | © 2014 Indiavidual Learning Pvt. Ltd.
    nav.footer-nav
      a[href="/pricing" target="_blank"]
        | Plans & Pricing
      a[href="http://www.embibe.com/about_us" target="_blank"]
        | About us
      a[href="http://www.embibe.com/tos" target="_blank"]
        | Terms of Service
      a[href="http://www.embibe.com/privacy_policy" target="_blank"]
        | Privacy Policy
      a[href="http://embibe.freshdesk.com" target="_blank"]
        | FAQ
      a[href="http://www.embibe.com/contact_us" target="_blank"]
        | Contact Us
    nav.social-icons
      a[href="https://www.facebook.com/embibe.me" target="_blank"]
        i.fa.fa-facebook
      a[href="https://twitter.com/embibe" target="_blank"]
        i.fa.fa-twitter