script type="text/ng-template" id="TsMetroTheme.interface.introEl.imageMap.json"
  = { bottom: asset_path('ts_metro_theme/marker-bottom.png'), top: asset_path('ts_metro_theme/marker-top.png'), left: asset_path('ts_metro_theme/marker-left.png'), right: asset_path('ts_metro_theme/marker-right.png') }.to_json.html_safe

script type="text/ng-template" id="TsMetroTheme.test.instructions.html"
  .text-center
    h1.instructions__main-title Instructions
    strong.instructions__title Please read the following instructions carefully before starting the test.
  .instructions__instructions
    h2.instructions__heading Marks and Duration:
    ol ng-if="exam == 'JEE Advanced' && name == 'Test 7 A'"
      li
        | Total duration of this test is 180 minutes.
      li
        | There are 3 sections in the question paper consisting of Physics, Chemistry and Mathematics having 20 questions in each section.
      li
        | In each section. Question No. 1 to 10 is MCQ with 4 options in which one or more than one may be correct. Three (3) marks would be allotted for correct response (All the correct options should be marked).
      li
        | Question No. 11 to 20 is integer type  questions, In which as an answer you have to put an Integer from 0 to 9 in the box provided which is allotted 3 (three) marks for correct response
      li
        | Candidates will be awarded marks as stated above in instruction No. 3 and 4 for correct response of question. (0) No marks will be deducted indicating incorrect response of multiple choice question and integer type question.
      li
        | No deduction from the total score will be made if no response is indicated.
    ol ng-if="exam == 'JEE Advanced' && name == 'Test 7B'"
      li
        | Total duration of this test is 180 minutes.
      li
        | There are 3 sections in the question paper consisting of Physics, Chemistry and Mathematics having 20 questions in each section.
      li
        | Question No. 1 to 10 is MCQ which has only one option correct which is allotted 3 (Three) marks for correct response.

      li
        | Question No. 11 to 16 is Linked Comprehension questions which is allotted 3 (Three) marks for correct response and Question No. 17 to 20 is Matrix match type question which is  allotted 3 (three ) marks for correct response.
      li
        | Candidates will be awarded marks as stated above in instruction No. 3 and 4  for correct response of question.(1) (One) marks will be deducted indicating incorrect response of Single option correct questions and Linked Comprehension questions and Matrix match type questions
      li
        | No deduction from the total score will be made if no response is indicated.
    ol ng-if="['jee_advanced_A', 'jee_advanced_B'].indexOf(instructionType) > -1 && name!= 'Test 7 A' && name != 'Test 7B'"
      li ng-if="subjects.length == 1"
       | There is 1 section in the question paper consisting of {{ subjectList }} having {{ questions/subjects.length }} questions
      li ng-if="subjects.length > 1"
       | There are {{ subjects.length }} sections in the question paper consisting of {{ subjectList }} having {{ questions/subjects.length }} questions in each section.
      li
       | Max. Marks are {{ subjects.length == 3 ? 180 : 60 }} and Time allotted is {{ duration || 180 }} min.
      li ng-if="instructionType == 'jee_advanced_A' && subjects.length == 1"
       | Question No. 1 to 10 is Multiple choice question (one and more than one option correct) which is allotted 3 (three) marks for correct response. Question No. 11 to 20 is Integers type question (Integers from 0 to 9) which is allotted 3 (Three) marks for correct response.
      li ng-if="instructionType == 'jee_advanced_A' && subjects.length > 1"
       | In each section Question No. 1 to 10 is Single choice question (Only one option correct) which is allotted 2 (two) marks for correct response. Question No. 11 to 15 is Multiple choice questions (More than one option is correct) which is allotted 4 (four) marks for correct response and Question No. 16 to 20 is Integers type question (Integers from 0 to 9) which is allotted 4 (four) marks for correct response.
      li ng-if="instructionType == 'jee_advanced_B' && subjects.length == 1"
       | Question No. 1 to 10 are single choice questions which are allotted 3 (Three) marks for correct response. Question No. 11 to 14 is Matrix match type questions which is allotted 3 (Three) marks for correct response and Question No. 15 to 20 is Linked Comprehension question which is  allotted 3 (three ) marks for correct response.
      li ng-if="instructionType == 'jee_advanced_B' && subjects.length > 1"
       | In each Section, Question No. 1 to 8 is Multiple choice questions which are allotted 3 (Three) marks for correct response. Question No. 9 to 16 is Linked Comprehension questions which is allotted 3 (Three) marks for correct response and Question No. 17 to 20 is Matrix match type question which is  allotted 3 (three ) marks for correct response.
      li
       | No deduction from the total score will be made if no response is indicated.
      li ng-if="instructionType == 'jee_advanced_A' && subjects.length == 1"
       | Candidates will be awarded marks as stated above in instruction No. 3 for correct response of question. (0) (zero) mark will be deducted on indicating incorrect response of multiple choice question and integer type question.
      li ng-if="instructionType == 'jee_advanced_A' && subjects.length > 1"
       | Candidates will be awarded marks as stated above in instruction No. 3 for correct response of question. (0) (zero) mark will be deducted on indicating incorrect response of Single choice question. And (1) (One) mark will be deducted indicating incorrect response of multiple choice question and integer type question.
      li ng-if="instructionType == 'jee_advanced_B' && subjects.length == 1"
       | Candidates will be awarded marks as stated above in instruction No. 3 for correct response of question. 1 (One) mark will be deducted indicating incorrect response of all types of questions, that is, Single  choice question, Linked Comprehension questions and Matrix match type questions.
      li ng-if="instructionType == 'jee_advanced_B' && subjects.length > 1"
       | Candidates will be awarded marks as stated above in instruction No. 3 for correct response of question. 1 (One) mark will be deducted indicating incorrect response of all types of questions, that is, Multiple choice question, Linked Comprehension questions and Matrix match type questions.

    ol ng-if="exam != 'JEE Advanced' || instructionType == 'jee_advanced_mini'"
      li
        | Total length of this test is {{ duration || 180 }} minutes.
      li ng-if="exam !=  'BITSAT'"
        | There will be {{ questions || 90 }} questions and {{ duration || 180 }} minutes duration will be given to attempt these questions.
      li ng-if="exam ==  'BITSAT'"
        | There will be 150 questions and 180 minutes duration will be given to attempt these questions.
      li ng-if="exam == 'AIPMT'"
        | There are {{ subjects.length }} sections in the question paper consisting of Physics, Chemistry and Biology having {{ questions/4 }}, {{ questions/4 }} and {{ questions/2 }} questions in each section respectively.
      li ng-if="exam == 'MH-CET'"
        | There are {{ subjects.length }} sections in the question paper consisting of Physics, Chemistry, Biology having 50, 50 and 100 questions respectively in each section.
      li ng-if="exam ==  'BITSAT'"
        | There are 5 sections in the question paper consisting of Physics , chemistry , mathematics ,Logical reasoning , English  Proficiency having  40(Physics)  , 40( chemistry) , 45 (Mathematics) , 10 (Logical reasoning), and 15 ( English proficiency) questions  respectively.
      li ng-if="subjects.length != 1 && exam != 'AIPMT' && exam != 'MH-CET' && exam != 'BITSAT'"
        | There are {{ subjects.length }} sections in the question paper consisting of {{subjects.join(', ').trim(', ')}} having {{ questions/subjects.length}} questions in each section.
      li ng-if="subjects.length == 1 && exam != 'AIPMT' && exam != 'MH-CET'"
        | There is {{ subjects.length }} section in the {{subjects.join(', ').trim(', ')}} question paper having {{ questions/subjects.length}} questions.
      li ng-if="exam == 'MH-CET'"
        | Each question is allotted 1 (one) marks for correct response.
      li ng-if="exam != 'MH-CET'"
        | Each question is allotted {{ (exam == 'BITSAT' || name == 'Part Test: Mechanics A' || name == 'Part Test: Mechanics B' || name == 'Chapter Test: Electrostatics A' || name == 'Chapter Test: Electrostatics B') ? '3 (three)' : '4 (four)'}} marks for correct response.
      li ng-if="exam == 'MH-CET'"
        | Candidates will be awarded marks as stated above in instruction No. 4 for correct response of each question. No marks will be deducted for indicating incorrect response of each question.
      li ng-if="name != 'Part Test: Mechanics A' && name != 'Part Test: Mechanics B' && name != 'Chapter Test: Electrostatics A' && name != 'Chapter Test: Electrostatics B' && exam != 'MH-CET'"
        | Candidates will be awarded marks as stated above in instruction No. 4 for correct response of each question. {{ exam == 'BITSAT' ? ' 1 (one) mark' : '(1/4) (one fourth) marks' }} will be deducted for indicating incorrect response of each question. No deduction from the total score will be made if no response is indicated.
      li ng-if="name == 'Part Test: Mechanics A' || name == 'Part Test: Mechanics B' || name == 'Chapter Test: Electrostatics A' || name == 'Chapter Test: Electrostatics B'"
        | Candidates will be awarded marks as stated above in instruction No. 4 for correct response of each question.  {{ name == 'Part Test: Mechanics A' ||  name == 'Chapter Test: Electrostatics A' ? ' 0 (zero) marks' : '(1) (one) mark' }} will be deducted for indicating incorrect response of each question. No deduction from the total score will be made if no response is indicated.
      li ng-if="exam == 'MH-CET' || exam == 'BITSAT' "
        | No deduction from the total score will be made if no response is indicated.
    h2.instructions__heading Navigation :
    ol start="6"
      li
        | There is a countdown timer on the top-right hand side of your screen. It is an increasing timer which shows the time left for you to finish the test. The test will end itself when the timer reaches zero.  You are not required to manually click on the submit button.
      li
        | Please select the question number in the question navigation box to open the question.
      li
        | Select the answer for a multiple choice question.
      li
        | Click on the Save button to save your answer and then navigating to the next question.
      li
        | Click Review later for saving the answer for review and going to the next question.
      li
        | If you click on any question without saving the answer for the current question, answer for the current question will not be saved.
      li
        | If you click on the All Questions button, you will be able to see all the questions. However, options for the multiple choice questions will not be shown.
      li
        | The Question Navigation Box shown on the right hand side of your screen will give you the status of each question using one of the following symbols:
        dl
          dt
            button.instructions__not-visited title="Not Visited" 1
          dd Questions not visited.
          dt
            button.instructions__not-answered title="Not Answered" 3
          dd Questions not answered.
          dt
            button.instructions__answered title="Answered" 5
          dd Questions answered
          dt
            button.instructions__review title="Not Answered & Mark For Review" 7
          dd Questions not answered, but marked for review.
          dt
            button.instructions__review-answered title="Answered & Mark For Review"
              | 9
              i.fa.fa-check
          dd Questions answered, but marked for review.
        p
          | If you have answered the question and you have marked the question for review, your answer for that question will be considered in the score calculation.

    ol start="14"
      li
        | To answer the multiple choice question,
      li
        | To select the answer, please click on the radio button for that option.
      li
        | You have to click
        strong  Save
        |  button to save the answer.
      li
        | By clicking on
        strong  Review Later
        |  button, you can mark the question for later review. The selected option will be considered for the score calculation.
      li
        | To answer a Numerical Answer Type question
        ul style="margin: 10px 0"
          li Use virtual numeric keyboard to enter a number as your answer
          li A fraction (e.g.  0.5 or -.5)  can be entered as an answer with or without '0' before the decimal point.
          li Click on Clear Selection to clear the answer
          li You must click on the Save button to save your answer.
          li By clicking on "Review Later" button, you can mark the question for later review. The selected option will be considered for the score calculation.
      li
        | Only questions which are Saved or Review later after answering, will be considered for the score calculations.
      li
        | All the Sections in the Test are displayed on the top bar of the screen. You can navigate through any Section by clicking on it.

    h2.instructions__heading Choosing an Optional Section :
    ol start="21"
      li
        | If the checkbox for the optional section is not selected, Save button and the Mark for Review Later button will NOT be enabled for that particular section. You will not be able to answer the question but you can only view them.
      li
        p Sections in this question paper are displayed on the top bar of the screen. Questions in a Section can be viewed by clicking on the name of that Section. The Section you are currently viewing is highlighted.
      li
        p A checkbox is displayed for every optional Section in the Question Paper. To select an optional Section for answering, click on the checkbox for that Section.
      li
        | If the checkbox for an optional Section is not selected, the
        strong  Save
        |  button and the
        strong  Review Later
        |  button will NOT be enabled for that Section. You will be able to only see questions in the Section, but you will not be able to answer questions in the Section.
      li
        | After clicking the
        strong  Save
        |  button for the last question in a Section, you will automatically be taken to the first question of the next Section in sequence.
      li
        | After answering the chosen optional sections, partly or completely, you can change an optional section by selecting a checkbox for a new Section that you want to attempt. You will get a warning message with a table showing the number of questions answered in each of the previously chosen optional Sections and a checkbox against each of these sections. Click on a checkbox against a Section that you want to reset and then click on the RESET button. Note that RESETTING a Section will DELETE all the answers for questions in that Section. Hence, if you think that you may want to select this Section again later, you will have to note down your answers for questions in that Section. If you do not want to reset any Section and want to continue answering the previously chosen optional Sections, then click on the BACK button.
      li
        | You can move the mouse cursor over the name of a Section to view the answering status for that Section.


script type="text/ng-template" id="TsMetroTheme.test.questionButton.html"
  button.small ng-class="classMap[type] || type "
    | {{ value || '―'  }}
    i.fa.fa-check ng-if="type == 'review_answered'"

script type="text/ng-template" id="TsMetroTheme.test.sectionButton.html"
  button.subject
    | {{ name }}
  .legend
    h3
      | {{ name }}
    ul
      li
        span Answered:
        button.answered
          | {{ stats.answered }}
      li
        span Not Answered:
        button.not_answered
          | {{ stats.notAnswered }}
      li
        span Marked for Review:
        button.review
          | {{ stats.marked }}
      li
        span Not Visited:
        button.not_visited
          | {{ stats.notVisited }}
